Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Refactor workflow names for consistency and clarity
  .github/path-filters-optimized.yml
  .github/workflows/automated-label-management.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/container-startup-validation.yml
  .github/workflows/manual-snapshot-publisher.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-build-smoke.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-validation.yml
  .github/workflows/publish-main.yml
  .github/workflows/security.yml
  .github/workflows/selective-pr-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
  .github/workflows/structure-validation.yml
Due: prettier --write

refactor: remove path filter validation workflow and simplify PR validation process
  .github/path-filters-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

feat: add live Discord API integration test for Cova identity (#323)
  .github/path-filters-optimized.yml
  .github/workflows/automated-label-management.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/container-startup-validation.yml
  .github/workflows/manual-snapshot-publisher.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-build-smoke.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-validation.yml
  .github/workflows/publish-main.yml
  .github/workflows/security.yml
  .github/workflows/selective-pr-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
  .github/workflows/structure-validation.yml
  apps/covabot/src/index-minimal.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tests/e2e/identity-live.e2e.test.ts
Due: eslint --fix, prettier --write

fix: use inline path filters in publish-main workflow
  .github/workflows/publish-main.yml
Due: prettier --write

fix: use inline path filters in publish-main workflow (#324)
  .github/workflows/publish-main.yml
Due: prettier --write

feat: add manual image builder and release workflows
  .github/workflows/build-images.yml
  .github/workflows/release.yml
Due: prettier --write

feat: add manual image builder and release workflows (#325)
  .github/workflows/build-images.yml
  .github/workflows/release.yml
Due: prettier --write

chore(release): bump version to v1.2.0
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
  packages/shared/package.json
Due: prettier --write

chore: update package-lock.json files for v1.2.0
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/starbunk-dnd/package-lock.json
  package-lock.json
  packages/shared/package-lock.json
Due: prettier --write

chore: update package-lock.json files for v1.2.0 (#326)
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/starbunk-dnd/package-lock.json
  package-lock.json
  packages/shared/package-lock.json
Due: prettier --write

fix: resolve pipeline failures in main deployment workflow
  .github/workflows/publish-main.yml
  packages/shared/tsconfig.json
Due: prettier --write

refactor: split change detection into separate jobs per container
  .github/workflows/pr-validation.yml
Due: prettier --write

feat: add git tags and Docker latest tags for all containers
  .github/workflows/pr-validation.yml
Due: prettier --write

refactor: move git tagging to separate jobs
  .github/workflows/pr-validation.yml
Due: prettier --write

refactor: restructure PR validation into 4-stage pipeline
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: only tag PR Docker images with pr-{number}, not latest
  .github/workflows/pr-validation.yml
Due: prettier --write

refactor: standardize workflow and job names for consistency
  .github/workflows/pr-validation.yml
  .github/workflows/publish-main.yml
Due: prettier --write

fix: resolve pipeline failures in main deployment workflow (#327)
  .github/workflows/pr-validation.yml
  .github/workflows/publish-main.yml
  packages/shared/tsconfig.json
Due: prettier --write

chore(release): bump version to v1.2.1
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
Due: prettier --write

fix: resolve pipeline failures
  package-lock.json
  packages/shared/package.json
  packages/shared/src/testing/llm/__tests__/MockLLMProvider.test.ts
Due: eslint --fix, prettier --write

Fix pipeline failures on main branch (#328)
  package-lock.json
  packages/shared/package.json
  packages/shared/src/testing/llm/__tests__/MockLLMProvider.test.ts
Due: eslint --fix, prettier --write

fix: add missing GHCR cleanup utilities for PR cleanup workflow
  .github/scripts/ghcr-cleanup-utils.js
Due: none

fix: resolve pipeline failures - add missing GHCR cleanup utilities (#329)
  .github/scripts/ghcr-cleanup-utils.js
Due: none

feat(release): implement environment-based tagging for releases
  .github/workflows/release.yml
Due: prettier --write

Eliminate hardcoded container list duplication in release workflow (#333)
  .github/workflows/release.yml
Due: prettier --write

Eliminate duplicated environment tag logic in release workflow (#332)
  .github/workflows/release.yml
Due: prettier --write

Remove hardcoded container list duplication in release workflow (#331)
  .github/workflows/release.yml
Due: prettier --write

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: prettier --write

Fix duplicate needs/strategy declarations in release workflow (#334)
  .github/workflows/release.yml
Due: prettier --write

feat: Add async Ollama model auto-pull with comprehensive metrics
  apps/covabot/src/services/llmService.ts
  config/env/.env.example
  infrastructure/docker/docker-compose.yml
Due: eslint --fix, prettier --write

Remove redundant container list definition in release workflow (#335)
  .github/workflows/release.yml
Due: prettier --write

Fix env context usage in matrix strategy by moving containers to job output (#336)
  .github/workflows/release.yml
Due: prettier --write

feat(release): Implement environment-based tagging for releases (#330)
  .github/workflows/release.yml
Due: prettier --write

chore(release): bump version to v1.3.0
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
Due: prettier --write

fix: Rename unused parseError to _parseError for linting
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

fix: Address PR review comments
  apps/covabot/src/services/llmService.ts
  config/env/.env.example
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
