Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

remade attitude bot
  src/starbunk/bots/reply-bots/attitudeBot.ts
Due: eslint --fix, prettier --write

cursor stuff
  .cursor/rules/architecture.mdc
  .cursor/rules/casing.mdc
  .cursor/rules/discord.mdc
  .cursor/rules/error-handling.mdc
  .cursor/rules/performance.mdc
  .cursor/rules/spot-check.mdc
  .cursor/rules/style.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/tooling.mdc
  .cursor/rules/typescript.mdc
Due: none

update/reply-bots, logger DI
  .vscode/launch.json
  package-lock.json
  package.json
  src/config.ts
  src/services/Logger.ts
  src/services/LoggerAdapter.ts
  src/services/LoggerFactory.ts
  src/services/MockLogger.ts
  src/starbunk/bots/botConstants.ts
  src/starbunk/bots/reply-bots/attitudeBot.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/botBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/replyBot.ts
  src/starbunk/bots/voice-bots/guyChannelBot.ts
  src/starbunk/bots/voiceBot.ts
  src/starbunk/commands/play.ts
  src/starbunk/dJCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

tests/made tests
  jest.config.js
  package-lock.json
  package.json
  src/starbunk/bots/__tests__/attitudeBot.test.ts
  src/starbunk/bots/__tests__/babyBot.test.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/botBot.test.ts
  src/starbunk/bots/__tests__/chaosBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/ezioBot.test.ts
  src/starbunk/bots/__tests__/gundamBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
  src/starbunk/bots/__tests__/holdBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/__tests__/niceBot.test.ts
  src/starbunk/bots/__tests__/pickleBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  src/tests/setup.ts
Due: eslint --fix, prettier --write

added gha
  .github/branch-protection-setup.md
  .github/workflows/pr-update.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

some more
  .github/TESTING.md
  .github/workflows/pr-update.yml
Due: prettier --write

musicCorrectBotWorks
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/botConstants.ts
Due: eslint --fix, prettier --write

docs/basic readmes
  README.md
  src/snowbunk/README.md
  src/starbunk/bots/quickstart.md
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/voice-bots/README.md
Due: prettier --write

added exception handling to replybot
  src/starbunk/bots/replyBot.ts
Due: eslint --fix, prettier --write

update/gha actions
  .github/workflows/build-docker-image.yml
  .github/workflows/destroy-docker-image.yml
  .github/workflows/pr-merge.yml
  .github/workflows/pr-update.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

commit something
  Dockerfile
Due: none

more
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: prettier --write

commit something (#133)
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: prettier --write

github broke
  .github/workflows/pr-update.yml
Due: prettier --write

gha update
  .github/workflows/build-docker-image.yml
  .github/workflows/destroy-docker-image.yml
  .github/workflows/merge-actions.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-merge.yml
  .github/workflows/pr-update.yml
  README.md
Due: prettier --write

messaging
  .github/workflows/merge-actions.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

split them up
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/merge-actions.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/setup.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

fix unit test
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

fix i hope
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/setup.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

just took what i had
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/merge-actions.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/security.yml
  .github/workflows/unit-tests.yml
Due: prettier --write

ugh
  .github/workflows/pr-checks.yml
Due: prettier --write

Fix Docker build by updating Node version and handling missing yarn.lock
  Dockerfile
Due: none

github broke (#134)
  .github/workflows/build-docker-image.yml
  .github/workflows/destroy-docker-image.yml
  .github/workflows/main.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-merge.yml
  .github/workflows/pr-update.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/security.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  README.md
Due: prettier --write

fix: removed yarn
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

fix: i doubt it
  Dockerfile
Due: none

fix: question marl
  package-lock.json
Due: prettier --write

fixed type checl
  package-lock.json
  package.json
  src/starbunk/bots/reply-bots/attitudeBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/vennDiagram.ts
  src/starbunk/bots/voice-bots/guyChannelBot.ts
  src/starbunk/bots/voiceBot.ts
  src/starbunk/starbunkClient.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: update Dockerfile to copy source before build and fix discord.js dependency
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

fix: update GitHub workflow configuration
  .github/workflows/pr-checks.yml
Due: prettier --write

fix: removed yarn (#135)
  .github/workflows/pr-checks.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

feat: add dependency injection system
  CLAUDE.md
  src/services/LoggerFactory.ts
  src/services/ServiceContainer.ts
  src/services/ServiceRegistry.ts
  src/starbunk/bots/__tests__/ezioBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/replyBot.ts
  src/tests/setup.ts
  src/webhooks/webhookService.ts
Due: eslint --fix, prettier --write

fix: dockerfile and testing framework
  claude-fix.sh
  jest.config.js
  src/starbunk/bots/__tests__/attitudeBot.test.ts
  src/starbunk/bots/__tests__/babyBot.test.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/botBot.test.ts
  src/starbunk/bots/__tests__/chaosBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/gundamBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
  src/starbunk/bots/__tests__/holdBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/__tests__/niceBot.test.ts
  src/starbunk/bots/__tests__/pickleBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  src/tests/setup.ts
  tsconfig.json
  update-tests.sh
Due: eslint --fix, prettier --write

fix: remove unit tests from docker build dependencies
  .github/workflows/pr-checks.yml
Due: prettier --write

feat: add npm check scripts for pre-PR verification
  package.json
Due: prettier --write

fix: correct linting issues in test utilities
  src/starbunk/bots/__tests__/testUtils.ts
Due: eslint --fix, prettier --write

test: Fix unit tests with proper dependency injection
  fix-tests.sh
  src/starbunk/bots/__tests__/attitudeBot.test.ts
  src/starbunk/bots/__tests__/babyBot.test.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/botBot.test.ts
  src/starbunk/bots/__tests__/chaosBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/ezioBot.test.ts
  src/starbunk/bots/__tests__/gundamBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
  src/starbunk/bots/__tests__/holdBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/__tests__/niceBot.test.ts
  src/starbunk/bots/__tests__/pickleBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  update-tests.sh
Due: eslint --fix, prettier --write

fix: clean up tests to support TypeScript strict mode
  .eslintrc-temp.json
  package.json
  src/starbunk/bots/__tests__/attitudeBot.test.ts
  src/starbunk/bots/__tests__/babyBot.test.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/botBot.test.ts
  src/starbunk/bots/__tests__/chaosBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/ezioBot.test.ts
  src/starbunk/bots/__tests__/gundamBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
  src/starbunk/bots/__tests__/holdBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/__tests__/niceBot.test.ts
  src/starbunk/bots/__tests__/pickleBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  tsconfig-check.json
Due: eslint --fix, prettier --write

import
  fix-unused-imports.sh
Due: none

fix: update ESLint rules for test files
  .eslintrc-temp.json
  .eslintrc.json
  package.json
Due: prettier --write
