Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: github images for pr
  .env.production.example
  init-db/01-init.sql
  scripts/health-check.sh
Due: none

fix: github images for pr
  .github/workflows/ci.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/docker-publish.yml
  .github/workflows/manual-docker-build.yml
  docker-compose.yml
Due: prettier --write

fix: github images for pr
  .github/workflows/docker-publish.yml
Due: prettier --write

fix: github images for pr
  docker-compose.latest.yml
  docker-compose.snapshot.yml
Due: prettier --write

Add Docker Compose variants and update PR snapshot naming strategy
  DOCKER_COMPOSE_VARIANTS.md
  DOCKER_IMAGES.md
  DOCKER_TROUBLESHOOTING.md
  IMAGE_NAMING_UPDATE.md
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_SETUP.md
  PR_IMAGE_STRATEGY.md
  PR_NAMING_UPDATE_SUMMARY.md
  README.PRODUCTION.md
  check-images.sh
  docker-compose.snapshot.yml
  docker-deploy.sh
  docs/DOCKER_CICD_IMPLEMENTATION.md
  pr-images.sh
  publish-images.sh
  start-containers.sh
  start-production.sh
Due: prettier --write

Revert "Add Docker Compose variants and update PR snapshot naming strategy"
  DOCKER_COMPOSE_VARIANTS.md
  DOCKER_IMAGES.md
  DOCKER_TROUBLESHOOTING.md
  IMAGE_NAMING_UPDATE.md
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_SETUP.md
  PR_IMAGE_STRATEGY.md
  PR_NAMING_UPDATE_SUMMARY.md
  README.PRODUCTION.md
  check-images.sh
  docker-compose.snapshot.yml
  docker-deploy.sh
  docs/DOCKER_CICD_IMPLEMENTATION.md
  pr-images.sh
  publish-images.sh
  start-containers.sh
  start-production.sh
Due: prettier --write

Simplify Docker image naming by removing 'starbunk/' prefix
  .github/workflows/ci.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/docker-publish.yml
  .github/workflows/manual-docker-build.yml
  DOCKER_IMAGES.md
  check-images.sh
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
  pr-images.sh
  start-containers.sh
  start-production.sh
Due: prettier --write

Revert "Add Docker Compose variants and update PR snapshot naming strategy"
  DOCKER_COMPOSE_VARIANTS.md
  DOCKER_TROUBLESHOOTING.md
  IMAGE_NAMING_UPDATE.md
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_SETUP.md
  PR_IMAGE_STRATEGY.md
  PR_NAMING_UPDATE_SUMMARY.md
  README.PRODUCTION.md
  docker-compose.snapshot.yml
  docker-deploy.sh
  docs/DOCKER_CICD_IMPLEMENTATION.md
  publish-images.sh
Due: prettier --write

fix: github images for pr
  .env.production.example
  ARCHITECTURE.md
  CONTAINER_BOOTSTRAP_COMPLETE.md
  CONTAINER_MIGRATION_GUIDE.md
  DOCKER_IMAGES.md
  TRANSITION_COMPLETE.md
  check-images.sh
  docker-compose.dev.yml
  start-containers.sh
  start-production.sh
Due: prettier --write

fix: github images for pr
  .env.docker-test
  .env_sample
  CLAUDE.md
  docker-compose.local.yml
  docker-compose.override.yml
Due: prettier --write

Simplify Docker image naming by removing 'starbunk/' prefix
  DOCKER_IMAGES.md
  check-images.sh
  start-containers.sh
  start-production.sh
Due: prettier --write

fix: github images for pr
  .dockerignore
  DOCKER_IMAGES.md
  start-containers.sh
  start-production.sh
Due: prettier --write

Revert "Add Docker Compose variants and update PR snapshot naming strategy"
  check-images.sh
  pr-images.sh
Due: none

fix: github images for pr
  PODMAN-COMPOSE.md
  podman-compose.latest.yml
  podman-compose.snapshot.yml
  podman-compose.yml
Due: prettier --write

fix: github images for pr
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
Due: prettier --write

feat: add manual deletion commands for GitHub CLI packages
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  manual-delete-commands.sh
Due: prettier --write

feat: add manual deletion commands for GitHub CLI packages
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
Due: prettier --write

refactor: remove unused port mappings and update logging driver settings in compose files
  docker-compose.snapshot.yml
  docker-compose.yml
  podman-compose.latest.yml
  podman-compose.snapshot.yml
  podman-compose.yml
Due: prettier --write

feat: update command handling and main entry point for BunkBot
  containers/bunkbot/Dockerfile
  containers/bunkbot/package.json
  containers/bunkbot/src/index.ts
Due: eslint --fix, prettier --write

feat: enhance debug functionality with testing server and channel IDs
  .github/workflows/ci.yml
  containers/bunkbot/src/commands/debug.ts
  containers/bunkbot/src/index.ts
  containers/covabot/src/index.ts
  containers/djcova/src/index.ts
  containers/shared/src/environment.ts
  containers/shared/src/index.ts
  containers/shared/src/utils/envValidation.ts
  containers/starbunk-dnd/src/index.ts
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
Due: eslint --fix, prettier --write

feat: enhance container build process with additional checks and logging
  .github/workflows/ci.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
  containers/bunkbot/package-lock.json
  containers/covabot/package-lock.json
  containers/djcova/package-lock.json
  containers/shared/src/discord/getStarbunkClient.ts
  containers/shared/src/domain/models/index.ts
  containers/shared/src/domain/repositories/index.ts
  containers/shared/src/infrastructure/persistence/sqlite/repositories/campaignRepository.ts
  containers/shared/src/services/__tests__/personalityService.test.ts
  containers/shared/src/services/personalityService.ts
  containers/shared/src/services/services.ts
  containers/shared/tsconfig.json
  containers/starbunk-dnd/package-lock.json
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation issues in shared package
  .github/workflows/cleanup-old-images.yml
  CI-CD-OPTIMIZATION.md
  CLEANUP-EXECUTION-GUIDE.md
  CONTAINER-CLEANUP-GUIDE.md
  DEBUG-TESTING-CONFIGURATION.md
  ENVIRONMENT-SETUP.md
  cleanup-ghcr-safe.sh
  cleanup-images.sh
  cleanup-pr-images.sh
  containers/shared/src/environment.ts
  containers/shared/src/services/__tests__/messageFilter.test.ts
  containers/shared/src/services/logger.ts
  containers/shared/src/services/messageFilter.ts
  containers/shared/src/utils/__tests__/envValidation.test.ts
  debug-bunkbot-fixed.js
  debug-bunkbot-index.ts
  debug-patch.js
  delete-all-except-starbunk-js-corrected.sh
  delete-all-except-starbunk-js.sh
  diagnose-discord-permissions.js
  final-diagnosis.js
  inject-debug-logging.js
  patch-bunkbot-debug.js
  test-bunkbot-client-factory.js
  test-bunkbot-discord.js
  test-bunkbot-simple.js
  test-discord-bot.js
  test-final-bunkbot.js
  test-fixed-bunkbot.js
  trigger-bunkbot-test.js
Due: eslint --fix, prettier --write

fix: resolve final TypeScript and import issues in shared package
  containers/shared/src/services/logger.ts
  containers/shared/tsconfig.json
Due: eslint --fix, prettier --write

feat: add startup diagnostics to improve container initialization error handling
  containers/bunkbot/src/index.ts
  containers/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: add startup diagnostics to improve container initialization error handling
  containers/bunkbot/src/index-minimal.ts
Due: eslint --fix, prettier --write

feat: add comprehensive startup diagnostics and troubleshooting tools
  TROUBLESHOOTING.md
  containers/shared/src/utils/diagnostics.ts
  containers/validate-startup.js
Due: eslint --fix, prettier --write

feat: optimize CI/CD pipeline to eliminate duplicate Docker builds
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/container-build-test-publish.yml
Due: prettier --write

fix: resolve workflow syntax issues in optimized container pipeline
  .github/workflows/container-build-test-publish.yml
Due: prettier --write

fix: remove dynamic output names causing workflow startup failures
  .github/workflows/container-build-test-publish.yml
Due: prettier --write

feat: add startup diagnostics to improve container initialization error handling
  containers/bunkbot/src/index.ts
  containers/bunkbot/tsconfig.json
Due: eslint --fix, prettier --write

refactor: streamline reply bot functionality and focus on slash commands
  containers/bunkbot/src/index.ts
Due: eslint --fix, prettier --write

refactor: streamline reply bot functionality and focus on slash commands
  .github/workflows/container-build-test-publish.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

fix: add missing path-filters.yml and workflow files for container detection
  .github/path-filters.yml
  .github/workflows/build-metrics.yml
  .github/workflows/container-dependency-analysis.yml
  docs/ci-cd-optimization.md
Due: prettier --write

test: add comment to BunkBot to demonstrate individual container path filtering
  containers/bunkbot/src/reply-bots/blue-bot/constants.ts
Due: eslint --fix, prettier --write

test: add BunkBot-only test file to verify individual container filtering
  containers/bunkbot/src/reply-bots/blue-bot/constants.ts
  containers/bunkbot/test-individual-filtering.md
Due: eslint --fix, prettier --write

refactor: streamline reply bot functionality and focus on slash commands
  containers/bunkbot/src/adapter.ts
  containers/bunkbot/src/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
