Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

refactor(shared): optional database exports; move better-sqlite3 to optional peerDependency; update imports and BlueBot Dockerfile; add docs\n\nResolves #460
  .github/agents/master-architect.agent.md
  docs/patterns/strategy.ts
  package-lock.json
Due: eslint --fix, prettier --write

refactor(docs): add Middleware Pipeline pattern and update IdentityStrategy context type
  docs/patterns/pipeline.ts
  docs/patterns/strategy.ts
Due: eslint --fix, prettier --write

ci: add PR scoped CI (validations + changed packages) and weekly security audit; document CI policy
  .github/workflows/pr-ci.yml
  .github/workflows/security-weekly.yml
  README.md
Due: prettier --write

fix: use /live endpoint for container health checks in PR validation
  .github/workflows/pr-validation.yml
  package-lock.json
Due: prettier --write

fix: create djcova TODO.md and correct vitest exclude syntax in pr-ci
  .github/workflows/pr-ci.yml
  src/djcova/TODO.md
Due: prettier --write

chore: allow tracking agent specs
  .gitignore
Due: none

feat: add agent definitions for admin-architect, code-stylist, discord-expert, github-liaison, grunt-worker, ops-engineer, test-guard, and ts-sorcerer
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
Due: prettier --write

fix: normalize peerDependencies formatting
  src/shared/package.json
Due: prettier --write

docs: clarify pipeline context and strategy return type
  docs/patterns/pipeline.ts
  docs/patterns/strategy.ts
Due: eslint --fix, prettier --write

Refactor/shared optional db exports (#500)
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/master-architect.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
  .github/workflows/pr-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-weekly.yml
  .gitignore
  README.md
  docs/patterns/pipeline.ts
  docs/patterns/strategy.ts
  package-lock.json
  src/bluebot/Dockerfile.ci
  src/covabot/src/cova-bot.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/database-service.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/memory-service.test.ts
  src/covabot/tests/services/social-battery-service.test.ts
  src/covabot/tsconfig.json
  src/covabot/vitest.config.ts
  src/djcova/TODO.md
  src/shared/README.md
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/services/database/index.ts
Due: eslint --fix, prettier --write

fix: add healthcheck endpoints to all bot services
  docker-compose.yml
Due: prettier --write

chore: aggressive repo cleanup - remove editor caches, archives, and duplicate docs
  .prettierrc
  config/examples/docker-compose.example.yml
  config/examples/promtail-config.example.yml
  merge_output.txt
  src/bluebot/TODO.md
  src/bunkbot/TODO.md
  src/covabot/TODO.md
  src/djcova/TODO.md
Due: prettier --write

chore: consolidate container-specific .env.example files to config/env/
  config/env/.env.bluebot.example
  config/env/.env.djcova.example
Due: none

fix: apply circular masks to bot assets and remove hardcoded botbot avatar URL
  assets/bluebot.png
  assets/bunkbot.png
  assets/covabot.png
  assets/djcova.png
  config/bunkbot/bots.yml
Due: prettier --write

fix: apply circular masks to bot assets and remove hardcoded botbot avatar URL (#501)
  assets/bluebot.png
  assets/bunkbot.png
  assets/covabot.png
  assets/djcova.png
  config/bunkbot/bots.yml
Due: prettier --write

fix: update OTLP receiver ports for internal access
  docker-compose.yml
Due: prettier --write

feat: update Docker labels and healthcheck endpoint; add custom modes for merge resolution and DevOps
  .gitignore
  .roomodes
  docker-compose.yml
Due: prettier --write

fix: update service images from 'prod' to 'main' tag in docker-compose.yml
  docker-compose.yml
Due: prettier --write

Update docker-compose.yml
  docker-compose.yml
Due: prettier --write

feat: add comments management commands and config server for BunkBot
  .roomodes
  docker-compose.yml
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/commands/comments.ts
  src/bunkbot/src/commands/index.ts
  src/bunkbot/src/observability/config-server.ts
  src/bunkbot/src/reply-bots/services/comment-config-service.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
Due: eslint --fix, prettier --write

Update src/bunkbot/src/commands/comments.ts
  src/bunkbot/src/commands/comments.ts
Due: eslint --fix, prettier --write

Update src/bunkbot/src/observability/config-server.ts
  src/bunkbot/src/observability/config-server.ts
Due: eslint --fix, prettier --write

feat: add frequency override storage and trigger evaluation integration
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/services/bot-state-manager.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
Due: eslint --fix, prettier --write

feat: add bot override and reset command subcommands
  src/bunkbot/src/commands/bot.ts
Due: eslint --fix, prettier --write

test: add comprehensive frequency override tests
  src/bunkbot/tests/reply-bots/resolvers/condition-resolver-frequency.test.ts
  src/bunkbot/tests/services/bot-state-manager.test.ts
Due: eslint --fix, prettier --write

feat: add observability spans to frequency override operations
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/services/bot-state-manager.ts
  src/bunkbot/tests/reply-bots/resolvers/condition-resolver-frequency.test.ts
  src/bunkbot/tests/services/bot-state-manager.test.ts
Due: eslint --fix, prettier --write

fix: update covabot LLM test imports to use shared package
  src/covabot/tests/services/llm/embedding-manager.scheduling.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.config.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.interval.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.scheduling.test.ts
Due: eslint --fix, prettier --write

refactor: streamline frequency control logic and remove tracing dependencies
  src/bunkbot/src/commands/bot.ts
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/services/bot-state-manager.ts
  src/bunkbot/tests/reply-bots/resolvers/condition-resolver-frequency.test.ts
  src/bunkbot/tests/services/bot-state-manager.test.ts
Due: eslint --fix, prettier --write

feat: implement UserFact, SocialBattery & Interest repositories
  src/covabot/src/repositories/index.ts
  src/covabot/src/repositories/interest-repository.ts
  src/covabot/src/repositories/social-battery-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
Due: eslint --fix, prettier --write

Add .circleci/config.yml
  .circleci/config.yml
Due: prettier --write

chore: Add CircleCI configuration for CI/CD pipeline
  .circleci/config.yml
Due: prettier --write

Update .circleci/config.yml
  .circleci/config.yml
Due: prettier --write

fix(ci): replace .dockerignore symlink with regular file to fix CircleCI checkout
  .dockerignore
Due: none

feat: Refactor repositories and services to use profileId instead of userId
  .circleci/config.yml
  .dockerignore
  .gitignore
  docs/AGENTS.md
  scripts/validation/check-manifests.sh
  scripts/validation/check-naming-conventions.sh
  scripts/validation/run-all-validations.sh
  src/bluebot/src/blue-bot.ts
  src/bluebot/tests/helpers/mock-message.ts
  src/bluebot/tests/helpers/test-utils.ts
  src/covabot/src/cova-bot.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/repositories/index.ts
  src/covabot/src/repositories/interest-repository.ts
  src/covabot/src/repositories/social-battery-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
  src/covabot/src/services/interest-service.ts
  src/covabot/src/services/memory-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/memory-service.test.ts
  src/covabot/tests/services/social-battery-service.test.ts
Due: eslint --fix, prettier --write

test(shared): load vitest config as ESM
  src/shared/vitest.config.mts
  src/shared/vitest.config.ts
Due: eslint --fix, prettier --write

feat: migrate vitest configuration to ESM format and remove old config file
  package-lock.json
  src/bunkbot/vitest.config.mts
Due: prettier --write

feat: update sync-versions script to modify package.json version without affecting lockfiles
  docs/TASKS.md
  scripts/sync-versions.sh
Due: prettier --write

fix: Remove artifacts & fix TypeScript/CircleCI config deprecations
  .circleci/config.yml
  src/bluebot/tsconfig.json
  src/bunkbot/tsconfig.json
  src/covabot/tsconfig.json
  src/shared/coverage-test.txt
  src/shared/tsconfig.json.old
  src/shared/tsconfig.prod.json
Due: prettier --write

fix: Update moduleResolution to node16 (compatible with commonjs module)
  package-lock.json
  src/bluebot/tsconfig.json
  src/bunkbot/tsconfig.json
  src/covabot/tsconfig.json
Due: prettier --write

fix: Update module to Node16 (required for node16 moduleResolution)
  src/bluebot/tsconfig.json
  src/bunkbot/tsconfig.json
  src/covabot/tsconfig.json
Due: prettier --write
