Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

feat: Enhance CovaBot with comprehensive personality management system
  COVABOT_FRONTEND_ASSESSMENT.md
  containers/covabot/README.md
  containers/covabot/package-lock.json
  containers/covabot/package.json
  containers/covabot/src/cova-bot/llm-triggers.ts
  containers/covabot/src/index-web.ts
  containers/covabot/src/scripts/demo-personality-system.ts
  containers/covabot/src/scripts/migrate-to-database.ts
  containers/covabot/src/services/__tests__/personalityNotesService.test.ts
  containers/covabot/src/services/__tests__/personalityNotesServiceDb.test.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  containers/covabot/src/types/personalityNote.ts
  containers/covabot/src/web/middleware/auth.ts
  containers/covabot/src/web/server.ts
  containers/covabot/src/web/static/app.js
  containers/covabot/src/web/static/index.html
  containers/covabot/src/web/static/styles.css
  prisma/migrations/20250704230804_add_personality_notes/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

fix: Resolve linting errors in CovaBot personality management system
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/web/server.ts
Due: eslint --fix, prettier --write

feat: Configure CovaBot for Unraid server deployment with persistent storage
  .env.unraid.example
  README.md
  containers/covabot/README.md
  containers/covabot/package.json
  containers/covabot/src/scripts/test-persistence.ts
  containers/covabot/src/services/personalityNotesService.ts
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
  docs/UNRAID_SETUP.md
Due: eslint --fix, prettier --write

fix: Resolve TypeScript linting errors in persistence test script
  containers/covabot/src/scripts/test-persistence.ts
Due: eslint --fix, prettier --write

feat: Implement comprehensive testing suite for CovaBot Unraid deployment
  UNRAID_TEST_REPORT.md
  containers/covabot/package.json
  containers/covabot/src/scripts/test-persistence.ts
  containers/covabot/src/scripts/test-unraid-deployment.ts
  containers/covabot/src/scripts/test-unraid-simple.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  test-docker-compose.sh
Due: eslint --fix, prettier --write

fix: Resolve ESLint errors in Unraid deployment test script
  containers/covabot/src/scripts/test-unraid-deployment.ts
Due: eslint --fix, prettier --write

🎉 Complete CovaBot Memory Management Web Frontend
  COVABOT_COMPLETION_SUMMARY.md
  containers/covabot/.env.production.example
  containers/covabot/DEPLOYMENT.md
  containers/covabot/Dockerfile
  containers/covabot/README.md
  containers/covabot/package-lock.json
  containers/covabot/package.json
  containers/covabot/src/index-web.ts
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/types/botConfiguration.ts
  containers/covabot/src/web/__tests__/server.test.ts
  containers/covabot/src/web/server.ts
  containers/covabot/src/web/static/app.js
  containers/covabot/src/web/static/index.html
  containers/covabot/src/web/static/styles.css
  containers/covabot/test-web-interface.js
  containers/covabot/validate-production.js
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
Due: eslint --fix, prettier --write

feat(covabot): update web frontend port from 3001 to 7080
  README.md
  containers/covabot/.env.production.example
  containers/covabot/DEPLOYMENT.md
  containers/covabot/Dockerfile
  containers/covabot/README.md
  containers/covabot/src/index-web.ts
  containers/covabot/src/scripts/demo-personality-system.ts
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/web/__tests__/server.test.ts
  containers/covabot/src/web/server.ts
  containers/covabot/test-web-interface.js
  containers/covabot/validate-production.js
  containers/djcova/Dockerfile
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  docker-compose.yml
  podman-compose.latest.yml
  podman-compose.snapshot.yml
  podman-compose.yml
Due: eslint --fix, prettier --write

feat: implement strict commit policy with .gitignore patterns
  .gitignore
Due: none

feat: implement strict commit policy and clean repository
  .env.unraid.example
  .gitignore
  COVABOT_COMPLETION_SUMMARY.md
  COVABOT_FRONTEND_ASSESSMENT.md
  UNRAID_TEST_REPORT.md
  containers/covabot/src/scripts/test-unraid-deployment.ts
  containers/covabot/src/scripts/test-unraid-simple.ts
  docs/UNRAID_SETUP.md
Due: eslint --fix, prettier --write

Fix CovaBot Discord identity system
  containers/covabot/src/cova-bot/__tests__/covaBot.test.ts
  containers/covabot/src/cova-bot/__tests__/identity.test.ts
  containers/covabot/src/cova-bot/conditions.ts
  containers/covabot/src/cova-bot/covaBot.ts
  containers/covabot/src/cova-bot/index.ts
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/cova-bot/triggerResponseFactory.ts
  containers/covabot/src/cova-bot/triggers.ts
  containers/covabot/src/services/__tests__/identity.test.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/types/triggerResponse.ts
Due: eslint --fix, prettier --write

Add conversation testing interface for CovaBot web frontend
  containers/covabot/src/cova-bot/covaBot.ts
  containers/covabot/src/cova-bot/triggers.ts
  containers/covabot/src/demo-chat.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/web/__tests__/chat.test.ts
  containers/covabot/src/web/server.ts
  containers/covabot/src/web/static/app.js
  containers/covabot/src/web/static/index.html
Due: eslint --fix, prettier --write

feat: Complete starbunk-dnd container implementation and fix container tests
  __mocks__/@prisma/client.js
  containers/bunkbot/package-lock.json
  containers/bunkbot/package.json
  containers/bunkbot/prisma/schema.prisma
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/responses.test.ts
  containers/bunkbot/src/core/__tests__/trigger-response.test.ts
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/src/core/conditions.ts
  containers/bunkbot/src/core/llm-conditions.test.ts
  containers/bunkbot/src/services/__tests__/botIdentityService.integration.test.ts
  containers/bunkbot/src/services/__tests__/configurationService.test.ts
  containers/bunkbot/src/services/configurationService.ts
  containers/bunkbot/src/test-utils/testUtils.ts
  containers/bunkbot/tests/debug-mode.test.ts
  containers/bunkbot/tests/reply-bots-debug.test.ts
  containers/bunkbot/tests/reply-bots/banana-bot.test.ts
  containers/bunkbot/tests/reply-bots/chad-bot.test.ts
  containers/bunkbot/tests/setup.ts
  containers/djcova/package.json
  containers/shared/package.json
  containers/shared/src/index.ts
  containers/shared/src/utils/envValidation.ts
  containers/starbunk-dnd/discord/guildIds.ts
  containers/starbunk-dnd/domain/models.ts
  containers/starbunk-dnd/domain/repositories.ts
  containers/starbunk-dnd/infrastructure/persistence/repositoryFactory.ts
  containers/starbunk-dnd/package.json
  containers/starbunk-dnd/src/commands/__tests__/rpg.test.ts
  containers/starbunk-dnd/src/discord/discordClient.ts
  containers/starbunk-dnd/src/services/bootstrap.ts
  containers/starbunk-dnd/src/services/container.ts
  containers/starbunk-dnd/src/services/llm/standardLlmService.ts
  containers/starbunk-dnd/src/services/llmService.ts
  containers/starbunk-dnd/src/snowbunk/snowbunkClient.test.ts
  containers/starbunk-dnd/src/starbunk/bots/test-utils/testUtils.ts
  containers/starbunk-dnd/src/utils/campaignChecks.ts
  containers/starbunk-dnd/tests/mocks/transformers.ts
  package.json
Due: eslint --fix, prettier --write

Fix Express router type issues and test compilation errors
  containers/covabot/src/cova-bot/__tests__/enhanced-triggers.test.ts
  containers/covabot/src/cova-bot/__tests__/response-scenarios.test.ts
  containers/covabot/src/web/__tests__/chat-comprehensive.test.ts
  containers/covabot/src/web/__tests__/chat-performance.test.ts
  containers/covabot/src/web/__tests__/frontend-simulation.test.ts
  containers/covabot/src/web/server.ts
Due: eslint --fix, prettier --write

Fix PerformanceTimer import issues by replacing with simple timing
  containers/covabot/src/cova-bot/llm-triggers.ts
Due: eslint --fix, prettier --write

Fix remaining PerformanceTimer references and test compilation
  containers/covabot/src/cova-bot/llm-triggers.ts
Due: eslint --fix, prettier --write

Disable flaky statistical test in BunkBot
  containers/bunkbot/tests/reply-bots-debug.test.ts
Due: eslint --fix, prettier --write

Disable second flaky statistical test in BunkBot
  containers/bunkbot/tests/reply-bots-debug.test.ts
Due: eslint --fix, prettier --write

Partial fix for CovaBot enhanced-triggers test
  containers/covabot/src/cova-bot/__tests__/enhanced-triggers.test.ts
Due: eslint --fix, prettier --write

Improve QdrantMemoryService tests by disabling problematic tests
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
Due: eslint --fix, prettier --write

Fix enhanced-triggers TypeScript compilation and improve QdrantMemoryService mocks
  containers/covabot/src/cova-bot/__tests__/enhanced-triggers.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
Due: eslint --fix, prettier --write

Fix LLM decision logic probability tests - achieve 89.3% test pass rate
  containers/covabot/src/cova-bot/__tests__/llm-decision-logic.test.ts
Due: eslint --fix, prettier --write

🎉 MAJOR SUCCESS: Fixed Enhanced Triggers and QdrantMemoryService tests
  containers/covabot/src/cova-bot/__tests__/enhanced-triggers.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
Due: eslint --fix, prettier --write

fix: disable flaky LLM response pattern tests
  containers/covabot/src/cova-bot/__tests__/llm-integration.test.ts
  containers/covabot/src/cova-bot/__tests__/llm-pipeline.test.ts
  containers/covabot/src/web/__tests__/chat-llm-e2e.test.ts
Due: eslint --fix, prettier --write

fix: prevent LLM responses to empty messages
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/web/__tests__/chat-llm-e2e.test.ts
Due: eslint --fix, prettier --write

fix: resolve CI/CD test failures in CovaBot
  containers/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
  containers/covabot/src/web/__tests__/chat-comprehensive.test.ts
Due: eslint --fix, prettier --write

fix: disable second flaky LLM content validation test
  containers/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
Due: eslint --fix, prettier --write

Update containers/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
  containers/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
Due: eslint --fix, prettier --write

Add Snowbunk container and streamline snapshot tagging.
  .github/path-filters.yml
  .github/workflows/README.md
  .github/workflows/build-metrics.yml
  .github/workflows/cleanup-old-images.yml
  .github/workflows/container-build-test-publish.yml
  .github/workflows/container-dependency-analysis.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/manual-docker-build.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  docker-compose.latest.yml
  docker-compose.snapshot.yml
Due: prettier --write

Add Snowbunk container and streamline snapshot tagging.
  OPTIMIZATION_SUMMARY.md
  PATH_FILTER_ANALYSIS.md
Due: prettier --write

Update .github/workflows/manual-docker-build.yml
  .github/workflows/manual-docker-build.yml
Due: prettier --write

Update .github/workflows/container-build-test-publish.yml
  .github/workflows/container-build-test-publish.yml
Due: prettier --write

Update .github/path-filters.yml
  .github/path-filters.yml
Due: prettier --write

Add GitHub Actions workflow for main branch deployments
  .github/workflows/main-deploy.yml
Due: prettier --write

Refactor CI/CD path filters and consolidate logic
  .github/path-filters.yml
  .github/workflows/main-deploy.yml
Due: prettier --write

Optimize Dockerfile for multi-stage builds using Alpine Linux and BuildKit caching
  .github/workflows/docker-build-reusable.yml
  containers/bunkbot/.dockerignore
  containers/covabot/.dockerignore
  containers/covabot/Dockerfile
  containers/djcova/.dockerignore
  containers/djcova/Dockerfile
  containers/snowbunk/.dockerignore
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/.dockerignore
  containers/starbunk-dnd/Dockerfile
Due: prettier --write

Refactor Dockerfiles and compose files for Podman compatibility
  containers/bunkbot/Dockerfile
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/Dockerfile
  podman-compose.latest.yml
  podman-compose.snapshot.yml
Due: prettier --write

Refactor Dockerfiles and compose files for Podman compatibility
  containers/bunkbot/Dockerfile.podman
  podman-compose.test.yml
Due: prettier --write

Cicd update (#239)
  .github/path-filters.yml
  .github/workflows/README.md
  .github/workflows/build-metrics.yml
  .github/workflows/cleanup-old-images.yml
  .github/workflows/container-build-test-publish.yml
  .github/workflows/container-dependency-analysis.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/main-deploy.yml
  .github/workflows/manual-docker-build.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  OPTIMIZATION_SUMMARY.md
  PATH_FILTER_ANALYSIS.md
  containers/bunkbot/.dockerignore
  containers/bunkbot/Dockerfile
  containers/bunkbot/Dockerfile.podman
  containers/covabot/.dockerignore
  containers/covabot/Dockerfile
  containers/djcova/.dockerignore
  containers/snowbunk/.dockerignore
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/.dockerignore
  containers/starbunk-dnd/Dockerfile
  docker-compose.latest.yml
  docker-compose.snapshot.yml
  podman-compose.latest.yml
  podman-compose.snapshot.yml
  podman-compose.test.yml
Due: prettier --write
