Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add TypeScript build files to gitignore
  .gitignore
Due: none

feat: implement unified metrics endpoint with service namespacing
  config/grafana/bunkbot-dashboard.json
  config/grafana/djcova-dashboard.json
  config/grafana/starbunk-discord-bots-overview.json
  config/prometheus/starbunk-discord-bots.yml
  packages/shared/src/services/observability/ServiceMetricsRegistry.ts
  packages/shared/src/services/observability/UnifiedMetricsCollector.ts
  packages/shared/src/services/observability/UnifiedMetricsEndpoint.ts
  packages/shared/src/services/observability/__tests__/unified-metrics-integration.test.ts
  packages/shared/src/services/observability/examples/UnifiedMetricsExample.ts
  packages/shared/src/services/observability/index.ts
  packages/shared/src/utils/envValidation.ts
  scripts/pre-push.sh
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors and ESLint violations in unified metrics
  .gitignore
  packages/shared/src/services/observability/UnifiedMetricsCollector.ts
  packages/shared/src/services/observability/UnifiedMetricsEndpoint.ts
  packages/shared/src/services/observability/__tests__/metrics-integration.test.ts
  packages/shared/src/services/observability/__tests__/unified-metrics-integration.test.ts
  packages/shared/src/services/observability/examples/UnifiedMetricsExample.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

feat: unified metrics endpoint with service namespacing (#300)
  .gitignore
  packages/shared/src/services/observability/UnifiedMetricsCollector.ts
  packages/shared/src/services/observability/UnifiedMetricsEndpoint.ts
  packages/shared/src/services/observability/__tests__/metrics-integration.test.ts
  packages/shared/src/services/observability/__tests__/unified-metrics-integration.test.ts
  packages/shared/src/services/observability/examples/UnifiedMetricsExample.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

feat: implement structured JSON logging with environment-based toggle
  packages/shared/src/services/logger.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

feat: implement structured JSON logging with environment toggle (#301)
  packages/shared/src/services/logger.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

fix: correct JSON logging structure with proper top-level properties
  packages/shared/src/services/logger.ts
Due: eslint --fix, prettier --write

feat: structured JSON logging with proper container and service name fields (#302)
  packages/shared/src/services/logger.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation errors in observability tests
  packages/shared/src/environment.ts
  packages/shared/src/index.ts
  packages/shared/src/services/__tests__/discordGMService.test.ts
  packages/shared/src/services/__tests__/messageFilter.test.ts
  packages/shared/src/services/__tests__/personalityService.test.ts
  packages/shared/src/services/database/configurationRepository.ts
  packages/shared/src/services/discordGMService.ts
  packages/shared/src/services/discordService.ts
  packages/shared/src/services/observability/BotTriggerIntegration.ts
  packages/shared/src/services/observability/BotTriggerMetricsService.ts
  packages/shared/src/services/observability/BunkBotMetrics.ts
  packages/shared/src/services/observability/ChannelActivityTracker.ts
  packages/shared/src/services/observability/CovaBotMetrics.ts
  packages/shared/src/services/observability/DJCovaMetrics.ts
  packages/shared/src/services/observability/HttpEndpointsService.ts
  packages/shared/src/services/observability/ProductionMetricsService.ts
  packages/shared/src/services/observability/RedisBotMetricsExporter.ts
  packages/shared/src/services/observability/ServiceMetricsRegistry.ts
  packages/shared/src/services/observability/StarbunkDNDMetrics.ts
  packages/shared/src/services/observability/UnifiedMetricsCollector.ts
  packages/shared/src/services/observability/__tests__/BotTriggerIntegration.test.ts
  packages/shared/src/services/observability/__tests__/BotTriggerMetricsService.test.ts
  packages/shared/src/services/observability/__tests__/RedisBotMetricsExporter.test.ts
  packages/shared/src/services/observability/index.ts
  packages/shared/src/types/bot-metrics.ts
  packages/shared/src/utils/__tests__/envValidation.test.ts
  packages/shared/src/utils/collection.ts
  packages/shared/src/utils/debug.ts
  packages/shared/src/utils/diagnostics.ts
  packages/shared/src/utils/time.ts
  packages/shared/tsconfig.prod.json
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation errors and logging configuration issues
  apps/bunkbot/src/botRegistry-refactored.ts
  apps/bunkbot/src/core/BotDiscovery.ts
  apps/bunkbot/src/core/BotProcessor.ts
  apps/bunkbot/src/core/InteractionHandler.ts
  apps/bunkbot/src/core/MessageProcessor.ts
  apps/bunkbot/src/core/conditions-refactored.ts
  apps/bunkbot/src/core/conditions.ts
  apps/bunkbot/src/core/llm-conditions.test.ts
  apps/bunkbot/src/core/llm-conditions.ts
  apps/bunkbot/src/core/message-filter-examples.ts
  apps/bunkbot/src/core/trigger-response.ts
  apps/bunkbot/src/index-refactored.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/configurationService.ts
  apps/bunkbot/src/utils/dynamicPatterns.ts
  apps/covabot/src/cova-bot/conditions.ts
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/personalityNotesService.ts
  apps/covabot/src/services/qdrantMemoryService.ts
  apps/covabot/src/services/qdrantService.ts
  apps/covabot/src/web/middleware/auth.ts
  apps/starbunk-dnd/src/services/campaignService.ts
  apps/starbunk-dnd/src/services/vectorEmbeddingService.ts
  infrastructure/docker/docker-compose.yml
  packages/shared/package-lock.json
  packages/shared/src/services/observability/StructuredLogger.ts
  packages/shared/src/services/observability/__tests__/BotTriggerMetricsService.test.ts
  packages/shared/src/services/observability/__tests__/RedisBotMetricsExporter.test.ts
  packages/shared/tests/debug-configuration-validation.test.ts
  packages/shared/tests/debug-mode-integration.test.ts
  packages/shared/tsconfig.json
  tools/scripts/testing/test-container-logging.js
  tools/scripts/testing/test-line-splitting.js
  tools/scripts/testing/test-logging-behavior.js
Due: eslint --fix, prettier --write

covabot: remove hardcoded responses; remain silent on LLM failure; prefer Ollama in prod, emulator in tests; skip OpenAI for now
  apps/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

fix: upgrade axios from 1.12.1 to 1.12.2
  package-lock.json
  package.json
Due: prettier --write

fix(djcova): correct Discord.js imports to fix production build
  apps/djcova/src/commandHandler.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/commands/setVolume.ts
  apps/djcova/src/commands/status.ts
  apps/djcova/src/commands/stop.ts
Due: eslint --fix, prettier --write

fix(djcova): correct Discord.js imports to fix production build (#305)
  apps/djcova/src/commandHandler.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/commands/setVolume.ts
  apps/djcova/src/commands/status.ts
  apps/djcova/src/commands/stop.ts
Due: eslint --fix, prettier --write

feat: standardize health ports and add covabot training infrastructure
  .gitignore
  apps/bunkbot/package-lock.json
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/HealthServer.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/scripts/collectTrainingData.ts
  apps/covabot/scripts/validateBot.ts
  apps/covabot/src/cova-bot/exampleLoader.ts
  apps/covabot/src/cova-bot/unifiedCovaBot.ts
  apps/covabot/src/index-simple.ts
  apps/covabot/src/index.ts
  apps/covabot/src/prompts/unifiedPromptBuilder.ts
  apps/covabot/src/simpleCovaBot.ts
  apps/covabot/src/utils/responseParser.ts
  apps/djcova/package-lock.json
  apps/djcova/src/index.ts
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/src/index.ts
  infrastructure/docker/docker-compose.yml
  monitoring/docker-service-discovery.yml
Due: eslint --fix, prettier --write

Revert "feat: standardize health ports and add covabot training infrastructure"
  .gitignore
  apps/bunkbot/package-lock.json
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/HealthServer.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/scripts/collectTrainingData.ts
  apps/covabot/scripts/validateBot.ts
  apps/covabot/src/cova-bot/exampleLoader.ts
  apps/covabot/src/cova-bot/unifiedCovaBot.ts
  apps/covabot/src/index-simple.ts
  apps/covabot/src/index.ts
  apps/covabot/src/prompts/unifiedPromptBuilder.ts
  apps/covabot/src/simpleCovaBot.ts
  apps/covabot/src/utils/responseParser.ts
  apps/djcova/package-lock.json
  apps/djcova/src/index.ts
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/src/index.ts
  infrastructure/docker/docker-compose.yml
  monitoring/docker-service-discovery.yml
Due: eslint --fix, prettier --write

Reapply "feat: standardize health ports and add covabot training infrastructure"
  .gitignore
  apps/bunkbot/package-lock.json
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/HealthServer.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/scripts/collectTrainingData.ts
  apps/covabot/scripts/validateBot.ts
  apps/covabot/src/cova-bot/exampleLoader.ts
  apps/covabot/src/cova-bot/unifiedCovaBot.ts
  apps/covabot/src/index-simple.ts
  apps/covabot/src/index.ts
  apps/covabot/src/prompts/unifiedPromptBuilder.ts
  apps/covabot/src/simpleCovaBot.ts
  apps/covabot/src/utils/responseParser.ts
  apps/djcova/package-lock.json
  apps/djcova/src/index.ts
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/src/index.ts
  infrastructure/docker/docker-compose.yml
  monitoring/docker-service-discovery.yml
Due: eslint --fix, prettier --write

fix(djcova): fix critical playback bug and improve audio stream handling
  apps/djcova/src/commands/play.ts
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/voiceUtils.ts
Due: eslint --fix, prettier --write

chore: update dependencies and fix esbuild installation
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/starbunk-dnd/package-lock.json
  package-lock.json
  package.json
  packages/shared/package-lock.json
Due: prettier --write

chore: add npm workspaces and discord.js overrides to fix CI
  package.json
Due: prettier --write

fix: update shared utilities to accept ChatInputCommandInteraction
  packages/shared/src/discord/utils.ts
Due: eslint --fix, prettier --write

fix: upgrade ioredis from 5.7.0 to 5.8.0
  package-lock.json
  package.json
Due: prettier --write

chore: regenerate package-lock.json with workspaces configuration
  package-lock.json
Due: prettier --write

fix(ci): fix npm workspace symlink conflicts in CI workflows
  .github/workflows/code-quality-gates.yml
  .github/workflows/pr-validation.yml
  .github/workflows/selective-pr-validation.yml
  .github/workflows/unified-container-ci.yml
Due: prettier --write

[Snyk] Upgrade ioredis from 5.7.0 to 5.8.0 (#308)
  package-lock.json
  package.json
Due: prettier --write

fix(shared): remove unused Interaction import from discord utils
  packages/shared/src/discord/utils.ts
Due: eslint --fix, prettier --write

Apply suggestion from @Copilot
  apps/djcova/src/utils/voiceUtils.ts
Due: eslint --fix, prettier --write

Apply suggestion from @coderabbitai[bot]
  apps/djcova/src/utils/voiceUtils.ts
Due: eslint --fix, prettier --write

fix(djcova): remove duplicate code causing syntax error in voiceUtils
  apps/djcova/src/utils/voiceUtils.ts
Due: eslint --fix, prettier --write

fix(djcova): Fix critical playback bug and improve audio stream handling (#307)
  .github/workflows/code-quality-gates.yml
  .github/workflows/pr-validation.yml
  .github/workflows/selective-pr-validation.yml
  .github/workflows/unified-container-ci.yml
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/djcova/src/commands/play.ts
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/voiceUtils.ts
  apps/starbunk-dnd/package-lock.json
  package-lock.json
  package.json
  packages/shared/package-lock.json
  packages/shared/src/discord/utils.ts
Due: eslint --fix, prettier --write

fix(ci): set outputs before early exit in docs-only validation
  .github/workflows/pr-validation.yml
Due: prettier --write

fix(djcova): restore audio playback functionality and fix Discord.js integration (#309)
  .github/workflows/pr-validation.yml
Due: prettier --write

fix(djcova): resolve ytdl-core permission errors and improve error handling
  apps/djcova/Dockerfile
  apps/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

fix(djcova): replace ytdl-core with yt-dlp binary for reliable YouTube playback
  apps/djcova/Dockerfile
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): critical performance and reconnection fixes
  apps/djcova/src/commands/play.ts
  apps/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
