Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: address PR review comments
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: Improve semantic-release error handling and VERSION file management (#613)
  .circleci/workflows/main-merge.yml
Due: prettier --write

docs: Add reference for PRD #582
  docs/prd-582.txt
Due: none

feat: Implement connection readiness gate with OpenTelemetry tracing and error handling
  src/djcova/src/services/ready-gate.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/tests/voice-utils.readiness-gate.test.ts
Due: eslint --fix, prettier --write

feat: Add integration tests for connection readiness gate and improve subscription handling
  src/djcova/tests/voice-utils.readiness-gate.integration.test.ts
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

fix: remove broken ready-gate.ts file causing build failures
  src/djcova/src/services/ready-gate.ts
Due: eslint --fix, prettier --write

fix: update subscription tests to await async function and mock entersState
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

fix: update timeoutMs parameter description in validateVoiceChannelAccess function
  docs/prd-582.txt
  src/djcova/src/utils/voice-utils.ts
Due: eslint --fix, prettier --write

PRD: DJCova Connection Readiness Gate (Issue #582) (#614)
  src/djcova/src/utils/voice-utils.ts
  src/djcova/tests/voice-utils.readiness-gate.integration.test.ts
  src/djcova/tests/voice-utils.readiness-gate.test.ts
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

refactor: remove SQLite and Qdrant database dependencies and services.
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.yml
  package-lock.json
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
  src/covabot/package.json
  src/covabot/tests/services/database-service.test.ts
  src/shared/package.json
  src/shared/src/data-access/base/base-repository.ts
  src/shared/src/services/database/database-service.ts
  src/shared/src/services/database/index.ts
  src/shared/src/services/vector/vector-store.ts
  src/shared/src/types/personality.ts
Due: eslint --fix, prettier --write

feat: pgvector VectorStore + docker-compose infrastructure
  .env.example
  docker-compose.yml
  src/shared/migrations/shared_001_init_vector_store.sql
  src/shared/src/services/vector/postgres-vector-store.ts
Due: eslint --fix, prettier --write

docs: add pgvector technical design document
  docs/vectorstore-pgvector-design.md
Due: prettier --write

fix: address PR #628 review comments
  docs/vectorstore-pgvector-design.md
  src/covabot/src/database/index.ts
  src/shared/migrations/shared_001_init_vector_store.sql
  src/shared/src/services/database/postgres-service.ts
  src/shared/src/services/vector/index.ts
  src/shared/src/services/vector/postgres-vector-store.ts
Due: eslint --fix, prettier --write

fix: resolve migrationFiles reference and duplicate vector exports
  src/shared/src/services/database/postgres-service.ts
  src/shared/src/services/vector/index.ts
Due: eslint --fix, prettier --write

feat: pgvector VectorStore + docker-compose infrastructure (Phase 1 & 3) (#628)
  .env.example
  docker-compose.yml
  docs/vectorstore-pgvector-design.md
  src/covabot/src/database/index.ts
  src/shared/migrations/shared_001_init_vector_store.sql
  src/shared/src/services/database/postgres-service.ts
  src/shared/src/services/vector/index.ts
  src/shared/src/services/vector/postgres-vector-store.ts
Due: eslint --fix, prettier --write

fix: add health server to CovaBot for Docker health checks
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

fix: use stop() instead of close() for health server shutdown
  package-lock.json
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

fix: add health server to CovaBot for Docker health checks (#629)
  package-lock.json
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

ci: trigger publish pipeline with updated GHCR credentials
  .circleci/config.yml
Due: prettier --write

fix(djcova): update yt-dlp to 2026.03.17 and remove dead YouTube dependencies
  package-lock.json
  src/djcova/Dockerfile
  src/djcova/package.json
Due: prettier --write

fix(djcova): update yt-dlp to 2026.03.17 and remove dead YouTube dependencies (#630)
  package-lock.json
  src/djcova/Dockerfile
  src/djcova/package.json
Due: prettier --write

ci: force covabot image rebuild to include health server fix
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

chore: add CLAUDE.md context instructions
  .gitignore
  CLAUDE.md
  src/bluebot/CLAUDE.md
  src/bunkbot/CLAUDE.md
  src/covabot/CLAUDE.md
  src/djcova/CLAUDE.md
Due: prettier --write

feat: add project planning and integration test scaffolding for DJCova and BlueBot
  src/djcova/CLAUDE.md
Due: prettier --write

Chore/add claude contexts (#633)
  .gitignore
  CLAUDE.md
  src/bluebot/CLAUDE.md
  src/bunkbot/CLAUDE.md
  src/covabot/CLAUDE.md
  src/djcova/CLAUDE.md
Due: prettier --write

fix(djcova): unpin yt-dlp version to allow new installs
  .husky/pre-commit
  package-lock.json
  src/djcova/Dockerfile
Due: prettier --write

chore: revert unintended changes to pre-commit and package-lock
  .husky/pre-commit
  package-lock.json
Due: prettier --write

fix(djcova): unpin yt-dlp version to fix music playback (#635)
  src/djcova/Dockerfile
Due: none

chore: migrate from circleci to github actions
  .circleci/README.md
  .circleci/config.yml
  .circleci/main-merge.yml
  .circleci/scripts/__pycache__/generate_config.cpython-313.pyc
  .circleci/scripts/container_health_check.sh
  .circleci/scripts/detect_changes.sh
  .circleci/scripts/generate_config.py
  .circleci/shared-config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/deploy-production.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

fix: address PR reviews, adjust GH actions behavior
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  docs/CI.md
  scripts/ci/container_health_check.sh
Due: prettier --write

feat: refine CI and CD processes per review
  .github/workflows/ci.yml
  .github/workflows/main.yml
Due: prettier --write

feat: decouple docker validation from core ci to prevent reruns on labels
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
Due: prettier --write

chore: migrate from circleci to github actions (#636)
  .circleci/config.yml
  .circleci/main-merge.yml
  .circleci/scripts/__pycache__/generate_config.cpython-313.pyc
  .circleci/scripts/detect_changes.sh
  .circleci/scripts/generate_config.py
  .circleci/shared-config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/deploy-production.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-validate.yml
  .github/workflows/main.yml
  docs/CI.md
  scripts/ci/container_health_check.sh
Due: prettier --write

chore(claude): add project-level Claude Code commands to repo
  .claude/commands/build.md
  .claude/commands/check.md
  .claude/commands/deploy.md
  .claude/commands/docker.md
  .claude/commands/lint.md
  .claude/commands/logs.md
  .claude/commands/task.md
  .claude/commands/test.md
  .gitignore
Due: prettier --write

ci(main): improve Docker image tagging and git tag reliability
  .github/workflows/main.yml
Due: prettier --write

ci(main): switch GHCR auth from GHCR_TOKEN to GITHUB_TOKEN
  .github/workflows/main.yml
Due: prettier --write

fix(release): create config/ dir before writing VERSION file
  release.config.cjs
Due: none

chore(release): v1.31.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c276bf9e22661c1e20fc9fdefad358602da65202
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
