Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

feat(covabot): add verbose logging mode for decision visibility
  docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/covabot/src/utils/verbose-mode.ts
Due: eslint --fix, prettier --write

feat(covabot): add verbose logging mode for decision visibility (#665)
  docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/covabot/src/utils/verbose-mode.ts
Due: eslint --fix, prettier --write

chore(release): v1.35.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b91b253a5efa9a6ded30447d03d7dbe7b50b0742
Due: none

feat(covabot): add Anthropic and Gemini LLM providers
  docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/shared/src/services/llm/anthropic-provider.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-provider.ts
Due: eslint --fix, prettier --write

feat(covabot): add Anthropic and Gemini LLM providers (#666)
  docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/shared/src/services/llm/anthropic-provider.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-provider.ts
Due: eslint --fix, prettier --write

chore(release): v1.36.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f14e1e810693b0f72d6772f8f65f7167ff2215f
Due: none

feat(covabot): add personality generator script and Claude command
  .claude/commands/generate-personality.md
  package.json
  scripts/generate-personality.mjs
Due: prettier --write

feat(covabot): add Cova personality profile and multi-provider LLM fallback in generator
  scripts/generate-personality.mjs
  src/covabot/config/personalities/cova/beliefs.md
  src/covabot/config/personalities/cova/core.md
  src/covabot/config/personalities/cova/dislikes.md
  src/covabot/config/personalities/cova/likes.md
  src/covabot/config/personalities/cova/opinions.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/config/personalities/cova/speech.md
Due: prettier --write

chore(covabot): exclude personality profiles from git
  src/covabot/config/personalities/.gitignore
  src/covabot/config/personalities/cova/beliefs.md
  src/covabot/config/personalities/cova/core.md
  src/covabot/config/personalities/cova/dislikes.md
  src/covabot/config/personalities/cova/likes.md
  src/covabot/config/personalities/cova/opinions.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/config/personalities/cova/speech.md
Due: prettier --write

fix(covabot): update Gemini default model to gemini-2.5-flash
  src/shared/src/services/llm/gemini-provider.ts
Due: eslint --fix, prettier --write

fix(llm): strip profile model when falling back to secondary providers
  src/shared/src/services/llm/llm-provider-manager.ts
Due: eslint --fix, prettier --write

fix(covabot): fix LLM provider model fallback and mention response
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/services/llm-service.ts
  src/shared/src/services/llm/anthropic-provider.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

fix(covabot): fix LLM provider model fallback and mention response (#668)
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/services/llm-service.ts
  src/shared/src/services/llm/anthropic-provider.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

chore(release): v1.36.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  59500f1448f2cd31af0ac3ff7cbb3d7f75f7540b
Due: none

fix(covabot): fix Ollama model leak and webhook permission fallback
  src/shared/src/discord/discord-service.ts
  src/shared/src/services/llm/ollama-provider.ts
Due: eslint --fix, prettier --write

chore(release): v1.36.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ed611c8ff987fd033491b8ef77995f7bb0afb295
Due: none

feat(health): add modular health check system
  src/shared/src/index.ts
  src/shared/src/observability/health-server.ts
Due: eslint --fix, prettier --write

feat(health): surface trigger-response discrepancies and silence in /health
  scripts/ci/analyze-prod-logs.mjs
  scripts/ci/generate-health-report.mjs
  scripts/monitoring/prod-health-check.sh
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/strategy/strategy-router.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/djcova/src/index.ts
  src/shared/src/health/bot-activity-tracker.ts
Due: eslint --fix, prettier --write

fix(health): address PR review comments on health-server
  src/shared/src/observability/health-server.ts
Due: eslint --fix, prettier --write

feat(health): add modular health check system (#671)
  scripts/ci/analyze-prod-logs.mjs
  scripts/ci/generate-health-report.mjs
  scripts/monitoring/prod-health-check.sh
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/strategy/strategy-router.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/djcova/src/index.ts
  src/shared/src/health/bot-activity-tracker.ts
  src/shared/src/index.ts
  src/shared/src/observability/health-server.ts
Due: eslint --fix, prettier --write

chore(release): v1.37.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  12ee5fd488cb7f5570dc93e00b330af270054323
Due: none

fix(personality-generator): address PR review comments
  .claude/commands/generate-personality.md
  scripts/generate-personality.mjs
Due: prettier --write

fix(deps): update opentelemetry packages and lodash to resolve high/critical CVEs
  package-lock.json
  src/shared/package.json
Due: prettier --write

fix(deps): resolve Snyk high/critical vulnerabilities
  .snyk
  package-lock.json
  package.json
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/e2e/package.json
  src/shared/package.json
Due: prettier --write

fix(deps): eliminate remaining high severity vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix(deps): resolve all remaining vulnerabilities — 0 vulns remaining
  package-lock.json
  package.json
  src/shared/package.json
Due: prettier --write

feat(covabot): add personality generator from Discord message history (#667)
  .claude/commands/generate-personality.md
  .snyk
  package-lock.json
  package.json
  scripts/generate-personality.mjs
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/config/personalities/.gitignore
  src/covabot/config/personalities/cova/beliefs.md
  src/covabot/config/personalities/cova/core.md
  src/covabot/config/personalities/cova/dislikes.md
  src/covabot/config/personalities/cova/likes.md
  src/covabot/config/personalities/cova/opinions.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/config/personalities/cova/speech.md
  src/covabot/package.json
  src/djcova/package.json
  src/e2e/package.json
  src/shared/package.json
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/llm-provider-manager.ts
Due: eslint --fix, prettier --write

chore(release): v1.38.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7254aa1331ab600d9a54e61cc7b9c5ef5e352139
Due: none

fix(ci): add workflow_dispatch and --http1.1 to deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.38.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c2f9ddfdf86f51df57d91f2dc976f1913114472a
Due: none

fix(ci): replace Portainer webhook with self-hosted runner SSH deploy
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.38.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31f81d1d6275dc239a27a2435622bed901899f9c
Due: none
