Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix(djcova): resolve playback hang and reconnection issues
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/voiceUtils.ts
  apps/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): resolve yt-dlp streaming errors and interaction timeout handling
  apps/djcova/src/commands/play.ts
  apps/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): add yt-dlp binary path resolution and reduce default volume to 10%
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix: resolve linting errors in djcova
  .claude/README.md
  .claude/scripts/cleanup-worktrees.sh
  .claude/scripts/setup-worktree-batch.sh
  .claude/scripts/setup-worktree.sh
  apps/djcova/Dockerfile
  apps/djcova/jest.config.js
  apps/djcova/package.json
  apps/djcova/src/commands/__tests__/play.test.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/djCova.test.ts
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/ytdlp.ts
  apps/djcova/tests/music-commands.test.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: resolve linting errors in djCova
  apps/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

fix: resolve djcova test failures and linting issues
  apps/djcova/src/djCova.test.ts
  apps/djcova/tests/integration.test.ts.skip
  apps/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

fix: resolve Docker build issues in djcova
  apps/djcova/Dockerfile
Due: none

Fix/djcova issues (#311)
  .claude/README.md
  .claude/scripts/cleanup-worktrees.sh
  .claude/scripts/setup-worktree-batch.sh
  .claude/scripts/setup-worktree.sh
  apps/djcova/Dockerfile
  apps/djcova/jest.config.js
  apps/djcova/package.json
  apps/djcova/src/commands/__tests__/play.test.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/djCova.test.ts
  apps/djcova/src/djCova.ts
  apps/djcova/src/utils/voiceUtils.ts
  apps/djcova/src/utils/ytdlp.ts
  apps/djcova/tests/integration.test.ts.skip
  apps/djcova/tests/music-commands.test.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat(covabot): Phase 1 - Simplify to single unified LLM call
  .github/workflows/augment-describe-pr.yml
  apps/covabot/src/cova-bot/constants.ts
  apps/covabot/src/cova-bot/triggers.ts
  apps/covabot/src/cova-bot/unifiedLlmTrigger.ts
Due: eslint --fix, prettier --write

feat(covabot): Phase 2 - Build master personality prompt
  apps/covabot/src/cova-bot/masterPersonalityPrompt.ts
  apps/covabot/src/cova-bot/unifiedLlmTrigger.ts
Due: eslint --fix, prettier --write

feat(covabot): Phase 3 - Implement fresh identity fetching
  apps/covabot/src/cova-bot/triggers.ts
  apps/covabot/src/services/freshIdentityService.ts
Due: eslint --fix, prettier --write

feat(covabot): Phase 4 - Add simple channel memory
  apps/covabot/src/cova-bot/unifiedLlmTrigger.ts
  apps/covabot/src/services/channelMemoryService.ts
Due: eslint --fix, prettier --write

feat(covabot): Phase 5 - Remove Qdrant dependency
  apps/covabot/.env.example
  apps/covabot/docker-compose.yml
Due: prettier --write

feat(covabot): Phase 6 - Remove fallback responses
  apps/covabot/src/cova-bot/constants.ts
Due: eslint --fix, prettier --write

feat(covabot): Phase 7 - Complete testing and validation
  apps/covabot/CLEAN_SLATE_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

refactor(covabot): Extract personality to file and rename LLM functions
  .gitignore
  apps/covabot/data/bot-configuration.json
  apps/covabot/data/personality.example.txt
  apps/covabot/data/personality.json
  apps/covabot/data/personality.txt
  apps/covabot/src/cova-bot/llmTrigger.ts
  apps/covabot/src/cova-bot/triggers.ts
  apps/covabot/src/services/personalityLoader.ts
Due: eslint --fix, prettier --write

chore(covabot): Remove personality.txt from git tracking
  apps/covabot/data/personality.txt
Due: none

fix(gitignore): Properly exclude personality.txt from tracking
  .gitignore
Due: none

docs(covabot): Add personality setup guide
  apps/covabot/PERSONALITY_SETUP.md
Due: prettier --write

refactor(covabot): Remove personal data and clean up duplicate prompts
  apps/covabot/data/bot-configuration.json
  apps/covabot/data/personality.example.txt
  apps/covabot/data/personality.json
  apps/covabot/src/cova-bot/constants.ts
Due: eslint --fix, prettier --write

refactor(covabot): Remove personal information from constants and masterPersonalityPrompt
  apps/covabot/src/cova-bot/constants.ts
  apps/covabot/src/cova-bot/masterPersonalityPrompt.ts
Due: eslint --fix, prettier --write

refactor(covabot): Remove personal information from default personality fallback
  apps/covabot/src/services/personalityLoader.ts
Due: eslint --fix, prettier --write

refactor(covabot): Remove deprecated unifiedLlmTrigger and masterPersonalityPrompt files
  apps/covabot/src/cova-bot/masterPersonalityPrompt.ts
  apps/covabot/src/cova-bot/unifiedLlmTrigger.ts
Due: eslint --fix, prettier --write

refactor(covabot): Make personalityLoader.ts completely generic
  apps/covabot/src/services/personalityLoader.ts
Due: eslint --fix, prettier --write

chore(covabot): Remove temporary plan and summary markdown files
  apps/covabot/CLEAN_SLATE_IMPLEMENTATION_SUMMARY.md
  apps/covabot/PERSONALITY_SETUP.md
Due: prettier --write

feat(covabot): add enhanced logging for LLM decision and response flows
  apps/covabot/src/cova-bot/__tests__/llm-decision-logic.test.ts
  apps/covabot/src/cova-bot/llm-triggers.ts
Due: eslint --fix, prettier --write

feat: add shared fake Discord environment for e2e testing
  packages/shared/src/index.ts
  packages/shared/src/testing/discord/FakeDiscordClient.ts
  packages/shared/src/testing/discord/FakeDiscordEnvironment.ts
  packages/shared/src/testing/discord/MessageCapture.ts
  packages/shared/src/testing/discord/__tests__/FakeDiscordEnvironment.test.ts
  packages/shared/src/testing/discord/index.ts
Due: eslint --fix, prettier --write

test: Add comprehensive test coverage for FakeDiscordEnvironment
  apps/bunkbot/tests/e2e/blue-bot.e2e.test.ts
  packages/shared/src/testing/discord/__tests__/error-handling.test.ts
  packages/shared/src/testing/discord/__tests__/integration.test.ts
Due: eslint --fix, prettier --write

fix: Address Copilot PR review comments
  apps/bunkbot/src/reply-bots/package-lock.json
  package-lock.json
  packages/shared/src/testing/discord/FakeDiscordClient.ts
  packages/shared/src/testing/discord/FakeDiscordEnvironment.ts
  packages/shared/src/testing/discord/__tests__/FakeDiscordEnvironment.test.ts
Due: eslint --fix, prettier --write

fix: Update Qdrant API - use points_count instead of vectors_count
  apps/covabot/src/services/qdrantService.ts
Due: eslint --fix, prettier --write

fix: Resolve security vulnerabilities with npm audit fix
  package-lock.json
Due: prettier --write

feat: Add shared fake Discord environment for e2e testing (#314)
  apps/bunkbot/src/reply-bots/package-lock.json
  apps/bunkbot/tests/e2e/blue-bot.e2e.test.ts
  apps/covabot/src/services/qdrantService.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/testing/discord/FakeDiscordClient.ts
  packages/shared/src/testing/discord/FakeDiscordEnvironment.ts
  packages/shared/src/testing/discord/MessageCapture.ts
  packages/shared/src/testing/discord/__tests__/FakeDiscordEnvironment.test.ts
  packages/shared/src/testing/discord/__tests__/error-handling.test.ts
  packages/shared/src/testing/discord/__tests__/integration.test.ts
  packages/shared/src/testing/discord/index.ts
Due: eslint --fix, prettier --write

feat: Add LLM testing utilities including LLMCallTracker and MockLLMProvider
  packages/shared/src/index.ts
  packages/shared/src/testing/llm/LLMCallTracker.ts
  packages/shared/src/testing/llm/MockLLMProvider.ts
  packages/shared/src/testing/llm/__tests__/LLMCallTracker.test.ts
  packages/shared/src/testing/llm/__tests__/MockLLMProvider.test.ts
  packages/shared/src/testing/llm/__tests__/integration.test.ts
  packages/shared/src/testing/llm/index.ts
Due: eslint --fix, prettier --write

Update packages/shared/src/testing/llm/LLMCallTracker.ts
  packages/shared/src/testing/llm/LLMCallTracker.ts
Due: eslint --fix, prettier --write

fix: Improve LLMCallTracker ID generation and update assertEmulatorUsed to check for fallback usage
  packages/shared/src/testing/llm/LLMCallTracker.ts
  packages/shared/src/testing/llm/__tests__/integration.test.ts
  packages/shared/src/testing/llm/index.ts
Due: eslint --fix, prettier --write

Update packages/shared/src/testing/llm/MockLLMProvider.ts
  packages/shared/src/testing/llm/MockLLMProvider.ts
Due: eslint --fix, prettier --write

refactor: Reorganize exports in index.ts for clarity and consistency
  packages/shared/src/testing/llm/index.ts
Due: eslint --fix, prettier --write

feat: Add LLM testing utilities including LLMCallTracker and MockLLMProvider (#315)
  packages/shared/src/index.ts
  packages/shared/src/testing/llm/LLMCallTracker.ts
  packages/shared/src/testing/llm/MockLLMProvider.ts
  packages/shared/src/testing/llm/__tests__/LLMCallTracker.test.ts
  packages/shared/src/testing/llm/__tests__/MockLLMProvider.test.ts
  packages/shared/src/testing/llm/__tests__/integration.test.ts
  packages/shared/src/testing/llm/index.ts
Due: eslint --fix, prettier --write

feat(covabot): Add debug/calibration mode with user filtering
  apps/covabot/src/cova-bot/__tests__/debug-mode-calibration.test.ts
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/cova-bot/triggers.ts
  apps/covabot/src/services/llmService.ts
  apps/covabot/tests/e2e/covabot-llm.e2e.test.ts
  config/env/.env.example
  packages/shared/src/index.ts
  packages/shared/src/services/bootstrap.ts
  packages/shared/src/services/llm/__tests__/llmFailureHandling.test.ts
  packages/shared/src/services/llm/llmManager.ts
Due: eslint --fix, prettier --write

feat(ci): Add Ollama service container for E2E LLM tests
  .github/workflows/container-startup-validation.yml
  apps/covabot/tests/e2e/covabot-llm.e2e.test.ts
Due: eslint --fix, prettier --write
