Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

feat(ci): add automatic deployment to unraid on main branch (#562)
  .circleci/main-merge.yml
  .circleci/shared-config.yml
Due: prettier --write

Checkpoint from VS Code for coding agent session
  config/bunkbot/personality.yml
  package-lock.json
  src/covabot/src/serialization/personality-manager.ts
  src/covabot/src/serialization/personality-parser.ts
Due: eslint --fix, prettier --write

refactor: update PersonalityManager to load personalities from config directories
  src/covabot/src/serialization/personality-manager.ts
Due: eslint --fix, prettier --write

chore: rename organize_project.sh to organize-project.sh for kebab-case compliance
  .gitignore
  .roomodes
  config/package-lock.json
  config/package.json
  config/tsconfig.json
  src/covabot/src/serialization/deep-freeze.ts
  src/covabot/src/serialization/normalizers.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/serialization/personality-schema.ts
Due: eslint --fix, prettier --write

chore: restore package.json and package-lock.json to root
  package-lock.json
  package.json
Due: prettier --write

chore: restore tsconfig.json to root
  tsconfig.json
Due: prettier --write

feat: enhance PersonalityManager with logging and robust refresh handling
  config/covabot/README.md
  config/package-lock.json
  src/covabot/src/serialization/personality-manager.ts
  src/covabot/tests/serialization/personality-manager.refresh.test.ts
  src/covabot/tests/serialization/personality-manager.test.ts
  src/shared/src/__tests__/live-data.test.ts
Due: eslint --fix, prettier --write

chore: add .gitignore to exclude JUnit XML reports from Vitest
  test-results/.gitignore
Due: none

chore: remove deprecated custom modes from .roomodes
  .roomodes
Due: none

chore: add lodash as a dependency in package.json
  config/package-lock.json
  package-lock.json
  src/bunkbot/package-lock.json
  src/covabot/package.json
  src/covabot/src/serialization/personality-manager.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/handlers/message-handler.test.ts
  src/covabot/tests/services/llm-index.test.ts
  src/covabot/tests/services/llm-service.test.ts
  src/djcova/package-lock.json
  src/djcova/package.json
  src/shared/package-lock.json
  src/shared/package.json
Due: eslint --fix, prettier --write

refactor: simplify deepFreeze implementation and clean up personality-parser comments
  src/covabot/src/serialization/deep-freeze.ts
  src/covabot/src/serialization/personality-parser.ts
  src/shared/src/index.ts
  src/shared/src/utils/live-data.ts
Due: eslint --fix, prettier --write

feat: implement personality parsing and command handling modules
  src/bluebot/src/strategy/strategy-router.ts
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/serialization/personality-validator.ts
  src/shared/src/discord/command-registry.ts
  src/shared/src/discord/commands/command-registry.ts
  src/shared/src/discord/commands/command.ts
  src/shared/src/discord/commands/deploy.ts
  src/shared/src/discord/commands/handlers.ts
  src/shared/src/discord/commands/initialize.ts
Due: eslint --fix, prettier --write

revert: remove non-covabot changes from feature branch
  src/shared/src/__tests__/live-data.test.ts
  src/shared/src/discord/command-registry.ts
  src/shared/src/discord/commands/command-registry.ts
  src/shared/src/discord/commands/command.ts
  src/shared/src/discord/commands/deploy.ts
  src/shared/src/discord/commands/handlers.ts
  src/shared/src/discord/commands/initialize.ts
  src/shared/src/index.ts
  src/shared/src/utils/live-data.ts
Due: eslint --fix, prettier --write

Add tests for personality schema and validator, implement LiveData utility
  src/covabot/tests/serialization/deep-freeze.test.ts
  src/covabot/tests/serialization/normalizers.test.ts
  src/covabot/tests/serialization/personality-mapper.test.ts
  src/covabot/tests/serialization/personality-schema.test.ts
  src/covabot/tests/serialization/personality-validator.test.ts
  src/shared/src/__tests__/live-data.test.ts
  src/shared/src/index.ts
  src/shared/src/utils/live-data.ts
Due: eslint --fix, prettier --write

fix(ci): correct sync-versions.sh to target src/ packages instead of non-existent paths
  scripts/sync-versions.sh
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/shared/package.json
Due: prettier --write

fix(sync-versions): remove unnecessary blank line in package update loop
  scripts/sync-versions.sh
Due: none

fix(ci): correct sync-versions.sh to target src/ packages (#565)
  scripts/sync-versions.sh
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/shared/package.json
Due: prettier --write

chore(release): v1.27.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ad8db5155056c3532780c20ebe6b764959d06a8
Due: none

chore: Add CircleCI deployment workflow and notification system
  .circleci/workflows/deploy-production.yml
  .github/agents/master-architect.agent.md
  scripts/validation/check-naming-conventions.sh
Due: prettier --write

chore: Exclude .lh directory from naming convention checks
  scripts/validation/check-naming-conventions.sh
Due: none

fix: Remove merge conflict marker from config.yml
  .circleci/config.yml
Due: prettier --write

fix: Resolve all merge conflicts in deploy-production.yml
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix: Add when conditions to Discord notifications in deploy workflow
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix: Replace custom command with inline run steps for notifications
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix: Remove unused notify_discord command definition
  .circleci/workflows/deploy-production.yml
Due: prettier --write

Fix YAML parsing error - remove duplicate keys in config.yml
  .circleci/config.yml
Due: prettier --write

Fix: Remove continuation orb from generated config
  .circleci/scripts/generate_config.py
Due: none

Replace continuation orb with standard CircleCI workflow
  .circleci/config.yml
Due: prettier --write

Chore/add circle ci manual (#566)
  .circleci/config.yml
  .circleci/scripts/generate_config.py
  .circleci/workflows/deploy-production.yml
  .github/agents/master-architect.agent.md
  scripts/validation/check-naming-conventions.sh
  src/bluebot/package.json
  src/bluebot/src/blue-bot.ts
  src/bluebot/tests/helpers/mock-message.ts
  src/bluebot/tests/helpers/test-utils.ts
  src/bunkbot/package.json
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/repositories/social-battery-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
  src/covabot/src/services/interest-service.ts
  src/covabot/src/services/memory-service.ts
  src/covabot/src/services/personality-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/djcova/package.json
  src/shared/package.json
  src/shared/src/__tests__/live-data.test.ts
  src/shared/src/data-access/base/base-repository.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

chore: Ensure newline at end of file in check-naming-conventions.sh
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
  package-lock.json
Due: prettier --write

Chore/fix deployment (#567)
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
  package-lock.json
Due: prettier --write

fix(ci): restore dynamic config setup workflow
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix(ci): address PR review comments
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix(ci): standardize string quotes in deployment workflows
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
Due: prettier --write

fix(ci): restore dynamic config setup workflow (#568)
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
Due: prettier --write

Notes added by 'git notes add'
  b13f0058e16d678247a65f258e2ebd51925aebd0
Due: none

chore(release): v1.27.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

refactor(ci): rename deployment to publishing for main branch workflow
  .circleci/config.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write
