Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

chore(ci): add workflow_dispatch trigger to main CD workflow (#680)
  .github/workflows/main.yml
Due: prettier --write

feat(bots): send Discord DM when a bot starts after a version update
  .github/workflows/main.yml
  docker-compose.yml
  src/bluebot/Dockerfile.ci
  src/bluebot/src/index.ts
  src/bunkbot/Dockerfile.ci
  src/bunkbot/src/index.ts
  src/covabot/Dockerfile.ci
  src/covabot/src/cova-bot.ts
  src/djcova/Dockerfile.ci
  src/djcova/src/index.ts
  src/shared/src/discord/startup-dm.ts
Due: eslint --fix, prettier --write

feat(bots): send Discord DM when a bot starts after a version update (#681)
  .github/workflows/main.yml
  docker-compose.yml
  src/bluebot/Dockerfile.ci
  src/bluebot/src/index.ts
  src/bunkbot/Dockerfile.ci
  src/bunkbot/src/index.ts
  src/covabot/Dockerfile.ci
  src/covabot/src/cova-bot.ts
  src/djcova/Dockerfile.ci
  src/djcova/src/index.ts
  src/shared/src/discord/startup-dm.ts
Due: eslint --fix, prettier --write

chore(release): v1.42.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a9fe760267cd69034e535c34c4654f9a0df9e5c
Due: none

feat(djcova): add pipeline tests and silent-failure observability
  src/djcova/package.json
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/observability/djcova-metrics.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/pipeline/01-binaries.pipeline.test.ts
  src/djcova/tests/pipeline/02-yt-stream.pipeline.test.ts
  src/djcova/tests/pipeline/03-audio-resource.pipeline.test.ts
  src/djcova/tests/pipeline/04-djcova-play.pipeline.test.ts
  src/djcova/vitest.pipeline.config.ts
Due: eslint --fix, prettier --write

fix(djcova): exclude pipeline tests from npm test; add CI pipeline job
  .github/workflows/ci.yml
  package.json
  src/djcova/vitest.config.ts
Due: eslint --fix, prettier --write

fix(ci): skip network-dependent pipeline tests on GitHub-hosted runners
  .github/workflows/ci.yml
Due: prettier --write

fix(djcova): add SKIP_NETWORK_TESTS guards to pipeline Layers 2-4
  src/djcova/tests/pipeline/02-yt-stream.pipeline.test.ts
  src/djcova/tests/pipeline/03-audio-resource.pipeline.test.ts
  src/djcova/tests/pipeline/04-djcova-play.pipeline.test.ts
Due: eslint --fix, prettier --write

feat(djcova): pipeline tests + silent-failure observability (#682)
  .github/workflows/ci.yml
  package.json
  src/djcova/package.json
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/observability/djcova-metrics.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/pipeline/01-binaries.pipeline.test.ts
  src/djcova/tests/pipeline/02-yt-stream.pipeline.test.ts
  src/djcova/tests/pipeline/03-audio-resource.pipeline.test.ts
  src/djcova/tests/pipeline/04-djcova-play.pipeline.test.ts
  src/djcova/vitest.config.ts
  src/djcova/vitest.pipeline.config.ts
Due: eslint --fix, prettier --write

chore(release): v1.43.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d7a16e028128bbf0bae157818bb50de3c609e369
Due: none

feat(ci): replace Watchtower pull-based deploy with SSH push-based deploy
  .github/workflows/deploy.yml
Due: prettier --write

feat(ci): replace Watchtower pull-based deploy with SSH push-based deploy (#683)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.44.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95368583964eda0c7a4e4bbedccdb69f335ea8f3
Due: none

feat(ci): switch to Tailscale OAuth + Tailscale SSH for deployment
  .github/workflows/deploy.yml
Due: prettier --write

fix(ci): restore SSH key auth, keep Tailscale OAuth for network path
  .github/workflows/deploy.yml
Due: prettier --write

feat(ci): switch to Tailscale OAuth + Tailscale SSH for deployment (#684)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.45.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  760f958247862840f0e7a180294a064f3aadca78
Due: none

fix(ci): rename Tailscale OAuth secrets to TAILSCALE_OAUTH_CLIENT_ID/SECRET
  .github/workflows/deploy.yml
Due: prettier --write

fix(ci): rename Tailscale OAuth secrets to TAILSCALE_OAUTH_CLIENT_ID/SECRET (#685)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.45.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f423c5fbe57f18422203b23e05fd446b18154f31
Due: none

fix(ci): replace hardcoded compose dir with PROD_DOCKER_COMPOSE_DIR variable
  .github/workflows/deploy.yml
Due: prettier --write

feat(ci): scp docker-compose.yml from repo to Tower on each deploy
  .github/workflows/deploy.yml
Due: prettier --write

fix(ci): stage incoming docker-compose.yml before backup, install after
  .github/workflows/deploy.yml
  scripts/deployment/deploy.sh
Due: prettier --write

feat(ci): use repo docker-compose.yml and configurable compose dir (#686)
  .github/workflows/deploy.yml
  scripts/deployment/deploy.sh
Due: prettier --write

chore(release): v1.46.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  21a17b7bddaac56f3b18e8ea87d351864891e972
Due: none

fix(docker): pin compose project name to starbunk
  docker-compose.yml
Due: prettier --write

fix(docker): pin compose project name to starbunk-js
  docker-compose.yml
Due: prettier --write

fix(docker): pin compose project name to starbunk (#687)
  docker-compose.yml
Due: prettier --write

chore(release): v1.46.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e8cf77403ec3a82cc3e31359004f8967c5d93ca
Due: none

chore(deploy): rename .env to stack.env for deployment scripts
  docker-compose.yml
  scripts/deployment/deploy.sh
  scripts/deployment/health-check.sh
  scripts/deployment/rollback.sh
Due: prettier --write

chore(deploy): rename .env to stack.env (#688)
  docker-compose.yml
  scripts/deployment/deploy.sh
  scripts/deployment/health-check.sh
  scripts/deployment/rollback.sh
Due: prettier --write

chore: upgrade Node.js to 24 across all apps (#689)
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  package.json
  src/bluebot/Dockerfile
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile
  src/djcova/Dockerfile.ci
Due: prettier --write

fix(deploy): remove stale containers before bringing up new ones
  scripts/deployment/deploy.sh
Due: none
