Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: resolve CodeRabbit automated review issues
  .coderabbit.yml
  .github/workflows/automated-dependency-updates.yml
  .github/workflows/automated-label-management.yml
  .github/workflows/build-metrics.yml
  .github/workflows/changelog-generation.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup-old-images.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-dependency-analysis.yml
  .github/workflows/container-registry-cleanup.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/main-deploy.yml
  .github/workflows/manual-docker-build.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
  docs/tag-based-workflows.md
Due: prettier --write

fix: resolve remaining CodeRabbit trailing whitespace issues
  .coderabbit.yml
  .github/workflows/code-quality-gates.yml
Due: prettier --write

fix: resolve Claude review critical issues
  .coderabbit.yml
  .github/workflows/semantic-versioning.yml
Due: prettier --write

feat: comprehensive CI/CD pipeline optimizations with tag-based workflows (#257)
  .coderabbit.yml
  .github/workflows/automated-dependency-updates.yml
  .github/workflows/automated-label-management.yml
  .github/workflows/build-metrics.yml
  .github/workflows/changelog-generation.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup-old-images.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-build-test-publish.yml
  .github/workflows/container-dependency-analysis.yml
  .github/workflows/container-registry-cleanup.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/main-deploy.yml
  .github/workflows/manual-docker-build.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
  docs/tag-based-workflows.md
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write

chore(release): bump version to v0.1.0
  containers/bunkbot/package.json
  containers/covabot/package.json
  containers/djcova/package.json
  containers/shared/package.json
  containers/starbunk-dnd/package.json
  package.json
Due: prettier --write

cleanup: remove obsolete GitHub Actions workflows and fix YAML syntax
  .github/docs/path-based-builds.md
  .github/path-filters.yml
  .github/workflows/README.md
  .github/workflows/claude.yml
  .github/workflows/container-registry-cleanup.yml
  .github/workflows/main-deploy.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

cleanup: remove obsolete GitHub Actions workflows and fix YAML syntax (#253)
  .github/docs/path-based-builds.md
  .github/path-filters.yml
  .github/workflows/README.md
  .github/workflows/claude.yml
  .github/workflows/container-registry-cleanup.yml
  .github/workflows/main-deploy.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

Fix CodeRabbit and Claude review recommendations
  containers/covabot/src/__tests__/mocks/discord-mocks.ts
  containers/covabot/src/services/__tests__/identity-comprehensive.test.ts
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/services/qdrantService.ts
  containers/covabot/src/types/memoryTypes.ts
  containers/covabot/tests/mocks/transformers.ts
Due: eslint --fix, prettier --write

Address remaining CodeRabbit review recommendations
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
Due: eslint --fix, prettier --write

feat: add core CovaBot service architecture (CovaIdentityService, EmbeddingService, QdrantService) (#247)
  containers/covabot/package-lock.json
  containers/covabot/package.json
  containers/covabot/src/__tests__/mocks/discord-mocks.ts
  containers/covabot/src/services/__tests__/identity-comprehensive.test.ts
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/services/qdrantService.ts
  containers/covabot/src/types/botIdentity.ts
  containers/covabot/src/types/memoryTypes.ts
  containers/covabot/tests/mocks/transformers.ts
Due: eslint --fix, prettier --write

Add comprehensive Qdrant vector database setup plan
  QDRANT_SETUP_PLAN.md
Due: prettier --write

Implement complete Qdrant vector database setup for CovaBot
  .env.development
  .env.production
  .gitignore
  QDRANT_DEPLOYMENT_GUIDE.md
  config/qdrant/production.yaml
  containers/covabot/package.json
  docker-compose.dev.yml
  docker-compose.production.yml
  package-lock.json
  package.json
  scripts/backup-qdrant.sh
  scripts/initialize-collections.js
  scripts/monitor-qdrant.sh
  scripts/qdrant-health-check.sh
  scripts/test-covabot-qdrant-integration.js
Due: prettier --write

feat: add CovaBot memory and configuration services (QdrantMemoryService, BotConfigurationService)
  containers/covabot/src/__tests__/mocks/database-mocks.ts
  containers/covabot/src/services/__tests__/memory-service.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  containers/covabot/src/services/qdrantMemoryService.ts
  containers/covabot/src/types/botConfiguration.ts
  containers/covabot/src/types/personalityNote.ts
Due: eslint --fix, prettier --write

Address CodeRabbit review comments - comprehensive improvements
  .env.development
  QDRANT_SETUP_PLAN.md
  config/qdrant/production.yaml
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  containers/covabot/src/services/qdrantMemoryService.ts
  containers/covabot/src/services/qdrantService.ts
  containers/covabot/tests/mocks/transformers.ts
  docker-compose.dev.yml
  scripts/backup-qdrant.sh
  scripts/monitor-qdrant.sh
  scripts/qdrant-health-check.sh
  scripts/test-covabot-qdrant-integration.js
Due: eslint --fix, prettier --write

Address second CodeRabbit review - infrastructure and security improvements
  .env.example
  .gitignore
Due: none

Phase 1: Address critical CodeRabbit review comments
  scripts/backup-qdrant.sh
  scripts/monitor-qdrant.sh
  scripts/test-covabot-qdrant-integration.js
Due: none

Add comprehensive Qdrant vector database setup and integration
  .env.development
  .env.production
  QDRANT_DEPLOYMENT_GUIDE.md
  QDRANT_SETUP_PLAN.md
  config/qdrant/production.yaml
  docker-compose.dev.yml
  docker-compose.production.yml
  scripts/backup-qdrant.sh
  scripts/initialize-collections.js
  scripts/monitor-qdrant.sh
  scripts/qdrant-health-check.sh
  scripts/test-covabot-qdrant-integration.js
Due: prettier --write

Phase 2: Address configuration and testing CodeRabbit comments
  .env.example
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
Due: eslint --fix, prettier --write

Phase 3: Address test quality CodeRabbit comments
  containers/covabot/src/services/__tests__/memory-service.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  containers/shared/src/services/__tests__/discordService.test.ts
Due: eslint --fix, prettier --write

feat: add CovaBot memory and configuration services (QdrantMemoryService, BotConfigurationService) (#248)
  .env.development
  .env.example
  .gitignore
  QDRANT_DEPLOYMENT_GUIDE.md
  QDRANT_SETUP_PLAN.md
  config/qdrant/production.yaml
  containers/covabot/src/__tests__/mocks/database-mocks.ts
  containers/covabot/src/services/__tests__/memory-service.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  containers/covabot/src/services/qdrantMemoryService.ts
  containers/covabot/src/services/qdrantService.ts
  containers/covabot/src/types/botConfiguration.ts
  containers/covabot/src/types/personalityNote.ts
  containers/covabot/tests/mocks/transformers.ts
  containers/shared/src/services/__tests__/discordService.test.ts
  docker-compose.dev.yml
  docker-compose.production.yml
  scripts/backup-qdrant.sh
  scripts/initialize-collections.js
  scripts/monitor-qdrant.sh
  scripts/qdrant-health-check.sh
  scripts/test-covabot-qdrant-integration.js
Due: eslint --fix, prettier --write

feat: enhance CovaBot message processing with improved LLM triggers and conversation intelligence
  containers/covabot/src/__tests__/mocks/discord-mocks.ts
  containers/covabot/src/__tests__/mocks/llm-mocks.ts
  containers/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts
  containers/covabot/src/cova-bot/__tests__/llm-decision-logic.test.ts
  containers/covabot/src/cova-bot/__tests__/response-decision-logic.test.ts
  containers/covabot/src/cova-bot/conditions.ts
  containers/covabot/src/cova-bot/constants.ts
  containers/covabot/src/cova-bot/covaBot.ts
  containers/covabot/src/cova-bot/enhancedLlmTriggers.ts
  containers/covabot/src/cova-bot/llm-triggers.ts
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/cova-bot/triggerResponseFactory.ts
  containers/covabot/src/cova-bot/triggers.ts
  containers/covabot/src/services/__tests__/identity-comprehensive.test.ts
  containers/covabot/src/services/__tests__/memory-service.test.ts
  containers/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  containers/covabot/src/services/botConfigurationService.ts
  containers/covabot/src/services/embeddingService.ts
  containers/covabot/src/services/identity.ts
  containers/covabot/src/services/personalityNotesService.ts
  containers/covabot/src/services/personalityNotesServiceDb.ts
  containers/covabot/src/services/qdrantMemoryService.ts
  containers/covabot/src/services/qdrantService.ts
  containers/covabot/src/types/memoryTypes.ts
  containers/covabot/src/types/triggerResponse.ts
  containers/covabot/src/utils/responseUtils.ts
  containers/covabot/tests/mocks/transformers.ts
Due: eslint --fix, prettier --write

fix: build shared package before type-checking in CI/CD
  .github/workflows/code-quality-gates.yml
Due: prettier --write

fix: add required GitHub Actions permissions to code-quality-gates workflow
  .github/workflows/code-quality-gates.yml
Due: prettier --write

remove: disable problematic Quality Gate check
  .github/workflows/code-quality-gates.yml
Due: prettier --write

trigger: force GitHub to re-evaluate branch protection status
  .github/workflows/code-quality-gates.yml
Due: prettier --write

Update .github/workflows/code-quality-gates.yml
  .github/workflows/code-quality-gates.yml
Due: prettier --write

optimize: implement container-aware Claude code review workflow (#254)
  .github/docs/claude-code-review.md
  .github/workflows/claude-code-review.yml
  .github/workflows/code-quality-gates.yml
  scripts/test-claude-workflow.sh
Due: prettier --write

Switch CovaBot personality from Andrew back to Cova
  containers/covabot/src/cova-bot/constants.ts
  containers/covabot/src/cova-bot/llm-triggers.ts
  containers/covabot/src/services/botConfigurationService.ts
Due: eslint --fix, prettier --write

fix: resolve CovaBot test failures and achieve 100% test pass rate
  containers/covabot/jest.config.js
  containers/covabot/src/cova-bot/__tests__/llm-triggers.test.ts
  containers/covabot/tsconfig.json
  containers/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: enhance CovaBot Docker Compose configuration for production deployment
  docker-compose.latest.yml
  docker-compose.snapshot.yml
Due: prettier --write

fix: resolve CovaBot test failures and achieve 100% test pass rate (#259)
  containers/covabot/jest.config.js
  containers/covabot/src/cova-bot/__tests__/llm-triggers.test.ts
  containers/covabot/tsconfig.json
  containers/shared/src/index.ts
  docker-compose.latest.yml
  docker-compose.snapshot.yml
Due: eslint --fix, prettier --write
