Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: update Docker publish workflow to use dynamic repository name
  .github/workflows/docker-publish.yml
Due: prettier --write

fix: update Docker publish workflow permissions
  .github/workflows/docker-publish.yml
Due: prettier --write

feat: add pre-push Git hook for core file checks
  scripts/pre-push
  scripts/setup-git-hooks.sh
Due: none

refactor: update pre-push hook to check for skippable files
  scripts/pre-push
Due: none

feat: enhance Docker publish workflow with package creation and permission management
  .github/workflows/docker-publish.yml
  scripts/pre-push
Due: prettier --write

refactor: streamline Docker publish workflow for pull requests
  .github/workflows/docker-publish.yml
Due: prettier --write

chore: optimize Dockerfile for development environment
  Dockerfile.dev
Due: none

fix: again
  Dockerfile.dev
Due: none

chore: update Docker configuration for development environment
  Dockerfile.dev
  docker-compose.dev.yml
Due: prettier --write

Update .github/workflows/docker-publish.yml
  .github/workflows/docker-publish.yml
Due: prettier --write

fix: llm should skip empty messages / emotes / embedds / etc (#199)
  .github/workflows/docker-publish.yml
  Dockerfile
  Dockerfile.dev
  Dockerfile.prod
  docker-compose.dev.yml
  scripts/pre-push
  scripts/setup-git-hooks.sh
  src/bunkbot.ts
  src/starbunk/bots/strategy-bots/blue-bot/triggers.ts
  src/starbunk/bots/strategy-loader.ts
Due: eslint --fix, prettier --write

fix: improve personality bot message filtering and error handling
  src/starbunk/commands/personality.ts
Due: eslint --fix, prettier --write

Fix: Personality bot empty message handling (#200)
  src/starbunk/commands/personality.ts
Due: eslint --fix, prettier --write

feat: add 10% chance for GuyBot to respond to Guy's messages
  src/starbunk/bots/strategy-bots/guy-bot/constants.ts
  src/starbunk/bots/strategy-bots/guy-bot/triggers.ts
Due: eslint --fix, prettier --write

Add BotFrequency model and service for managing bot response rates
  prisma/migrations/20250407212923_add_bot_frequency_table/migration.sql
  prisma/schema.prisma
  src/services/botFrequencyService.ts
  src/starbunk/bots/__tests__/covaBotStrategy.test.ts
  src/starbunk/bots/__tests__/sigGreatBotStrategy.test.ts
  src/starbunk/bots/botRegistry.ts
  src/starbunk/bots/core/__tests__/trigger-response.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/conditions.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/replyBot.ts
  src/starbunk/bots/strategy-bots/bot-bot/index.ts
  src/starbunk/bots/strategy-bots/bot-bot/triggers.ts
  src/starbunk/bots/strategy-bots/chad-bot/constants.ts
  src/starbunk/bots/strategy-bots/chad-bot/triggers.ts
  src/starbunk/bots/strategy-bots/cova-bot/__tests__/covaBot.test.ts
  src/starbunk/bots/strategy-bots/cova-bot/triggers.ts
  src/starbunk/bots/strategy-bots/macaroni-bot/__tests__/macaroniBotStrategy.test.ts
  src/starbunk/bots/strategy-bots/macaroni-bot/index.ts
  src/starbunk/bots/strategy-bots/sig-great-bot/constants.ts
  src/starbunk/bots/strategy-bots/sig-great-bot/triggers.ts
  src/starbunk/bots/strategy-bots/venn-bot/constants.ts
  src/starbunk/bots/strategy-bots/venn-bot/triggers.ts
  src/starbunk/commands/botCommandHandler.ts
  src/starbunk/config/botDefaults.ts
Due: eslint --fix, prettier --write

Refactor bot strategies and validation logic
  src/starbunk/bots/__tests__/blueBotStrategy.test.ts
  src/starbunk/bots/__tests__/chadBotStrategy.test.ts
  src/starbunk/bots/__tests__/interruptBotStrategy.test.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/__tests__/trigger-response.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/conditions.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/bots/strategy-bots/chad-bot/constants.ts
  src/starbunk/bots/strategy-bots/chad-bot/index.ts
  src/starbunk/bots/strategy-bots/chad-bot/triggers.ts
  src/starbunk/commands/__tests__/bot.test.ts
  src/starbunk/config/botDefaults.ts
Due: eslint --fix, prettier --write

Add StarbunkClient and DJCova enhancements
  src/discord/getStarbunkClient.ts
  src/services/bootstrap.ts
  src/starbunk/bots/__tests__/chadBotStrategy.test.ts
  src/starbunk/bots/core/__tests__/conditions.test.ts
  src/starbunk/bots/core/conditions.ts
  src/starbunk/bots/strategy-bots/chad-bot/constants.ts
  src/starbunk/bots/strategy-bots/cova-bot/triggers.ts
  src/starbunk/bots/voice-bots/dj-cova/index.ts
  src/starbunk/commands/__tests__/botManager.test.ts
  src/starbunk/djCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

Refactor error handling in BotFrequencyService
  src/services/botFrequencyService.ts
Due: eslint --fix, prettier --write

Fix frequency is broken (#202)
  prisma/migrations/20250407212923_add_bot_frequency_table/migration.sql
  prisma/schema.prisma
  src/discord/getStarbunkClient.ts
  src/services/bootstrap.ts
  src/services/botFrequencyService.ts
  src/starbunk/bots/__tests__/blueBotStrategy.test.ts
  src/starbunk/bots/__tests__/chadBotStrategy.test.ts
  src/starbunk/bots/__tests__/covaBotStrategy.test.ts
  src/starbunk/bots/__tests__/interruptBotStrategy.test.ts
  src/starbunk/bots/__tests__/sigGreatBotStrategy.test.ts
  src/starbunk/bots/botRegistry.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/__tests__/conditions.test.ts
  src/starbunk/bots/core/__tests__/trigger-response.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/conditions.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/replyBot.ts
  src/starbunk/bots/strategy-bots/bot-bot/index.ts
  src/starbunk/bots/strategy-bots/bot-bot/triggers.ts
  src/starbunk/bots/strategy-bots/chad-bot/constants.ts
  src/starbunk/bots/strategy-bots/chad-bot/index.ts
  src/starbunk/bots/strategy-bots/chad-bot/triggers.ts
  src/starbunk/bots/strategy-bots/cova-bot/__tests__/covaBot.test.ts
  src/starbunk/bots/strategy-bots/cova-bot/triggers.ts
  src/starbunk/bots/strategy-bots/macaroni-bot/__tests__/macaroniBotStrategy.test.ts
  src/starbunk/bots/strategy-bots/macaroni-bot/index.ts
  src/starbunk/bots/strategy-bots/sig-great-bot/constants.ts
  src/starbunk/bots/strategy-bots/sig-great-bot/triggers.ts
  src/starbunk/bots/strategy-bots/venn-bot/constants.ts
  src/starbunk/bots/strategy-bots/venn-bot/triggers.ts
  src/starbunk/bots/voice-bots/dj-cova/index.ts
  src/starbunk/commands/__tests__/botManager.test.ts
  src/starbunk/commands/botCommandHandler.ts
  src/starbunk/config/botDefaults.ts
  src/starbunk/djCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

Refactor DiscordService to use dependency injection and remove singleton pattern
  src/environment.ts
  src/services/bootstrap.ts
  src/services/discordService.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/responses.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/services/campaignService.ts
Due: eslint --fix, prettier --write

Add error utility function and refactor error handling across services
  src/bunkbot.ts
  src/services/__tests__/discordService.test.ts
  src/services/discordService.ts
  src/services/llm/llmManager.ts
  src/utils/errorUtils.ts
Due: eslint --fix, prettier --write

Update Jest configuration for isolated modules and refactor DiscordService imports in tests
  jest.config.js
  src/services/__tests__/discordService.test.ts
  src/starbunk/bots/test-utils/testUtils.ts
Due: eslint --fix, prettier --write

Refactor/di services (#203)
  jest.config.js
  src/bunkbot.ts
  src/environment.ts
  src/services/__tests__/discordService.test.ts
  src/services/bootstrap.ts
  src/services/discordService.ts
  src/services/llm/llmManager.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/responses.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/bots/test-utils/testUtils.ts
  src/starbunk/services/campaignService.ts
  src/utils/errorUtils.ts
Due: eslint --fix, prettier --write

fix: rename reply bots
  scripts/update-bots.sh
  src/starbunk/__tests__/startup.test.ts
  src/starbunk/bots/__tests__/strategy-loader.test.ts
  src/starbunk/bots/adapter.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/__tests__/index.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/bot-factory.ts
  src/starbunk/bots/strategy-bots/attitude-bot/index.ts
  src/starbunk/bots/strategy-bots/baby-bot/index.ts
  src/starbunk/bots/strategy-bots/banana-bot/index.ts
  src/starbunk/bots/strategy-bots/blue-bot/index.ts
  src/starbunk/bots/strategy-bots/bot-bot/index.ts
  src/starbunk/bots/strategy-bots/chad-bot/index.ts
  src/starbunk/bots/strategy-bots/chaos-bot/index.ts
  src/starbunk/bots/strategy-bots/check-bot/index.ts
  src/starbunk/bots/strategy-bots/cova-bot/index.ts
  src/starbunk/bots/strategy-bots/ezio-bot/index.ts
  src/starbunk/bots/strategy-bots/gundam-bot/index.ts
  src/starbunk/bots/strategy-bots/guy-bot/index.ts
  src/starbunk/bots/strategy-bots/hold-bot/index.ts
  src/starbunk/bots/strategy-bots/homonym-bot/index.ts
  src/starbunk/bots/strategy-bots/index.ts
  src/starbunk/bots/strategy-bots/interrupt-bot/index.ts
  src/starbunk/bots/strategy-bots/macaroni-bot/index.ts
  src/starbunk/bots/strategy-bots/music-correct-bot/index.ts
  src/starbunk/bots/strategy-bots/nice-bot/index.ts
  src/starbunk/bots/strategy-bots/pickle-bot/index.ts
  src/starbunk/bots/strategy-bots/sheesh-bot/index.ts
  src/starbunk/bots/strategy-bots/sig-great-bot/index.ts
  src/starbunk/bots/strategy-bots/spider-bot/index.ts
  src/starbunk/bots/strategy-bots/venn-bot/index.ts
  src/starbunk/bots/strategy-loader.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

Update scripts/update-bots.sh
  scripts/update-bots.sh
Due: none

Refactor bot loader to use updated reply-loader module.
  src/starbunk/__tests__/startup.test.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

Switch from strategy-bots to reply-bots module.
  Dockerfile
  Dockerfile.dev
  package-lock.json
  package.json
  scripts/ensure-directories.sh
  src/starbunk/bots/__tests__/reply-loader.test.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/reply-bots/package-lock.json
  src/starbunk/bots/reply-loader.ts
Due: eslint --fix, prettier --write

Replace manual bot loading with automatic discovery.
  src/starbunk/__tests__/startup.test.ts
  src/starbunk/bots/botRegistry.ts
  src/starbunk/bots/core/__tests__/trigger-response.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/core/trigger-response.ts
  src/starbunk/bots/core/voice-bot-builder.ts
  src/starbunk/bots/createBot.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/reply-bots/baby-bot/index.ts
  src/starbunk/bots/reply-bots/example-bot/index.ts
  src/starbunk/bots/reply-bots/index.ts
  src/starbunk/bots/reply-loader.ts
  src/starbunk/bots/strategy-loader.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

Improve bot loading and error handling in BotRegistry
  src/starbunk/bots/botRegistry.ts
Due: eslint --fix, prettier --write

Refactor tests to improve bot registry behavior handling.
  src/starbunk/bots/__tests__/botRegistry.test.ts
  src/starbunk/bots/__tests__/strategy-loader.test.ts
Due: eslint --fix, prettier --write

Update src/starbunk/bots/__tests__/strategy-loader.test.ts
  src/starbunk/bots/__tests__/strategy-loader.test.ts
Due: eslint --fix, prettier --write

Refactor indentation in strategy-loader test mock.
  src/starbunk/bots/__tests__/strategy-loader.test.ts
Due: eslint --fix, prettier --write

Refactor tests for bot loading and discovery logic.
  src/starbunk/bots/__tests__/strategy-loader.test.ts
Due: eslint --fix, prettier --write

Add tests for verifying bot default enabled state behavior
  src/starbunk/bots/__tests__/strategy-loader.test.ts
Due: eslint --fix, prettier --write

Update dependencies, migrate database from SQLite to PostgreSQL, and refactor campaign models and repositories for improved structure and functionality.
  package-lock.json
  package.json
  prisma/migrations/20250328000738_add_campaign_metadata/migration.sql
  prisma/migrations/20250328000824_update_campaign_channels/migration.sql
  prisma/migrations/20250407212923_add_bot_frequency_table/migration.sql
  prisma/migrations/20250410021008_init/migration.sql
  prisma/migrations/20250410023250_rename_campaign_fields/migration.sql
  prisma/migrations/20250410183235_add_missing_fields/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/domain/models/index.ts
  src/domain/repositories/index.ts
  src/infrastructure/persistence/files/localFileRepository.ts
  src/infrastructure/persistence/sqlite/repositories/campaignRepository.ts
  src/infrastructure/persistence/sqlite/repositories/messageRepository.ts
  src/starbunk/bots/reply-bots.ts
  src/starbunk/bots/rpg/rpg-bot.ts
  src/starbunk/commands/rpgCommandHandler.ts
  src/starbunk/database/dto/campaign.dto.ts
  src/starbunk/database/dto/character.dto.ts
  src/starbunk/database/index.ts
  src/starbunk/database/repositories/campaign-repository.ts
  src/starbunk/database/repositories/character-repository.ts
  src/starbunk/services/campaignService.ts
  src/starbunk/types/game.ts
Due: eslint --fix, prettier --write

Refactor Dockerfile for multi-stage builds, add health check server, and update package.json scripts for improved testing and dependency management.
  .dockerignore
  Dockerfile.test
  package-lock.json
  package.json
  src/health.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
