Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(covabot): implement PostgreSQL conversation memory schema and repository
  docker-compose.yml
  package-lock.json
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/services/memory-service.ts
  src/covabot/tests/repositories/conversation-repository.test.ts
  src/shared/package.json
  src/shared/src/data-access/base/postgres-base-repository.ts
  src/shared/src/data-access/index.ts
  src/shared/src/services/database/index.ts
  src/shared/src/services/database/migrations/covabot_001_init_conversations.sql
  src/shared/src/services/database/postgres-service.ts
Due: eslint --fix, prettier --write

fix: export PostgresBaseRepository and fix test type annotations
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/covabot/tests/repositories/conversation-repository.test.ts
  src/djcova/package.json
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/services/database/index.ts
Due: eslint --fix, prettier --write

refactor: move CovaBot migrations to service package and add configurable migrations directory
  src/covabot/migrations/README.md
  src/covabot/migrations/covabot_001_init_conversations.sql
  src/covabot/src/database/index.ts
  src/shared/src/services/database/postgres-service.ts
Due: eslint --fix, prettier --write

fix: migrate all CovaBot repositories to PostgreSQL
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
  docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/repositories/interest-repository.ts
  src/covabot/src/repositories/personality-repository.ts
  src/covabot/src/repositories/social-battery-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
  src/covabot/src/services/personality-service.ts
Due: eslint --fix, prettier --write

test: fix CovaBot test mocks for PostgreSQL migration
  src/covabot/src/services/memory-service.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/repositories/repository-tracing.test.ts
  src/covabot/tests/services/memory-service.test.ts
Due: eslint --fix, prettier --write

chore: move AGENTS.md to docs and remove n8n config files
  .gitignore
  docs/AGENTS.md
Due: prettier --write

fix(covabot): fix test mock ON CONFLICT handlers and async/await
  .gitignore
  src/covabot/tests/integration/message-flow.test.ts
Due: eslint --fix, prettier --write

docs: add missing Tracing section to package TODO.md files
  src/bluebot/TODO.md
  src/bunkbot/TODO.md
  src/covabot/TODO.md
  src/djcova/TODO.md
Due: prettier --write

fix(covabot): remove duplicate pruneOldConversations method causing type error
  package-lock.json
  src/covabot/src/services/memory-service.ts
  src/covabot/tests/services/memory-service.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.28.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2e721dc891e01a841d7da3be5ec3449d2807309a
Due: none

fix(database): enforce POSTGRES_PASSWORD requirement and improve migration handling
  docker-compose.yml
  src/covabot/Dockerfile
  src/covabot/migrations/covabot_001_init_conversations.sql
  src/covabot/src/database/index.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/shared/src/services/database/postgres-service-old.ts
Due: eslint --fix, prettier --write

fix: update package versions to 1.28.0 across all components
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/shared/package.json
Due: prettier --write

chore: make prod compose CI-friendly health checks
  docker-compose.yml
Due: prettier --write

fix(ci): resolve CircleCI validation failures
  .circleci/workflows/main-merge.yml
  docker-compose.yml
  src/covabot/tsconfig.json
  src/shared/tsconfig.json
Due: prettier --write

fix(ci): correct ignoreDeprecations value to 5.0
  src/covabot/tsconfig.json
  src/shared/tsconfig.json
Due: prettier --write

fix(covabot): log error metadata without Error arg
  src/covabot/TODO.md
  src/covabot/src/repositories/conversation-repository.ts
Due: eslint --fix, prettier --write

fix(ci): align Dockerfile.ci base images with Node 22
  docs/TASKS.md
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: prettier --write

fix(pr): address all PR review feedback and security concerns
  .vscode/settings.json
  docker-compose.yml
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
  src/covabot/src/models/memory-types.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/shared/src/services/database/postgres-service-old.ts
  src/shared/src/services/database/postgres-service.ts
Due: eslint --fix, prettier --write

chore: make prod compose CI-friendly health checks (#571)
  .circleci/workflows/main-merge.yml
  .vscode/settings.json
  docker-compose.yml
  docs/TASKS.md
  src/bluebot/Dockerfile.ci
  src/bluebot/package.json
  src/bunkbot/Dockerfile.ci
  src/bunkbot/package.json
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
  src/covabot/TODO.md
  src/covabot/migrations/covabot_001_init_conversations.sql
  src/covabot/package.json
  src/covabot/src/database/index.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/tsconfig.json
  src/djcova/Dockerfile.ci
  src/djcova/package.json
  src/shared/package.json
  src/shared/src/services/database/postgres-service.ts
  src/shared/tsconfig.json
Due: eslint --fix, prettier --write

test: fix CovaBot test mocks for PostgreSQL migration
  src/covabot/src/services/memory-service.ts
Due: eslint --fix, prettier --write

fix(database): enforce POSTGRES_PASSWORD requirement and improve migration handling
  docker-compose.yml
  src/shared/src/services/database/postgres-service-old.ts
Due: eslint --fix, prettier --write

feat(covabot): implement PostgreSQL conversation memory schema and repository
  package-lock.json
  src/shared/src/services/database/migrations/covabot_001_init_conversations.sql
Due: prettier --write

refactor: move CovaBot migrations to service package and add configurable migrations directory
  src/shared/src/services/database/migrations/covabot_001_init_conversations.sql
Due: none

fix(covabot): remove duplicate pruneOldConversations method causing type error
  package-lock.json
  src/covabot/src/services/memory-service.ts
Due: eslint --fix, prettier --write

Hotfix/forgor (#570)
  docker-compose.yml
  src/shared/src/services/database/postgres-service-old.ts
Due: eslint --fix, prettier --write

chore: refactor code structure and improve service creation logic
  .gitignore
  src/djcova/src/commands/play.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/utils/container.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

chore: remove agent files and templates from git
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/master-architect.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .gitignore
  docs/AGENTS.md
Due: prettier --write

feat: Add agent definitions for grunt-worker, master-architect, ops-engineer, test-guard, and ts-sorcerer
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/master-architect.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .gitignore
  docs/AGENTS.md
Due: prettier --write

chore: update master-architect agent definition and enhance DJCova audio handling
  .github/README.md
  .github/agents/master-architect.agent.md
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

chore: untrack agent and command files from git
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/master-architect.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
Due: prettier --write

Enforce immutability of AudioPlayer instance (#593)
  package-lock.json
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

Update src/djcova/src/commands/play.ts
  src/djcova/src/commands/play.ts
Due: eslint --fix, prettier --write

Update src/djcova/src/utils/ytdlp.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): implement singleton pattern for DJCovaService
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

chore: remove deprecated GitHub workflows and related files
  .github/BRANCH_NAMING_CONVENTION.md
  .github/workflows/main-deploy.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security-weekly.yml
  .github/workflows/semantic-release.yml
  .github/workflows/validate-manifests.yml
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
  data/stacks/bunkbot/docker-compose.yml
  test-results/.gitignore
Due: prettier --write

fix(djcova): fix singleton pattern for testability
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

fix: skip ytdlp integration tests in CI to prevent flaky failures
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
