Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: bluebot tests should run in CI mode, not watch mode
  src/bluebot/package.json
Due: prettier --write

fix: add missing observability/log-layer export to shared package
  src/shared/package.json
Due: prettier --write

refactor: expand observability exports in shared package
  src/shared/package.json
Due: prettier --write

fix: attach build artifacts in test job for module resolution
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: handle missing latest image gracefully in publish job
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: conditionally apply docker cache-from only if latest exists
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: handle first deployment in image comparison step
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add CircleCI context for GHCR authentication
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: remove redundant node_modules copy in djcova Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: none

fix: disable deploy job - requires self-hosted runner
  .circleci/workflows/main-merge.yml
Due: prettier --write

chore: remove test-specific code, configure for main branch deployment
  .circleci/config.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add semantic release and image tagging jobs to CI workflow
  .circleci/workflows/main-merge.yml
Due: prettier --write

fix: update weight logging in InterestRepository and clean up test code
  src/covabot/src/repositories/interest-repository.ts
  src/covabot/tests/repositories/repository-tracing.test.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: add async handling for interest and social battery checks in ResponseDecisionService
  src/covabot/src/services/response-decision-service.ts
Due: eslint --fix, prettier --write

feat: update tests to use async/await for improved handling of asynchronous operations
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/memory-service.test.ts
  src/covabot/tests/services/social-battery-service.test.ts
Due: eslint --fix, prettier --write

feat: implement automated production deployment workflow and configuration
  .circleci/config.yml
  .circleci/workflows/deploy-production.yml
  .env.production.example
  README.md
Due: prettier --write

chore(release): v1.25.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4060cf0cc31825ceaf691488f80d36a66a6a7aae
Due: none

chore(release): v1.26.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  055b292da3b320511657f94f73fd31d8c3c15ef9
Due: none

fix(ci): correct executor and heredoc syntax in deployment workflows
  .circleci/workflows/deploy-production.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

chore(release): v1.26.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d6f104f4894acc067a1c7e306e53b7b752506053
Due: none

fix(ci): escape heredoc syntax for CircleCI v2.1+ compatibility
  .circleci/workflows/deploy-production.yml
Due: prettier --write

chore(release): v1.26.2 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d3d11699d3b85aded854e8626b676eaf5496d7cc
Due: none

fix(ci): use self-hosted runner for deployment to access private network
  .circleci/workflows/deploy-production.yml
Due: prettier --write

chore(release): v1.26.3 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  221bf7732e3fd76e71e3960bfb166298590b386b
Due: none

fix: resolve CircleCI validation errors and markdown formatting
  .circleci/README.md
  .circleci/config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

fix: specify language for code blocks in README
  .circleci/README.md
Due: prettier --write

style: remove trailing whitespace from generate_config.py
  .circleci/scripts/generate_config.py
Due: none

fix: install PyYAML before running generate_config.py
  .circleci/config.yml
Due: prettier --write

fix: use sudo for apt-get and pip3 in CircleCI setup
  .circleci/config.yml
Due: prettier --write

Refactor/dedupe circleci (#559)
  .circleci/README.md
  .circleci/changed_files.txt
  .circleci/config.yml
  .circleci/diff.json
  .circleci/scripts/__pycache__/generate_config.cpython-313.pyc
  .circleci/scripts/generate_config.py
  .circleci/shared-config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
  .gitignore
Due: prettier --write

fix: use python3 -m pip instead of pip3 for PyYAML installation
  .circleci/config.yml
Due: prettier --write

fix: change tag_version_images to use docker executor instead of self-hosted runner
  .circleci/workflows/main-merge.yml
Due: prettier --write

Update .circleci/workflows/main-merge.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

Fix/deployment-broke (#560)
  .circleci/config.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat(ci): add automatic deployment to unraid on main branch
  .circleci/main-merge.yml
  .circleci/shared-config.yml
Due: prettier --write
