Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(bunkbot): restructure command and response handling; move condition and response resolvers to new directories
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/commands/index.ts
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/resolvers/response-resolver.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
  src/bunkbot/tests/reply-bots/conditions/condition-resolver.test.ts
  src/bunkbot/tests/reply-bots/responses/response-resolver.test.ts
  src/shared/src/discord/command-registry.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

refactor(bunkbot): standardize method naming and improve logging across files
  config/tools/.coderabbit.yml
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/reply-bots/bot-factory.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/identity/get-bot-identity.ts
  src/bunkbot/src/reply-bots/identity/get-identity-options.ts
  src/bunkbot/src/reply-bots/models/bot-identity.ts
  src/bunkbot/src/reply-bots/resolvers/response-resolver.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
  src/bunkbot/src/serialization/yaml-bot-parser.ts
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
Due: eslint --fix, prettier --write

Restructure Bunkbot (#464)
  config/tools/.coderabbit.yml
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/commands/index.ts
  src/bunkbot/src/reply-bots/bot-factory.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/identity/get-bot-identity.ts
  src/bunkbot/src/reply-bots/identity/get-identity-options.ts
  src/bunkbot/src/reply-bots/models/bot-identity.ts
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/resolvers/response-resolver.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
  src/bunkbot/src/serialization/yaml-bot-parser.ts
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
  src/bunkbot/tests/reply-bots/conditions/condition-resolver.test.ts
  src/bunkbot/tests/reply-bots/responses/response-resolver.test.ts
  src/shared/src/discord/command-registry.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

chore(docker-compose): update service configurations and paths for production images
  docker-compose.yml
Due: prettier --write

chore(docker-compose): add a blank line for improved readability
  docker-compose.yml
Due: prettier --write

chore(metrics): enhance telemetry with trigger evaluation metrics and metadata
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/conditions/trigger.ts
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
  src/shared/src/observability/metrics-service.ts
Due: eslint --fix, prettier --write

chore(docker-compose): update service configurations and paths for improved compatibility
  docker-compose.yml
  package-lock.json
Due: prettier --write

feat(tracing): integrate OpenTelemetry for distributed tracing in bot processing
  package-lock.json
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

chore(docker-compose): update service configurations and paths for improved compatibility and readability
  docker-compose.yml
Due: prettier --write

refactor(trace-service): improve code formatting and consistency in span methods
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

feat(metrics): enhance metrics tracking with detailed condition types and context
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/conditions/trigger.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/shared/src/observability/metrics-service.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

Feature/bunkbot metrics (#467)
  package-lock.json
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/bunkbot/src/reply-bots/conditions/trigger.ts
  src/bunkbot/src/reply-bots/resolvers/condition-resolver.ts
  src/bunkbot/src/reply-bots/standard-reply-bot.ts
  src/bunkbot/src/serialization/yaml-bot-factory.ts
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/observability/metrics-service.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

feat(bluebot): Add comprehensive logging and metrics matching BunkBot
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/index.ts
  src/bluebot/src/strategy/blue-default-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-strategy.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/src/strategy/strategy-router.ts
Due: eslint --fix, prettier --write

feat(bluebot): Add comprehensive logging and metrics matching BunkBot (#468)
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/index.ts
  src/bluebot/src/strategy/blue-default-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-strategy.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/src/strategy/strategy-router.ts
Due: eslint --fix, prettier --write

chore(release): v1.20.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f243a0e911f14c7cd0fa0257fac5fab7b6e574a
Due: none

feat: add IP-based environment configuration for OTLP trace server
  config/env/.env.example
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

feat: add unified OTLP observability pipeline for all services
  config/env/.env.example
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  src/shared/package.json
  src/shared/src/observability/metrics-service.ts
Due: eslint --fix, prettier --write

feat: add peer dependency flag to multiple packages in package-lock.json
  package-lock.json
Due: prettier --write

feat: add Grafana Tempo for complete observability stack
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/grafana-datasources.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/tempo-config.yml
Due: prettier --write

refactor: standardize Grafana stack and OTEL naming conventions
  config/env/.env.example
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix(docker): remove unused TRACE_EXPORTER env var
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat: update OpenTelemetry collector service name and configuration for consistency
  config/env/.env.example
  src/shared/src/observability/metrics-service.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

refactor: simplify observability environment variables
  docker-compose.yml
Due: prettier --write

fix: use resourceFromAttributes instead of Resource constructor
  src/shared/src/observability/metrics-service.ts
Due: eslint --fix, prettier --write

fix(docker): remove unused OpenTelemetry environment variables
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat: add Prometheus and Loki services to docker-compose
  config/env/.env.example
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

refactor: make bot containers private, route all observability through OTEL
  config/env/.env.example
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/prometheus.yml
Due: prettier --write

feat: add Promtail for Docker log collection
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/promtail-config.yml
Due: prettier --write

docs: add comments marking optional environment variables
  docker-compose.yml
Due: prettier --write

docs: add optional/required markings to .env.example
  config/env/.env.example
Due: none

feat: implement OTLP logging with Pino and OpenTelemetry integration
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/promtail-config.yml
  package-lock.json
  src/shared/package.json
  src/shared/src/observability/log-layer.ts
  src/shared/src/observability/logs-service.ts
  src/shared/src/observability/pino-otlp-transport.ts
Due: eslint --fix, prettier --write

feat: update Docker images to use 'prod' tag and adjust port exposure for internal services
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat: enhance Pino log record structure and improve type safety for OTLP logging
  src/shared/src/observability/pino-otlp-transport.ts
Due: eslint --fix, prettier --write

feat: update volume paths for services in docker-compose and set user permissions
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat: Add IP-based environment configuration for OTLP trace server (#469)
  config/env/.env.example
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/grafana-datasources.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/promtail-config.yml
  infrastructure/monitoring/tempo-config.yml
  package-lock.json
  src/shared/package.json
  src/shared/src/observability/log-layer.ts
  src/shared/src/observability/logs-service.ts
  src/shared/src/observability/metrics-service.ts
  src/shared/src/observability/pino-otlp-transport.ts
  src/shared/src/observability/trace-service.ts
Due: eslint --fix, prettier --write

chore(release): v1.21.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0e0dca5d1a532eb4c3361130294f675e982c88d3
Due: none

chore: cleanup legacy observability configs and update to OTEL-only architecture
  infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/grafana-dashboards/README.md
  infrastructure/monitoring/grafana-dashboards/bunkbot-metrics.json
  infrastructure/monitoring/grafana-dashboards/covabot-metrics.json
  infrastructure/monitoring/grafana-dashboards/dashboards.yml
  infrastructure/monitoring/grafana-dashboards/djcova-metrics.json
  infrastructure/monitoring/grafana-dashboards/json/bunkbot-performance.json
  infrastructure/monitoring/grafana-dashboards/json/covabot-ai.json
  infrastructure/monitoring/grafana-dashboards/json/djcova-music.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-dnd.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-overview.json
  infrastructure/monitoring/grafana-dashboards/json/unified-collector.json
  infrastructure/monitoring/grafana-dashboards/starbunk-dnd-metrics.json
  infrastructure/monitoring/grafana-dashboards/system-overview.json
  infrastructure/monitoring/grafana-datasources.yml
  infrastructure/monitoring/loki-config.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/tempo-config.yml
  infrastructure/podman/podman-compose.yml
Due: prettier --write

chore: update configs for host observability stack integration
  config/VERSION
  config/env/.env.example
  docker-compose.yml
  docs/CHANGELOG.md
  infrastructure/docker/docker-compose.yml
  src/shared/src/observability/logs-service.ts
  src/shared/src/observability/pino-otlp-transport.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
