Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix(ci): pass env-file to both pull and up steps, fix Discord secret
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.38.3 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b9ccddbea304a8bed031acc8777ec7600db4f2ca
Due: none

fix(ci): remove Discord notification from deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.38.4 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  23b0802a512b2653e6aba2e9c11b5a39cc0411f2
Due: none

fix(covabot): add better-sqlite3 as runtime dependency in shared package
  package-lock.json
  src/shared/package.json
Due: prettier --write

fix(ci): switch deploy workflow from self-hosted to GitHub runner via SSH
  .github/workflows/deploy.yml
Due: prettier --write

fix(ci): replace SSH deploy with Watchtower pull-based deployment
  .github/workflows/deploy.yml
  docker-compose.yml
Due: prettier --write

chore(release): v1.38.5 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  757dce473c4ba12e6fdeaf1bf03181ef9988e1b0
Due: none

fix(ci): pull-based deploy via Watchtower (no SSH, no Portainer) (#672)
  .github/workflows/deploy.yml
  docker-compose.yml
Due: prettier --write

chore(release): v1.38.6 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  be86f5251b525f64086cb4b01f8c0462483e1b79
Due: none

fix(ci): remove watchtower from compose — managed by Unraid CA app
  docker-compose.yml
Due: prettier --write

feat(bluebot): add decision-flow logging to BlueReplyStrategy and BlueRequestStrategy
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
Due: eslint --fix, prettier --write

fix(ci): remove watchtower from compose, fix deploy workflow (#673)
  docker-compose.yml
Due: prettier --write

chore(release): v1.38.7 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7de15369b726603d29a27d1c5c8c808a90ed8187
Due: none

fix(bluebot): address PR review comments on logging changes
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/tests/strategies/blue-strategy.test.ts
Due: eslint --fix, prettier --write

feat(bluebot): add decision-flow logging to reply and request strategies (#674)
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/tests/strategies/blue-strategy.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.39.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cddc10cf564e70b26a8e7877a38b92c6d279cf59
Due: none

chore(infra): consolidate to single root docker-compose.yml
  docs/DEPLOYMENT.md
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.yml
  package.json
Due: prettier --write

chore(infra): consolidate to single root docker-compose.yml (#675)
  docs/DEPLOYMENT.md
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.yml
  package.json
Due: prettier --write

feat(ci): trigger Watchtower via HTTP API over Tailscale + GitHub Deployments
  .github/workflows/deploy.yml
  docker-compose.yml
  infrastructure/docker/.env.example
Due: prettier --write

fix(ci): rename Tailscale secrets to TAILSCALE_OAUTH_CLIENT_ID/SECRET
  .github/workflows/deploy.yml
Due: prettier --write

feat(observability): enhance health servers with bot-specific checks
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/health/bunkbot-health.ts
  src/bunkbot/src/reply-bots/services/bot-discovery-service.ts
  src/covabot/src/index.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/health/djcova-health.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/voice-utils.ts
  src/shared/src/health/config-health.ts
  src/shared/src/health/dependency-health.ts
Due: eslint --fix, prettier --write

feat(observability): enhance health servers with bot-specific checks (closes #670) (#676)
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/health/bunkbot-health.ts
  src/bunkbot/src/reply-bots/services/bot-discovery-service.ts
  src/covabot/src/index.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/health/djcova-health.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/voice-utils.ts
  src/shared/src/health/config-health.ts
  src/shared/src/health/dependency-health.ts
Due: eslint --fix, prettier --write

chore(release): v1.40.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6ad511a065366d740148fc0505770018946a0da7
Due: none

feat(ci): add Discord notifications to CD pipeline
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

feat(ci): send CD notifications as Discord DMs, not guild messages
  .github/actions/discord-dm/action.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

feat(ci): add Discord notifications to CD pipeline (#677)
  .github/actions/discord-dm/action.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

fix(ci): remove secrets context from workflow if conditions
  .github/actions/discord-dm/action.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

fix(ci): remove secrets context from workflow if conditions (#679)
  .github/actions/discord-dm/action.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: prettier --write

chore(release): v1.41.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c7666ead5ac31b60df993955c9c40ea6451b6f39
Due: none

chore(ci): add workflow_dispatch trigger to main CD workflow
  .github/workflows/main.yml
Due: prettier --write
