Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): v1.33.5 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7a8e04b7d6901ba59f1d680aec0dbcca6c6c8607
Due: none

fix(deploy): replace minimal postgres-only compose with full stack
  docker-compose.yml
Due: prettier --write

feat(infra): add Redis and Qdrant to compose stacks, switch deploy to Portainer webhook
  .circleci/config.yml
  .github/workflows/deploy.yml
  docker-compose.yml
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix(infra): address PR review comments
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat(infra): full production stack — Redis, Qdrant, Portainer webhook deploy (#653)
  .circleci/config.yml
  .github/workflows/deploy.yml
  docker-compose.yml
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
Due: prettier --write

chore: remove CircleCI configuration
  .circleci/config.yml
Due: prettier --write

chore(release): v1.34.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4b63af8fdf34493aec86bb1b866b4dcf3a5de95
Due: none

fix(infra): quote POSTGRES_PASSWORD env vars containing YAML-special characters
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

chore: remove Gemini integration
  .env.e2e.example
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  docker-compose.e2e.yml
  docker-compose.yml
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
  src/covabot/CLAUDE.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/tests/services/llm-index.test.ts
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
Due: eslint --fix, prettier --write

fix: remove GeminiProvider re-export from shared index
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Due: prettier --write

chore: upgrade GitHub Actions to Node.js 24-compatible versions
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Due: prettier --write

chore: remove Gemini integration (#655)
  .env.e2e.example
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/main.yml
  docker-compose.e2e.yml
  docker-compose.yml
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
  src/covabot/CLAUDE.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/tests/services/llm-index.test.ts
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
Due: eslint --fix, prettier --write

chore: point wiki to repo-local wiki/ and gitignore it
  .gitignore
  CLAUDE.md
Due: prettier --write

chore: point wiki to repo-local wiki/ and gitignore it (#657)
  .gitignore
  CLAUDE.md
Due: prettier --write

fix: remove hardcoded subnet from starbunk-network to prevent address pool conflicts
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix: remove hardcoded subnet to prevent Portainer address pool conflicts (#658)
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

chore(release): v1.34.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83508d36d90aab64e5828bfc68cfc49c066e025c
Due: none

fix: standardize Docker service/container names to prevent DNS failures
  docker-compose.yml
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix: standardize Docker service/container names to fix CovaBot DNS failures (#659)
  docker-compose.yml
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

chore(release): v1.34.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f6fc7029059bfdcaecfb640c8d3b3a098323493
Due: none

fix(health): return 503 during startup to prevent false-positive health checks
  src/bluebot/src/index.ts
  src/bunkbot/src/index.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
  src/shared/src/index.ts
  src/shared/src/observability/health-server.ts
Due: eslint --fix, prettier --write

fix(health): return 503 during startup to prevent false-positive health checks (#660)
  src/bluebot/src/index.ts
  src/bunkbot/src/index.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
  src/shared/src/index.ts
  src/shared/src/observability/health-server.ts
Due: eslint --fix, prettier --write

chore(release): v1.34.3 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4086459566e17f6d030cb69aefea22fcfb4de172
Due: none

fix(docker): add starbunk-db alias and fix health check endpoint
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/bluebot/Dockerfile
  src/bunkbot/Dockerfile
  src/covabot/Dockerfile
  src/djcova/Dockerfile
Due: prettier --write

fix(covabot): fix ENOTFOUND starbunk-db and false-positive health checks (#661)
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/bluebot/Dockerfile
  src/bunkbot/Dockerfile
  src/covabot/Dockerfile
  src/djcova/Dockerfile
Due: prettier --write

chore(release): v1.34.4 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3bea1ab2cfa4ec5fdcb770224d2c3b11a0ff3fe3
Due: none

fix(covabot): resolve starbunk-postgres DNS failure in multi-stack deployments
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/database/index.ts
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

Fix/covabot startup and health (#662)
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/database/index.ts
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

refactor: generalize LLM provider architecture
  .claude/commands/review-pr-comments.md
  .env.example
  README.md
  docker-compose.e2e.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/tests/services/llm/embedding-manager.scheduling.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.config.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.interval.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.scheduling.test.ts
  src/shared/src/services/llm/embedding-manager.ts
  src/shared/src/services/llm/embedding-provider.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-embedding-provider.ts
  src/shared/src/services/llm/ollama-model-manager.ts
  src/shared/src/services/llm/ollama-provider.ts
  src/shared/src/services/llm/openai-embedding-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

refactor: generalize LLM provider architecture (#663)
  .claude/commands/review-pr-comments.md
  .env.example
  README.md
  docker-compose.e2e.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/tests/services/llm/embedding-manager.scheduling.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.config.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.interval.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.scheduling.test.ts
  src/shared/src/services/llm/embedding-manager.ts
  src/shared/src/services/llm/embedding-provider.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-embedding-provider.ts
  src/shared/src/services/llm/ollama-model-manager.ts
  src/shared/src/services/llm/ollama-provider.ts
  src/shared/src/services/llm/openai-embedding-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

refactor(covabot): improve clarity and naming across codebase
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
  src/covabot/src/serialization/deep-freeze.ts
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/normalizers.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-validator.ts
  src/covabot/src/services/interest-service.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/memory-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

refactor(covabot): improve clarity and naming across codebase (#664)
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/repositories/conversation-repository.ts
  src/covabot/src/repositories/user-fact-repository.ts
  src/covabot/src/serialization/deep-freeze.ts
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/normalizers.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-validator.ts
  src/covabot/src/services/interest-service.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/memory-service.ts
  src/covabot/src/services/social-battery-service.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-provider.ts
  src/shared/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
