Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: upgrade openai from 4.87.3 to 4.89.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @distube/ytdl-core from 4.16.4 to 4.16.5
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade openai from 4.87.3 to 4.89.0 (#207)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade @distube/ytdl-core from 4.16.4 to 4.16.5 (#208)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade openai from 4.89.0 to 4.90.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @distube/ytdl-core from 4.16.5 to 4.16.6
  package-lock.json
  package.json
Due: prettier --write

Fix bug where bots do not properly ignore Ian
  package-lock.json
  src/discord/userId.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/replyBot.ts
Due: eslint --fix, prettier --write

Fix: Bots do not properly shun Ian (#211)
  package-lock.json
  src/discord/userId.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/replyBot.ts
Due: eslint --fix, prettier --write

[Snyk] Upgrade @distube/ytdl-core from 4.16.5 to 4.16.6 (#210)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade openai from 4.89.0 to 4.90.0 (#209)
  package-lock.json
  package.json
Due: prettier --write

Migrate static IDs to DB, add per-guild blacklist, update reply-bots, and add admin blacklist command
  prisma/migrations/20250430182119_add_guild_channel_role_user_blacklist_tables/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/discord/channelIds.ts
  src/discord/guildIds.ts
  src/discord/roleIds.ts
  src/discord/userId.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/reply-bots/package-lock.json
  src/starbunk/commands/blacklist.ts
Due: eslint --fix, prettier --write

Migrate static IDs to DB, add per-guild blacklist, update reply-bots, and add admin blacklist command
  jest.config.js
  prisma/migrations/20250430182119_add_guild_channel_role_user_blacklist_tables/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/discord/channelIds.ts
  src/discord/guildIds.ts
  src/discord/roleIds.ts
  src/discord/userId.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/reply-bots/package-lock.json
  src/starbunk/commands/blacklist.ts
Due: eslint --fix, prettier --write

Remove unused channel and role entries from migration script
  prisma/migrations/20250430182119_add_guild_channel_role_user_blacklist_tables/migration.sql
Due: none

Refactor database client initialization in bot-builder to use centralized Prisma client service
  package-lock.json
  package.json
  prisma/migrations/20250430182119_add_guild_channel_role_user_blacklist_tables/migration.sql
  src/services/prisma.ts
  src/starbunk/bots/core/bot-builder.ts
Due: eslint --fix, prettier --write

Refactor test files to remove unnecessary whitespace and ensure consistent formatting
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/__tests__/llm-conditions-basic.test.ts
  src/starbunk/bots/core/__tests__/response-context.test.ts
  src/starbunk/bots/core/__tests__/voice-bot-adapter.test.ts
  src/starbunk/bots/core/__tests__/voice-bot-builder.test.ts
  src/starbunk/bots/core/__tests__/voice-conditions.test.ts
Due: eslint --fix, prettier --write

fix:
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
Due: eslint --fix, prettier --write

Add Jest manual mock for @prisma/client and update testMatch patterns in jest.config.js
  __mocks__/@prisma/client.js
  jest.config.js
Due: none

Enhance Jest manual mock for @prisma/client and expand SnowbunkClient tests
  __mocks__/@prisma/client.js
  src/snowbunk/snowbunkClient.test.ts
  src/snowbunk/snowbunkClient.ts
Due: eslint --fix, prettier --write

Refactor Jest manual mock for @prisma/client and enhance SnowbunkClient tests
  __mocks__/@prisma/client.js
  src/snowbunk/snowbunkClient.test.ts
Due: eslint --fix, prettier --write

Enhance bot message handling by implementing blacklist checks and updating related tests
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
Due: eslint --fix, prettier --write

fix: upgrade @prisma/client from 6.5.0 to 6.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade discord-api-types from 0.37.119 to 0.37.120
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade openai from 4.90.0 to 4.93.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @distube/ytdl-core from 4.16.6 to 4.16.8
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dotenv from 16.4.7 to 16.5.0
  package-lock.json
  package.json
Due: prettier --write

Update src/snowbunk/snowbunkClient.test.ts
  src/snowbunk/snowbunkClient.test.ts
Due: eslint --fix, prettier --write

Implement blacklist checks in syncMessage method and update related tests
  src/snowbunk/snowbunkClient.test.ts
  src/snowbunk/snowbunkClient.ts
Due: eslint --fix, prettier --write

Add database migrations for ChannelBridge and update existing channels with server info
  prisma/migrations/20250502222620_add_channel_bridge_table/migration.sql
  prisma/migrations/20250502223249_update_channel_bridge_with_server_info/migration.sql
  prisma/migrations/20250502223350_update_existing_channel_bridges/migration.sql
  prisma/migrations/20250502224150_add_missing_channels/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/snowbunk/snowbunkClient.test.ts
  src/snowbunk/snowbunkClient.ts
Due: eslint --fix, prettier --write

[Snyk] Upgrade dotenv from 16.4.7 to 16.5.0 (#218)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade openai from 4.90.0 to 4.93.0 (#216)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade @distube/ytdl-core from 4.16.6 to 4.16.8 (#217)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade discord-api-types from 0.37.119 to 0.37.120 (#215)
  package-lock.json
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update prisma version and ytdl-core dependency in package.json
  package-lock.json
  package.json
Due: prettier --write

Remove 'build' from .dockerignore and update Dockerfile to use 'node:slim' as runtime image
  .dockerignore
  Dockerfile
Due: none

Update package.json and package-lock.json for dependency management
  .dockerignore
  Dockerfile
  package-lock.json
  src/starbunk/bots/reply-bots/package-lock.json
  src/starbunk/bots/reply-bots/package.json
Due: prettier --write

Update Dockerfile
  Dockerfile
Due: none

Migrate static IDs to DB, add per-guild blacklist, update reply-bots,… (#213)
  .dockerignore
  Dockerfile
  __mocks__/@prisma/client.js
  jest.config.js
  package-lock.json
  package.json
  prisma/migrations/20250430182119_add_guild_channel_role_user_blacklist_tables/migration.sql
  prisma/migrations/20250502222620_add_channel_bridge_table/migration.sql
  prisma/migrations/20250502223249_update_channel_bridge_with_server_info/migration.sql
  prisma/migrations/20250502223350_update_existing_channel_bridges/migration.sql
  prisma/migrations/20250502224150_add_missing_channels/migration.sql
  prisma/schema.prisma
  src/discord/channelIds.ts
  src/discord/guildIds.ts
  src/discord/roleIds.ts
  src/discord/userId.ts
  src/services/prisma.ts
  src/snowbunk/snowbunkClient.test.ts
  src/snowbunk/snowbunkClient.ts
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/__tests__/llm-conditions-basic.test.ts
  src/starbunk/bots/core/__tests__/response-context.test.ts
  src/starbunk/bots/core/__tests__/voice-bot-adapter.test.ts
  src/starbunk/bots/core/__tests__/voice-bot-builder.test.ts
  src/starbunk/bots/core/__tests__/voice-conditions.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/reply-bots/package-lock.json
  src/starbunk/bots/reply-bots/package.json
  src/starbunk/commands/blacklist.ts
Due: eslint --fix, prettier --write

fix: upgrade openai from 4.93.0 to 4.95.1
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
