Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Apply suggestions from code review
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_X8b
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_YG1
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_YG3
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_YG_
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

test: enhance state-changed event assertions in PlayerState tests (#600)
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_UPl
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

test(djcova): clarify event listener behavior after reset
  progress.txt
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_UPr
  progress.txt
  src/covabot/tests/services/database-service.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_UZC
  src/djcova/src/core/player-state.ts
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r_UZG
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

test: add unit tests for PlayerState state machine transitions (#599)
  progress.txt
  src/covabot/tests/services/database-service.test.ts
  src/djcova/src/core/player-state.ts
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

docs: refocus readme and move agent workflow
  .gitignore
  README.md
  docs/AGENT_WORKFLOW.md
Due: prettier --write

docs: address PR review feedback
  .gitignore
  README.md
  docs/AGENT_WORKFLOW.md
Due: prettier --write

docs: refocus README and move agent workflow (#601)
  .gitignore
  README.md
  docs/AGENT_WORKFLOW.md
Due: prettier --write

feat: implement connection health monitoring for voice connections
  src/djcova/src/config/music-config.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/tests/connection-health-monitor.test.ts
Due: eslint --fix, prettier --write

feat: enhance connection health monitoring tests with timer control and assertions
  src/djcova/tests/connection-health-monitor.test.ts
Due: eslint --fix, prettier --write

fix: improve connection health monitor cleanup and logging
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/utils/voice-utils.ts
Due: eslint --fix, prettier --write

fix(ci): properly skip ytdlp integration tests when SKIP_YTDLP_TESTS is set
  src/djcova/tests/ytdlp-integration.test.ts
Due: eslint --fix, prettier --write

fix(types): resolve TypeScript compilation errors in connection health monitor
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/utils/voice-utils.ts
Due: eslint --fix, prettier --write

fix: address PR review comments - improve health check logic and code quality
  src/djcova/src/config/music-config.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/tests/connection-health-monitor.test.ts
Due: eslint --fix, prettier --write

test: add coverage for attachHealthMonitor helper function
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

Revise README for StarBunk Discord Bot architecture
  .github/README.md
Due: prettier --write

feat: add connection health monitoring for DJCova voice connections (#602)
  src/djcova/src/config/music-config.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/tests/connection-health-monitor.test.ts
  src/djcova/tests/voice-utils.subscription.test.ts
  src/djcova/tests/ytdlp-integration.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.30.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  10db191cd4125d869ede4d1dc3aa16b86bcda264
Due: none

docs: create PRD for DJCova resource lifecycle unit tests (issue #574)
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

docs: update PRD with coverage expansion decision
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

docs: restore PRD content with coverage expansion decision
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

docs: add coverage expansion architecture addendum
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

docs: update PRD status after coverage expansion
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

docs: update PRD QA status
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

[PRD-574] DJCova: Unit Tests for Resource Lifecycle (#603)
  docs/PRD_574_djcova_resource_lifecycle_tests.md
Due: prettier --write

fix(djcova): add defer to /stop command to prevent timeout errors
  src/djcova/src/commands/stop.ts
Due: eslint --fix, prettier --write

test(djcova): add comprehensive tests for /stop command defer behavior
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

fix(djcova): add defer to /stop command to prevent timeout errors (#606)
  src/djcova/src/commands/stop.ts
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.30.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b3619e0e7355d717338e41c9fd484e60d70af8ec
Due: none

feat(repo): create new directory structure (.workspace, local, examples)
  .workspace/agents/.gitkeep
  .workspace/patterns/.gitkeep
  .workspace/plans/.gitkeep
  .workspace/prds/.gitkeep
  examples/config/.gitkeep
  examples/observability/.gitkeep
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/shared/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
