Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: standardize quotes in djcova PR validation workflow
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

chore: remove agent files and templates from git (#573)
  .circleci/workflows/djcova-pr-validation.yml
  .github/BRANCH_NAMING_CONVENTION.md
  .github/README.md
  .github/agents/admin-architect.agent.md
  .github/agents/code-stylist.agent.md
  .github/agents/discord-expert.agent.md
  .github/agents/github-liason.agent.md
  .github/agents/grunt-worker.agent.md
  .github/agents/master-architect.agent.md
  .github/agents/ops-engineer.agent.md
  .github/agents/test-guard.agent.md
  .github/agents/ts-sorcerer.agent.md
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security-weekly.yml
  .github/workflows/semantic-release.yml
  .github/workflows/validate-manifests.yml
  .gitignore
  .vscode/mcp.json
  .vscode/settings.json
  data/stacks/bunkbot/docker-compose.yml
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/utils/container.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/music-commands.test.ts
  test-results/.gitignore
Due: eslint --fix, prettier --write

Update src/djcova/tests/core/dj-cova.lifecycle.test.ts
  src/djcova/tests/core/dj-cova.lifecycle.test.ts
Due: eslint --fix, prettier --write

feat(ralph): add DJCova 100-cycle lifecycle test
  scripts/validation/check-root-directory.sh
  src/djcova/tests/core/dj-cova.lifecycle.test.ts
Due: eslint --fix, prettier --write

chore: update .gitignore and check-root-directory.sh to include new agent files
  .gitignore
  scripts/validation/check-root-directory.sh
Due: none

feat(ralph): verify djcova subscriptions are unsubscribed
  src/djcova/tests/core/dj-cova.lifecycle.test.ts
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

feat(ralph): verify yt-dlp processes are killed in DJCova lifecycle test
  src/djcova/tests/core/dj-cova.lifecycle.test.ts
Due: eslint --fix, prettier --write

feat(ralph): verify DJCova audio player does not leak listeners
  src/djcova/tests/core/dj-cova.lifecycle.test.ts
Due: eslint --fix, prettier --write

feat(ralph): manual DJCova lifecycle memory verification
  .gitignore
  scripts/validation/check-root-directory.sh
  src/djcova/tests/voice-utils.subscription.test.ts
  src/djcova/tests/ytdlp.unit.test.ts
Due: eslint --fix, prettier --write

feat(ralph): document djcova lifecycle cleanup
  PRD.md
  docs/PRD_DJCOVA_AUDIO_STABILITY.md
  progress.txt
Due: prettier --write

chore: add debug logging to detect_changes.sh
  .circleci/scripts/detect_changes.sh
Due: none

fix(ci): correctly skip ytdlp tests
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

refactor: improve resource lifecycle management in DJCova class
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

Update src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

refactor: standardize type definitions for audio resources and subscriptions in DJCova class
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

refactor: improve resource lifecycle management in DJCova class (#596)
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

feat(#578): implement PlayerState state machine
  src/djcova/src/core/player-state.ts
Due: eslint --fix, prettier --write

feat(#578): Implement PlayerState state machine for DJCova (#597)
  src/djcova/src/core/player-state.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  22bfbdedce5de7829f4b8a85999e962fd913d8df
Due: none

chore(release): v1.29.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0rh7
  package-lock.json
  package.json
  src/djcova/src/core/djcova-factory.ts
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

fix(djcova): remove redundant service null checks
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

refactor(djcova): remove unused DI container infrastructure
  src/djcova/src/utils/container.ts
  src/djcova/src/utils/index.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vjC
  src/djcova/src/core/djcova-factory.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vjO
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vjb
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vjl
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vjv
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vj_
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vkS
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
Due: eslint --fix, prettier --write

Ralph: fixed feedback in thread PRRT_kwDOJp8eM85r0vkg
  src/djcova/tests/music-commands.test.ts
Due: eslint --fix, prettier --write

chore: refactor code structure and improve service creation logic (#572)
  package-lock.json
  package.json
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/commands/stop.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/utils/container.ts
  src/djcova/src/utils/index.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/music-commands.test.ts
  src/shared/package.json
Due: eslint --fix, prettier --write

test: add unit tests for PlayerState state machine transitions
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

test: enhance state-changed event assertions in PlayerState tests
  src/djcova/tests/core/dj-cova.state-machine.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
