Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

feat(ci): add 'validate' label to force full PR pipeline
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: convert .coderabbit.yml from symlink to regular file
  .coderabbit.yml
Due: prettier --write

fix: update bot eslint configs to reference root .eslintrc.json
  src/bluebot/.eslintrc.json
  src/bunkbot/.eslintrc.json
Due: prettier --write

fix: correct hashFiles() syntax in workflow
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: use separate glob patterns for hashFiles()
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: simplify hashFiles() to avoid syntax issues
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: remove problematic eslintrc pattern from hashFiles()
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: convert .eslintrc.json from symlink to regular file
  .eslintrc.json
Due: prettier --write

chore: consolidate nested config folders into cleaner structure (#491)
  .coderabbit.yml
  .dockerignore
  .eslintignore
  .eslintrc.json
  .github/workflows/pr-validation.yml
  .prettierrc
  .prettierrc.json
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/release.config.cjs
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  config/tsconfig.json
  infrastructure/docker/docker-compose.github-runner.yml
  infrastructure/monitoring/grafana/bunkbot-dashboard.json
  infrastructure/monitoring/grafana/djcova-dashboard.json
  infrastructure/monitoring/grafana/starbunk-discord-bots-overview.json
  infrastructure/monitoring/prometheus/starbunk-discord-bots.yml
  src/bluebot/.eslintrc.json
  src/bunkbot/.eslintrc.json
Due: prettier --write

Add custom icons for Docker Compose services
  docker-compose.yml
Due: prettier --write

Add bot icon assets for Docker Compose labels
  data/assets/Bluebot.jpg
  data/assets/blubot_angry.jpg
  data/assets/bluebot_happy.jpg
  data/assets/bunkbot.jpg
  data/assets/cova.jpg
  data/assets/djcova.jpg
  data/assets/jean-ralphio.png
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: prettier --write

Add custom icons for Docker Compose services (#492)
  data/assets/Bluebot.jpg
  data/assets/blubot_angry.jpg
  data/assets/bluebot_happy.jpg
  data/assets/bunkbot.jpg
  data/assets/cova.jpg
  data/assets/djcova.jpg
  data/assets/jean-ralphio.png
  docker-compose.yml
Due: prettier --write

Refactor code structure and remove redundant code blocks for improved readability and maintainability
  assets/bluebot.png
  assets/bluebot_happy.jpg
  assets/bunkbot.png
  assets/covabot.png
  assets/djcova.png
  assets/jean-ralphio.png
  data/assets/Bluebot.jpg
  data/assets/blubot_angry.jpg
  data/assets/bunkbot.jpg
  data/assets/cova.jpg
  data/assets/djcova.jpg
  data/assets/jean-ralphio.png
  docker-compose.yml
  package-lock.json
Due: prettier --write

Refactor code structure and remove redundant code blocks for improved readability and maintainability (#493)
  assets/bluebot.png
  assets/bluebot_happy.jpg
  assets/bunkbot.png
  assets/covabot.png
  assets/djcova.png
  assets/jean-ralphio.png
  data/assets/Bluebot.jpg
  data/assets/blubot_angry.jpg
  data/assets/bunkbot.jpg
  data/assets/cova.jpg
  data/assets/djcova.jpg
  data/assets/jean-ralphio.png
  docker-compose.yml
  package-lock.json
Due: prettier --write

Update image URLs to use GitHub blob links
  docker-compose.yml
Due: prettier --write

Refactor Discord bot configuration and command handling
  .env.minimal
  config/env/.env.development
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
  src/bluebot/src/discord/discord-service.ts
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
  src/bluebot/tests/e2e/bluebot-e2e.test.ts
  src/bluebot/tests/e2e/message-flow.test.ts
  src/bluebot/tests/helpers/test-utils.ts
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/bunkbot/src/reply-bots/identity/get-bot-identity.ts
  src/djcova/src/command-handler.ts
  src/djcova/src/commands/index.ts
  src/djcova/src/core/discord-client-factory.ts
  src/djcova/src/core/event-handlers.ts
  src/djcova/src/index.ts
  src/djcova/tests/integration.test.ts.skip
Due: eslint --fix, prettier --write

fix: pass message parameter to getEnemy() call
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
Due: eslint --fix, prettier --write

Refactor Discord bot configuration and command handling (#494)
  .env.minimal
  config/env/.env.development
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
  src/bluebot/src/discord/discord-service.ts
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
  src/bluebot/tests/e2e/bluebot-e2e.test.ts
  src/bluebot/tests/e2e/message-flow.test.ts
  src/bluebot/tests/helpers/test-utils.ts
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/bunkbot/src/reply-bots/identity/get-bot-identity.ts
  src/djcova/src/command-handler.ts
  src/djcova/src/commands/index.ts
  src/djcova/src/core/discord-client-factory.ts
  src/djcova/src/core/event-handlers.ts
  src/djcova/src/index.ts
  src/djcova/tests/integration.test.ts.skip
Due: eslint --fix, prettier --write

docs(agents): strengthen master-architect spec; docs: add manifests index and README quick-start; chore: add package TODO templates; ci(validation): add manifests check workflow
  .github/workflows/validate-manifests.yml
  README.md
Due: prettier --write

docs: add manifests index; chore: add package TODO templates; chore(validation): add manifests check script; docs(agents): link manifests in master-architect spec
  .github/agents/master-architect.agent.md
  docs/TASKS.md
  scripts/validation/check-manifests.sh
  src/bluebot/TODO.md
  src/bunkbot/TODO.md
  src/covabot/TODO.md
Due: prettier --write

chore(ci): remove deprecated CLIENT_ID from workflows; integrate manifests validation into run-all-validations
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  scripts/validation/run-all-validations.sh
Due: prettier --write

chore(env,compose): remove deprecated CLIENT_ID from envs/compose; update docs and tests
  .env.minimal
  config/env/.env.example
  config/env/.env.unraid.example
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/djcova/.env.example
  src/djcova/tests/setup.ts
Due: eslint --fix, prettier --write

chore: remove master-architect.agent.md from PR 496 to keep scope consistent
  .github/agents/master-architect.agent.md
Due: prettier --write

chore: remove outdated language-specific and container settings from Code Rabbit configuration
  .coderabbit.yml
Due: prettier --write

Manifests + Spec validation gates (#495)
  .github/agents/master-architect.agent.md
  .github/workflows/validate-manifests.yml
  README.md
  docs/TASKS.md
  scripts/validation/check-manifests.sh
  src/bluebot/TODO.md
  src/bunkbot/TODO.md
  src/covabot/TODO.md
Due: prettier --write

Update scripts/validation/check-manifests.sh
  scripts/validation/check-manifests.sh
Due: none

chore(ci): remove CLIENT_ID env; add manifests validation (#496)
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  scripts/validation/check-manifests.sh
  scripts/validation/run-all-validations.sh
Due: prettier --write

chore(env,compose): remove CLIENT_ID; update docs/tests (#497)
  .env.minimal
  config/env/.env.example
  config/env/.env.unraid.example
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/djcova/.env.example
  src/djcova/tests/setup.ts
Due: eslint --fix, prettier --write

chore(bunkbot): make BUNKBOT_BOTS_DIR optional with /app/config default
  .vscode/mcp.json
  docker-compose.yml
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/bunkbot/src/bunk-bot.ts
Due: eslint --fix, prettier --write

Chore/remove client id env (#498)
  .coderabbit.yml
  .vscode/mcp.json
  docker-compose.yml
  merge_output.txt
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/bunkbot/src/bunk-bot.ts
Due: eslint --fix, prettier --write

chore: consolidate metrics and OTEL environment variables (issue #473)
  docker-compose.yml
  docs/observability/README.md
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  src/bluebot/.env.example
  src/bluebot/Dockerfile
  src/bluebot/Dockerfile.ci
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
  src/djcova/.env.example
  src/djcova/Dockerfile
  src/djcova/Dockerfile.ci
  src/shared/src/health/smoke-mode.ts
  src/shared/src/health/smoke-test.ts
Due: eslint --fix, prettier --write

chore: update remaining HEALTH_PORT references to METRICS_PORT
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  data/stacks/bunkbot/docker-compose.yml
  infrastructure/podman/podman-compose.yml
  src/bluebot/docker-compose.yml
Due: prettier --write

Document Redis architecture and fix service name inconsistency (#499)
  .env.observability.example
  README.md
  config/env/.env.example
Due: prettier --write

refactor(shared): optional database exports; move better-sqlite3 to optional peerDependency; update imports and BlueBot Dockerfile; add docs\n\nResolves #460
  src/bluebot/Dockerfile.ci
  src/covabot/src/cova-bot.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/database-service.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/memory-service.test.ts
  src/covabot/tests/services/social-battery-service.test.ts
  src/covabot/tsconfig.json
  src/covabot/vitest.config.ts
  src/shared/README.md
  src/shared/package.json
  src/shared/src/index.ts
  src/shared/src/services/database/index.ts
Due: eslint --fix, prettier --write
