Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(deploy): remove stale containers before bringing up new ones
  scripts/deployment/deploy.sh
Due: none

fix(deploy): remove stale containers before bringing up new ones (#690)
  scripts/deployment/deploy.sh
Due: none

chore(release): v1.46.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  067c7352ecada6b833bdba52fa8643ce79eed2f5
Due: none

fix(covabot): fix personality loading — path mismatch, flat file support, startup warnings
  docker-compose.yml
  examples/config/covabot/README.md
  examples/config/covabot/example-personality.yml
  examples/config/covabot/example-personality/profile.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/tests/serialization/personality-parser.test.ts
Due: eslint --fix, prettier --write

fix(covabot): fix personality loading — path mismatch, flat file support, startup warnings (#692)
  docker-compose.yml
  examples/config/covabot/README.md
  examples/config/covabot/example-personality.yml
  examples/config/covabot/example-personality/profile.yml
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/tests/serialization/personality-parser.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.46.3 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f9c155923eadb270b46cb22e9ba9175a917f80e1
Due: none

chore(ci): per-app independent semver and conditional builds
  .github/workflows/main.yml
  package.json
  release.config.cjs
  scripts/bump-versions.sh
  scripts/sync-versions.sh
  src/bluebot/VERSION
  src/bunkbot/VERSION
  src/covabot/VERSION
  src/djcova/VERSION
  src/shared/VERSION
  src/shared/package.json
Due: prettier --write

chore: ignore .claude/worktrees/ and .version-bumps.json
  .gitignore
Due: none

fix(ci): address copilot review comments on per-app semver
  .github/workflows/main.yml
  scripts/bump-versions.sh
Due: prettier --write

fix(covabot): warn on inaccessible personality directories instead of silent skip
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/personality-parser.ts
Due: eslint --fix, prettier --write

fix(shared): skip webhooks without a token when sending bot identity messages
  src/shared/src/discord/webhook-service.ts
Due: eslint --fix, prettier --write

chore: ignore .claude/worktrees/ and .version-bumps.json (#694)
  .gitignore
Due: none

chore(ci): per-app independent semver and conditional builds (#693)
  .github/workflows/main.yml
  package.json
  release.config.cjs
  scripts/bump-versions.sh
  scripts/sync-versions.sh
  src/bluebot/VERSION
  src/bunkbot/VERSION
  src/covabot/VERSION
  src/djcova/VERSION
  src/shared/VERSION
  src/shared/package.json
Due: prettier --write

Fix/covabot personality loading (#695)
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/personality-parser.ts
  src/shared/src/discord/webhook-service.ts
Due: eslint --fix, prettier --write

chore(ci): migrate from bump-versions.sh to changesets for per-app versioning
  .github/workflows/main.yml
  .npmrc
  CLAUDE.md
  VERSION
  package-lock.json
  package.json
  release.config.cjs
  scripts/bump-versions.sh
  scripts/sync-versions.sh
  src/bluebot/CLAUDE.md
  src/bluebot/VERSION
  src/bunkbot/CLAUDE.md
  src/bunkbot/VERSION
  src/covabot/CLAUDE.md
  src/covabot/VERSION
  src/djcova/CLAUDE.md
  src/djcova/VERSION
  src/djcova/package.json
  src/shared/CLAUDE.md
  src/shared/VERSION
  src/shared/package.json
Due: prettier --write

fix(ci): address PR review comments
  .github/workflows/main.yml
  CLAUDE.md
  src/shared/package.json
Due: prettier --write

fix(shared): move webhook permission handling out of discord-service
  .changeset/fix-webhook-identity-fallback.md
  src/shared/src/discord/__tests__/discord-service.test.ts
  src/shared/src/discord/__tests__/webhook-service.test.ts
  src/shared/src/discord/discord-service.ts
  src/shared/src/discord/webhook-service.ts
Due: eslint --fix, prettier --write

chore(ci): migrate from bump-versions.sh to changesets for per-app versioning (#696)
  .github/workflows/main.yml
  .npmrc
  CLAUDE.md
  VERSION
  package-lock.json
  package.json
  release.config.cjs
  scripts/bump-versions.sh
  scripts/sync-versions.sh
  src/bluebot/CLAUDE.md
  src/bluebot/VERSION
  src/bunkbot/CLAUDE.md
  src/bunkbot/VERSION
  src/covabot/CLAUDE.md
  src/covabot/VERSION
  src/djcova/CLAUDE.md
  src/djcova/VERSION
  src/djcova/package.json
  src/shared/CLAUDE.md
  src/shared/VERSION
  src/shared/package.json
Due: prettier --write

feat(ci): install @starbunk/shared from GitHub Packages registry in Docker builds
  .github/workflows/main.yml
  src/bluebot/Dockerfile.ci
  src/bluebot/package.json
  src/bunkbot/Dockerfile.ci
  src/bunkbot/package.json
  src/covabot/Dockerfile.ci
  src/covabot/package.json
  src/djcova/Dockerfile.ci
  src/djcova/package.json
Due: prettier --write

fix(ci): address PR #699 review comments
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: prettier --write

feat(ci): install @starbunk/shared from GitHub Packages in Docker builds (#699)
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  src/bluebot/Dockerfile.ci
  src/bluebot/package.json
  src/bunkbot/Dockerfile.ci
  src/bunkbot/package.json
  src/covabot/Dockerfile.ci
  src/covabot/package.json
  src/djcova/Dockerfile.ci
  src/djcova/package.json
Due: prettier --write

fix(ci): fix broken YAML in docker_publish step
  .github/workflows/main.yml
Due: prettier --write

fix(ci): skip code validation when only workflow files change
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add force-validation label to override skip-on-no-code-change
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): fix broken YAML in docker_publish step (#700)
  .github/workflows/ci.yml
  .github/workflows/main.yml
Due: prettier --write

fix(shared): preserve bot identity — remove message.reply fallback (#698)
  .changeset/fix-webhook-identity-fallback.md
  src/shared/src/discord/__tests__/discord-service.test.ts
  src/shared/src/discord/__tests__/webhook-service.test.ts
  src/shared/src/discord/discord-service.ts
  src/shared/src/discord/webhook-service.ts
Due: eslint --fix, prettier --write

fix(ci): remove core trigger from E2E job; add force_validate override
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): skip validation on workflow-only changes; add force-validation label override (#701)
  .github/workflows/ci.yml
Due: prettier --write

feat: smart per-app CI/CD — only build/test/deploy what changed (#702)
  .github/workflows/ci.yml
  .github/workflows/docker-validate.yml
Due: prettier --write

fix(ci): track .changeset/config.json; unblock from gitignore
  .changeset/config.json
  .gitignore
Due: prettier --write

fix(ci): track .changeset/config.json; unblock from gitignore (#703)
  .changeset/config.json
  .gitignore
Due: prettier --write

fix(ci): always run publish_shared when build_apps succeeds
  .github/workflows/main.yml
Due: prettier --write

fix(ci): always run publish_shared when build_apps succeeds (#704)
  .github/workflows/main.yml
Due: prettier --write

fix(ci): revert Dockerfile.ci to local shared dist; drop publish_shared job
  .github/workflows/main.yml
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: prettier --write

fix(ci): compact jq output to prevent multi-line GITHUB_OUTPUT write
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
