Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

debug: add build output verification step
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: clean build artifacts before building in CI
  .github/workflows/pr-validation.yml
Due: prettier --write

chore: remove debug verification steps from CI workflow
  .github/workflows/pr-validation.yml
Due: prettier --write

feat: add validation and edge case handling for {random} placeholder
  src/bunkbot/src/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/src/reply-bots/responses/response-resolver.ts
Due: eslint --fix, prettier --write

feat: Add dynamic character repetition placeholder for bot responses (#453)
  .github/workflows/pr-validation.yml
  config/bunkbot/bots.yml
  src/bunkbot/src/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/src/reply-bots/responses/response-resolver.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  fb4920fb39cd7df4967624e0be4b96662de749dd
Due: none

chore(release): v1.15.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

chore: force rebuild of all containers
  README.md
Due: prettier --write

chore: trigger rebuild - add newline to health-server-init
  src/shared/src/health/health-server-init.ts
Due: eslint --fix, prettier --write

fix: allow dist/ folders in Docker build context for CI builds
  src/bluebot/.dockerignore
  src/bunkbot/.dockerignore
  src/covabot/.dockerignore
  src/djcova/.dockerignore
Due: none

fix: Allow dist/ folders in Docker build context for CI builds (#454)
  src/bluebot/.dockerignore
  src/bunkbot/.dockerignore
  src/covabot/.dockerignore
  src/djcova/.dockerignore
Due: none

chore(release): v1.15.2 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  adf457ef11410c0a7df3616e592c332704008b68
Due: none

feat: Add '/live' endpoint for health check in smoke mode
  src/covabot/src/index.ts
  src/shared/src/health/smoke-mode.ts
  src/shared/src/health/smoke-test.ts
Due: eslint --fix, prettier --write

feat(bunkbot): add {swap_message} placeholder for word swapping
  config/bunkbot/bots.yml
  src/bunkbot/src/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/src/reply-bots/responses/response-resolver.ts
Due: eslint --fix, prettier --write

feat: Add '/live' endpoint for health check in smoke mode (#455)
  src/covabot/src/index.ts
  src/shared/src/health/smoke-mode.ts
  src/shared/src/health/smoke-test.ts
Due: eslint --fix, prettier --write

chore(release): v1.16.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38f83fd62dbb5f353cbcb6c8c76584d1d10c172f
Due: none

feat(bunkbot): add {swap_message} placeholder for word swapping (#456)
  config/bunkbot/bots.yml
  src/bunkbot/src/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/src/reply-bots/responses/response-resolver.ts
Due: eslint --fix, prettier --write

chore(release): v1.17.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  54c52c83b376fd653b7b6506c006f2c03e46ac7c
Due: none

feat(covabot): implement Cognitive Simulacrum architecture
  docker-compose.yml
  package-lock.json
  src/covabot/package.json
  src/covabot/src/profiles/cova-profile.ts
  src/covabot/src/services/bot-frequency-service.ts
  src/covabot/src/services/embedding-service.ts
  src/covabot/src/services/saliency-service.ts
  src/covabot/src/services/simulacrum-service.ts
  src/shared/src/index.ts
  src/shared/src/types/personality.ts
Due: eslint --fix, prettier --write

fix(security): add overrides for undici, tar, diff vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix(covabot): address PR review comments
  src/covabot/src/services/bot-frequency-service.ts
  src/covabot/src/services/embedding-service.ts
  src/covabot/src/services/saliency-service.ts
  src/covabot/src/services/simulacrum-service.ts
Due: eslint --fix, prettier --write

fix(docker): use host.docker.internal for external service defaults
  docker-compose.yml
  package-lock.json
Due: prettier --write

feat(covabot): implement multi-provider LLM support with Ollama, Gemini, and OpenAI
  package-lock.json
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/index.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/llm/gemini-provider.ts
  src/covabot/src/services/llm/index.ts
  src/covabot/src/services/llm/llm-provider-manager.ts
  src/covabot/src/services/llm/llm-provider.ts
  src/covabot/src/services/llm/ollama-provider.ts
  src/covabot/src/services/llm/openai-provider.ts
Due: eslint --fix, prettier --write

feat: Implement Ollama Model Manager for model lifecycle operations
  config/env/.env.example
  src/covabot/src/cova-bot.ts
  src/covabot/src/services/llm/embedding-manager.ts
  src/covabot/src/services/llm/embedding-provider.ts
  src/covabot/src/services/llm/index.ts
  src/covabot/src/services/llm/ollama-embedding-provider.ts
  src/covabot/src/services/llm/ollama-model-manager.ts
  src/covabot/src/services/llm/openai-embedding-provider.ts
  src/covabot/src/services/vector-interest-service.ts
  src/covabot/src/services/vector-memory-service.ts
  src/covabot/src/services/vector-store.ts
  src/covabot/tests/services/llm/embedding-manager.scheduling.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.config.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.interval.test.ts
  src/covabot/tests/services/llm/ollama-model-manager.scheduling.test.ts
Due: eslint --fix, prettier --write

feat: enhance build process and add Docker support
  package-lock.json
  src/covabot/Dockerfile
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/tsconfig.docker.json
Due: eslint --fix, prettier --write

fix: address PR review comments
  package-lock.json
  src/covabot/src/services/llm/embedding-manager.ts
  src/shared/src/index.ts
  src/shared/src/services/database/database-service.ts
  src/shared/src/services/llm/gemini-provider.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/llm-provider-manager.ts
  src/shared/src/services/llm/llm-provider.ts
  src/shared/src/services/llm/ollama-model-manager.ts
  src/shared/src/services/llm/ollama-provider.ts
  src/shared/src/services/llm/openai-provider.ts
  src/shared/src/types/personality.ts
Due: eslint --fix, prettier --write

feat: Implement vector-based embedding management and semantic services
  src/covabot/Dockerfile
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/services/database-service.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/llm/gemini-provider.ts
  src/covabot/src/services/llm/llm-provider-manager.ts
  src/covabot/src/services/llm/llm-provider.ts
  src/covabot/src/services/llm/ollama-embedding-provider.ts
  src/covabot/src/services/llm/ollama-model-manager.ts
  src/covabot/src/services/llm/ollama-provider.ts
  src/covabot/src/services/llm/openai-embedding-provider.ts
  src/covabot/src/services/llm/openai-provider.ts
  src/covabot/src/services/vector-memory-service.ts
  src/shared/src/index.ts
  src/shared/src/services/database/database-service.ts
  src/shared/src/services/llm/embedding-manager.ts
  src/shared/src/services/llm/embedding-provider.ts
  src/shared/src/services/llm/ollama-model-manager.ts
  src/shared/src/services/vector/vector-interest-service.ts
  src/shared/src/services/vector/vector-memory-service.ts
  src/shared/src/services/vector/vector-store.ts
Due: eslint --fix, prettier --write

fix: resolve CI build errors by consolidating embedding providers in shared package
  src/covabot/src/services/llm/embedding-manager.ts
  src/covabot/src/services/llm/embedding-provider.ts
  src/covabot/src/services/llm/index.ts
  src/shared/src/services/llm/embedding-manager.ts
  src/shared/src/services/llm/index.ts
  src/shared/src/services/llm/ollama-embedding-provider.ts
  src/shared/src/services/llm/openai-embedding-provider.ts
  src/shared/src/services/vector/index.ts
  src/shared/src/services/vector/vector-interest-service.ts
  src/shared/src/services/vector/vector-memory-service.ts
  src/shared/src/services/vector/vector-store.ts
Due: eslint --fix, prettier --write

feat(covabot): add Dockerfile.ci for CI-optimized container builds
  src/covabot/Dockerfile.ci
Due: none

fix(shared): add package.json exports for services/llm and services/vector
  package-lock.json
  src/shared/package.json
Due: prettier --write

fix(shared): resolve TypeScript path aliases with tsc-alias
  package-lock.json
  package.json
  src/shared/package.json
Due: prettier --write

fix: add tsc-alias to root devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix: exclude dist directories from CI cache to ensure tsc-alias runs
  .github/actions/setup-node-cached/action.yml
  build-artifacts.tar.gz
Due: prettier --write

chore: remove accidentally committed build artifacts
  build-artifacts.tar.gz
Due: none

debug: add verbose flag to tsc-alias to see CI output
  build-artifacts.tar.gz
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
