Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: update health check ports in Docker configurations and adjust tsconfig paths for shared packages
  .github/workflows/pr-validation.yml
  .github/workflows/pr-version-bump.yml
  apps/bunkbot/tsconfig.json
  apps/covabot/tsconfig.json
  apps/djcova/tsconfig.json
  apps/starbunk-dnd/tsconfig.json
  infrastructure/docker/docker-compose.latest.yml
  infrastructure/docker/docker-compose.snapshot.yml
  package.json
Due: prettier --write

fix: remove unused Docker build and validation steps for starbunk-dnd in CI workflows
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: enforce strict version increment checks and update health check ports in Docker configurations
  .github/workflows/main-deploy.yml
Due: prettier --write

Fix/main validate codebase node setup (#380)
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/pr-version-bump.yml
  VERSION
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/bunkbot/src/core/BotProcessor.ts
  apps/bunkbot/src/core/get-bot-identity.ts
  apps/bunkbot/src/core/trigger-response.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/ServiceManager.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  infrastructure/docker/docker-compose.latest.yml
  infrastructure/docker/docker-compose.snapshot.yml
  package-lock.json
  package.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

fix: update allowed files in root directory compliance check
  tools/scripts/validation/check-root-directory.sh
Due: none

fix: correct baseUrl and paths in tsconfig.json for proper module resolution
  apps/bunkbot/tsconfig.json
Due: prettier --write

fix: enhance PR version bump workflow to handle no changes gracefully
  .github/workflows/pr-version-bump.yml
Due: prettier --write

fix: streamline version bump commit step for clarity and consistency
  .github/workflows/pr-version-bump.yml
Due: prettier --write

fix: configure git user for version bump commit in PR workflow
  .github/workflows/pr-version-bump.yml
Due: prettier --write

fix: update allowed files in root directory compliance check (#389)
  .github/workflows/pr-version-bump.yml
  VERSION
  apps/bunkbot/package.json
  apps/bunkbot/tsconfig.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
  packages/shared/package.json
  tools/scripts/validation/check-root-directory.sh
Due: prettier --write

chore: setup semantic-release
  .github/workflows/main-deploy.yml
  .github/workflows/pr-version-bump.yml
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
  release.config.cjs
Due: prettier --write

fix: update Docker image tagging and pushing logic in CI workflows
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

Version check runs first in PR validation, auto-bumps if needed (#388)
  .github/workflows/pr-validation.yml
  .github/workflows/pr-version-bump.yml
  VERSION
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
  packages/shared/package.json
Due: prettier --write

chore: setup semantic-release versioning (#390)
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/pr-version-bump.yml
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
  release.config.cjs
Due: prettier --write

fix: update Node version in CI workflow to meet semantic-release requirements
  .github/workflows/semantic-release.yml
  package-lock.json
Due: prettier --write

fix: update Node version in CI workflow to meet semantic-release requirements (#391)
  .github/workflows/semantic-release.yml
  package-lock.json
Due: prettier --write

chore(ci): add conventionalcommits preset for semantic-release
  package-lock.json
  package.json
Due: prettier --write

chore(ci): add conventionalcommits preset for semantic-release (#392)
  package-lock.json
  package.json
Due: prettier --write

fix: update changelog file path and assets for semantic-release
  release.config.cjs
  stacktrace.ini
Due: none

fix: update changelog file path and assets for semantic-release (#393)
  release.config.cjs
  stacktrace.ini
Due: none

fix: add release.config.cjs to allowed files in root directory compliance check
  stacktrace.ini
  tools/scripts/validation/check-root-directory.sh
Due: none

Update tools/scripts/validation/check-root-directory.sh
  tools/scripts/validation/check-root-directory.sh
Due: none

[WIP] Update allowed files in root directory compliance check (#395)
  package-lock.json
  release.config.cjs
Due: prettier --write

fix: add release.config.cjs to allowed files in root directory compliance check (#394)
  package-lock.json
  release.config.cjs
  stacktrace.ini
  tools/scripts/validation/check-root-directory.sh
Due: prettier --write

fix: remove code quality checks from pre-commit hook
  .husky/pre-commit
Due: none

fix: remove code quality checks from pre-commit hook (#396)
  .husky/pre-commit
Due: none

fix: disable Husky during semantic-release execution
  .github/workflows/semantic-release.yml
Due: prettier --write

chore(release): v1.5.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e339903705956dfe9d31f92fd92a63e7b9b8735c
Due: none

chore: update package versions to 1.5.0 across all apps and shared package
  .github/workflows/pr-validation.yml
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: prettier --write

fix: add build step for shared package in PR validation workflow
  .github/workflows/pr-validation.yml
  package-lock.json
Due: prettier --write

chore(ci): use CI_TOKEN for semantic-release
  .github/workflows/semantic-release.yml
Due: prettier --write

chore(ci): use CI_TOKEN for semantic-release (#398)
  .github/workflows/semantic-release.yml
Due: prettier --write

chore: update package versions to 1.5.0 across all apps and shared package (#397)
  .github/workflows/pr-validation.yml
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: prettier --write

fix: enhance logging configuration for DJCova service
  apps/djcova/src/index.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: enhance logging configuration for DJCova service (#399)
  apps/djcova/src/index.ts
  package-lock.json
Due: eslint --fix, prettier --write

chore(release): v1.5.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d363f4fb5b282a9027dffbc79e04307bd0039d55
Due: none

Add health and metrics endpoints for bunkbot and covabot
  apps/bunkbot/src/index.ts
  apps/covabot/src/index-minimal.ts
  infrastructure/docker/docker-compose.example.yml
Due: eslint --fix, prettier --write
