Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

Update shared package to support app-specific Discord tokens
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

Lazy load transformers and improve cache management in EmbeddingService
  apps/covabot/src/services/embeddingService.ts
Due: eslint --fix, prettier --write

Standardize all app entry points to use singular index.ts (#416)
  .github/workflows/pr-validation.yml
  apps/bluebot/Dockerfile
  apps/bluebot/package.json
  apps/bluebot/src/index.ts
  apps/bunkbot/src/index-minimal.ts
  apps/bunkbot/src/index-refactored.ts
  apps/bunkbot/tests/bootstrap.test.ts
  apps/covabot/Dockerfile
  apps/covabot/package.json
  apps/covabot/src/index-web.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/embeddingService.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tests/e2e/identity-live.e2e.test.ts
  apps/covabot/tests/setup.ts
  apps/djcova/src/index-minimal.ts
  apps/djcova/tests/bootstrap.test.ts
  apps/starbunk-dnd/package.json
  apps/starbunk-dnd/src/index-minimal.ts
  apps/starbunk-dnd/tests/bootstrap.test.ts
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

Standardize app entry points and add CI smoke mode support
  .github/actions/container-health-check/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  apps/bluebot/src/index.ts
  apps/bunkbot/src/index.ts
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
  apps/starbunk-dnd/src/index.ts
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
Due: eslint --fix, prettier --write

Standardize app entry points and add CI smoke mode support (#417)
  .github/actions/container-health-check/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  apps/bluebot/src/index.ts
  apps/bunkbot/src/index.ts
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
  apps/starbunk-dnd/src/index.ts
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.yml
Due: eslint --fix, prettier --write

fix/bunkbot-basedir
  apps/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

fix: resolve CovaBot and DJCova container boot loops
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
Due: eslint --fix, prettier --write

fix: Resolve CovaBot and DJCova container boot loops (#419)
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
Due: eslint --fix, prettier --write

chore(release): v1.9.4 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80f9a852710f754a1443f3ef7e2a6cb01cf7f290
Due: none

fix: resolve command loading path issue in Docker containers
  apps/bunkbot/src/commandHandler.ts
  apps/djcova/src/commandHandler.ts
  apps/starbunk-dnd/src/commandHandler.ts
Due: eslint --fix, prettier --write

fix: Resolve command loading path issue in Docker containers (#420)
  apps/bunkbot/src/commandHandler.ts
  apps/djcova/src/commandHandler.ts
  apps/starbunk-dnd/src/commandHandler.ts
Due: eslint --fix, prettier --write

chore(release): v1.9.5 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  820a73b6f3d7b0f79eff49431b9f423ea77eb508
Due: none

fix/bunkbot-basedir (#418)
  apps/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

fix(djcova): register commands to guilds instead of globally
  apps/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

fix(djcova): register commands to guilds instead of globally (#421)
  apps/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b897aa4a17e678a416e4616e656be3d2da4d0f27
Due: none

chore(release): v1.9.6 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Add docker-compose.yml copy to data/stacks/bunkbot/
  data/stacks/bunkbot/docker-compose.yml
Due: prettier --write

Add docker-compose.yml copy to data/stacks/stack-1/
  data/stacks/stack-1/docker-compose.yml
Due: prettier --write

Add docker-compose.yml copy to data/stacks/bunkbot/ (#422)
  data/stacks/bunkbot/docker-compose.yml
  data/stacks/stack-1/docker-compose.yml
Due: prettier --write

Add Docker Compose configuration for multiple services
  docker-compose.yml
Due: prettier --write

fix: remove obsolete docker-compose.yml file
  docker-compose.yml
Due: prettier --write

fix: replace broken symlink with physical file for Unraid compatibility
  docker-compose.yml
Due: prettier --write

fix: increase memory limits and Node.js options for improved performance
  docker-compose.yml
Due: prettier --write

fix(ci): convert docker-compose.yml from symlink to regular file
  docker-compose.yml
Due: prettier --write

Notes added by 'git notes add'
  48748fa7caa935cf5a2299d920d6b8cda91faf96
Due: none

chore(release): v1.9.7 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Disable Qdrant in CovaBot to avoid ONNX Runtime crashes
  docker-compose.yml
Due: prettier --write

Remove all Qdrant and embedding dependencies from CovaBot
  apps/bluebot/package.json
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/.env.qdrant.example
  apps/covabot/docker-compose.qdrant.yml
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/__tests__/mocks/database-mocks.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/__tests__/memory-service.test.ts
  apps/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  apps/covabot/src/services/embeddingService.ts
  apps/covabot/src/services/qdrantMemoryService.ts
  apps/covabot/src/services/qdrantService.ts
  apps/covabot/src/types/memoryTypes.ts
  apps/covabot/src/web/routers/context.ts
  apps/covabot/src/web/routers/data.ts
  apps/covabot/src/web/routers/health.ts
  apps/covabot/src/web/routers/notes.ts
  apps/covabot/src/web/routers/personalityNotes.ts
  apps/covabot/src/web/server.ts
  apps/covabot/tests/mocks/transformers.ts
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  docker-compose.yml
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

[WIP] Update to address feedback on removing Qdrant dependencies (#424)
  .husky/pre-commit
  .husky/pre-push
  apps/covabot/package.json
  package-lock.json
Due: prettier --write

Remove all Qdrant dependencies from CovaBot (#423)
  .husky/pre-commit
  .husky/pre-push
  apps/bluebot/package.json
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/.env.qdrant.example
  apps/covabot/docker-compose.qdrant.yml
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/__tests__/mocks/database-mocks.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/__tests__/memory-service.test.ts
  apps/covabot/src/services/__tests__/qdrantMemoryService.test.ts
  apps/covabot/src/services/embeddingService.ts
  apps/covabot/src/services/qdrantMemoryService.ts
  apps/covabot/src/services/qdrantService.ts
  apps/covabot/src/types/memoryTypes.ts
  apps/covabot/src/web/routers/context.ts
  apps/covabot/src/web/routers/data.ts
  apps/covabot/src/web/routers/health.ts
  apps/covabot/src/web/routers/notes.ts
  apps/covabot/src/web/routers/personalityNotes.ts
  apps/covabot/src/web/server.ts
  apps/covabot/tests/mocks/transformers.ts
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

fix: update pre-commit script to reference correct VERSION file path and simplify djcova image reference in docker-compose.yml
  .husky/pre-commit
Due: none

fix: update pre-commit script to reference correct VERSION file path and simplify djcova image reference in docker-compose.yml (#425)
  .husky/pre-commit
Due: none

Notes added by 'git notes add'
  958cef2af09e2d520f4d66bee7c36527370329cc
Due: none

chore(release): v1.9.8 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

fix: Docker health checks and async observability initialization
  apps/bluebot/Dockerfile
  apps/bluebot/src/index.ts
  apps/bunkbot/Dockerfile
  apps/bunkbot/src/index.ts
  apps/covabot/Dockerfile
  apps/covabot/src/index.ts
  apps/djcova/Dockerfile
  apps/djcova/src/index.ts
  apps/starbunk-dnd/Dockerfile
  apps/starbunk-dnd/src/index.ts
  packages/shared/src/services/observability/__tests__/metrics-integration.test.ts
  packages/shared/src/services/observability/examples/UnifiedMetricsExample.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

fix: Address PR review comments
  apps/bluebot/src/index.ts
  apps/starbunk-dnd/src/index.ts
Due: eslint --fix, prettier --write
