Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

chore: update package versions to 1.5.1 and add prometheus.yml to .gitignore
  .gitignore
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: prettier --write

Fix ServiceManager tests to mock DiscordService from shared barrel
  apps/bunkbot/src/services/__tests__/ServiceManager.test.ts
Due: eslint --fix, prettier --write

Add health and metrics endpoints for bunkbot and covabot (#400)
  .gitignore
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/__tests__/ServiceManager.test.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/index-minimal.ts
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  infrastructure/docker/docker-compose.example.yml
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

feat(covabot): use heuristic shouldRespond without LLM gating
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/__tests__/llmService-shouldRespond.test.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

Update apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
Due: eslint --fix, prettier --write

feat(covabot): enhance LLM response heuristics with channel activity tracking
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/__tests__/llmService-shouldRespond.test.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

feat(covabot): refine message mention detection logic in LLM response generator
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
Due: eslint --fix, prettier --write

feat(covabot): use heuristic shouldRespond without LLM gating (#401)
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/__tests__/llmService-shouldRespond.test.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

chore(release): v1.6.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d6b9fb1d69d27151a03de1bc9eca41cf66b4d5c5
Due: none

chore: update package versions to 1.6.0 across all apps and shared package
  apps/bluebot/package.json
  apps/bluebot/src/index-minimal.ts
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

refactor(bluebot): update tsconfig.json and package-lock.json for improved configuration
  apps/bluebot/tsconfig.json
  package-lock.json
Due: prettier --write

feat(bluebot): update observability integration and health metrics handling
  apps/bluebot/Dockerfile
  apps/bluebot/src/index-minimal.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

fix(bluebot): update metrics port from 9304 to 9302 for consistency
  infrastructure/docker/docker-compose.yml
Due: prettier --write

Update apps/bluebot/src/triggers.ts
  apps/bluebot/src/triggers.ts
Due: eslint --fix, prettier --write

Update apps/bluebot/src/services/configurationService.ts
  apps/bluebot/src/services/configurationService.ts
Due: eslint --fix, prettier --write

fix(bluebot): move timestamps to instance state
  apps/bluebot/src/triggers.ts
Due: eslint --fix, prettier --write

fix(bluebot): correct indentation and formatting in docker-compose.yml for clarity
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix(bluebot): include prisma schema in Docker image
  apps/bluebot/Dockerfile
Due: none

Chore/bluebot-observability-ports (#404)
  apps/bluebot/Dockerfile
  apps/bluebot/src/index-minimal.ts
  infrastructure/docker/docker-compose.yml
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: add container health and smoke check action; refactor workflows to utilize it
  .github/actions/container-health-check/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

feat: Enhance pre-commit hooks with lint-staged integration
  .github/workflows/main-deploy.yml
  .husky/pre-commit
  apps/bluebot/src/index-minimal.ts
  apps/bluebot/src/triggers.ts
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/__tests__/llmService-shouldRespond.test.ts
  apps/covabot/src/services/llmService.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: add container health and smoke check action; refactor workflows to utilize it (#405)
  .github/actions/container-health-check/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  .husky/pre-commit
  apps/bluebot/src/index-minimal.ts
  apps/bluebot/src/triggers.ts
  apps/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  apps/covabot/src/services/__tests__/llmService-shouldRespond.test.ts
  apps/covabot/src/services/llmService.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

chore(release): v1.7.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50137a8e345016e1db6fe659de31ffa8f94cc490
Due: none

feat(covabot): improve logging and loosen response heuristics
  apps/covabot/src/cova-bot/covaBot.ts
  apps/covabot/src/cova-bot/llm-triggers.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

fix(ci): correct step reference in setup-node-cached action
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

Fix parallel npm ci failures by using --ignore-scripts
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

Remove --silent flag to see actual npm ci errors
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

Fix npm ci race condition by using workspace-aware installation
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

Add Prisma client generation after dependency installation
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

feat(covabot): improve logging and loosen response heuristics (#406)
  .github/actions/setup-node-cached/action.yml
  apps/covabot/src/cova-bot/covaBot.ts
  apps/covabot/src/cova-bot/llm-triggers.ts
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  912b338ec9c7acf70c6f440927473c54fe983afb
Due: none

chore(release): v1.8.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

feat(bluebot): migrate from PostgreSQL to Redis for user configuration
  BLUEBOT_REDIS_MIGRATION.md
  apps/bluebot/REDIS_SETUP.md
  apps/bluebot/package.json
  apps/bluebot/src/index-minimal.ts
  apps/bluebot/src/services/redisConfigurationService.ts
  apps/bluebot/src/triggers.ts
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  infrastructure/docker/docker-compose.yml
  package-lock.json
  package.json
  packages/shared/package-lock.json
  packages/shared/package.json
  scripts/seed-redis-users.ts
Due: eslint --fix, prettier --write

feat(bluebot): Migrate from PostgreSQL to Redis for user configuration (#407)
  BLUEBOT_REDIS_MIGRATION.md
  apps/bluebot/REDIS_SETUP.md
  apps/bluebot/package.json
  apps/bluebot/src/index-minimal.ts
  apps/bluebot/src/services/redisConfigurationService.ts
  apps/bluebot/src/triggers.ts
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  infrastructure/docker/docker-compose.yml
  package-lock.json
  package.json
  packages/shared/package-lock.json
  packages/shared/package.json
  scripts/seed-redis-users.ts
Due: eslint --fix, prettier --write
