Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: Correct TypeScript types for async observability
  apps/bluebot/package.json
  apps/bluebot/src/index.ts
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/index.ts
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/djcova/src/index.ts
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  apps/starbunk-dnd/src/index.ts
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

fix: Docker health checks and async observability initialization (#426)
  apps/bluebot/Dockerfile
  apps/bluebot/package.json
  apps/bluebot/src/index.ts
  apps/bunkbot/Dockerfile
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/bunkbot/src/index.ts
  apps/covabot/Dockerfile
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/index.ts
  apps/djcova/Dockerfile
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/djcova/src/index.ts
  apps/starbunk-dnd/Dockerfile
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  apps/starbunk-dnd/src/index.ts
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/services/observability/__tests__/metrics-integration.test.ts
  packages/shared/src/services/observability/examples/UnifiedMetricsExample.ts
  packages/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

chore(release): v1.9.9 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ddcf140f0c25531d7483a0fff4c1fadbf86d0ee1
Due: none

fix: correct ignoreDeprecations value in tsconfig files
  apps/bunkbot/tsconfig.json
  apps/covabot/tsconfig.json
  apps/djcova/tsconfig.json
Due: prettier --write

chore(release): v1.10.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2c04ffd14710f13db573529d885a98178e72eb06
Due: none

Simplify bot detection and remove complex filtering logic
  .gitignore
  apps/bunkbot/src/__tests__/bot-trigger-conditions.test.ts
  apps/bunkbot/src/__tests__/bunkbot-sanity-check.test.ts
  apps/bunkbot/src/__tests__/container-startup.test.ts
  apps/bunkbot/src/__tests__/debug-mode-behavior.test.ts
  apps/bunkbot/src/commandHandler.ts
  apps/bunkbot/src/config/validation.ts
  apps/bunkbot/src/core/MessageProcessor.ts
  apps/bunkbot/src/core/__tests__/bot-builder.test.ts
  apps/bunkbot/src/core/__tests__/covabot-filtering.test.ts
  apps/bunkbot/src/core/bot-builder-refactored.ts
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/conditions-refactored.ts
  apps/bunkbot/src/core/conditions.ts
  apps/bunkbot/src/core/llm-conditions.test.ts
  apps/bunkbot/src/core/llm-conditions.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/reply-bots/bot-bot/index.ts
  apps/bunkbot/src/reply-bots/example-bot/index.ts
  apps/bunkbot/src/services/ServiceManager.ts
  apps/bunkbot/src/services/__tests__/ServiceManager.test.ts
  apps/bunkbot/tests/jest-env-setup.js
  apps/bunkbot/tests/reply-bots/bot-bot-messagefilter.test.ts
  apps/bunkbot/tests/setup.ts
  apps/covabot/tests/setup.ts
  apps/covabot/tsconfig.json
  apps/djcova/src/commandHandler.ts
  apps/djcova/tests/setup.ts
  apps/djcova/tsconfig.json
  apps/validate-startup.js
  config/env/.env.example
  config/env/.env.unraid.example
  docker-compose.yml
  packages/shared/src/environment.ts
  packages/shared/src/services/observability/UnifiedMetricsEndpoint.ts
  packages/shared/src/utils/diagnostics.ts
  packages/shared/tests/setup-env.ts
  packages/shared/tests/setup.ts
  packages/shared/tsconfig.json
Due: eslint --fix, prettier --write

chore: update package versions to 1.10.0 and refactor import paths for consistency
  apps/bluebot/package.json
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/bunkbot/src/core/index.ts
  apps/bunkbot/src/reply-bots/macaroni-bot/triggers.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/covabot/src/cova-bot/simplified-llm-triggers.ts
  apps/covabot/src/services/personality-notes-service.ts
  apps/covabot/tsconfig.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/djcova/tsconfig.json
  config/env/.env.example
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/infrastructure/persistence/repository-factory.ts
  packages/shared/src/infrastructure/persistence/sqlite/repositories/campaign-repository.ts
  packages/shared/src/services/bootstrap.ts
  packages/shared/src/services/observability/bot-trigger-integration.ts
  packages/shared/src/services/observability/index.ts
  packages/shared/src/services/observability/service-metrics-registry.ts
  packages/shared/src/services/observability/unified-metrics-endpoint.ts
Due: eslint --fix, prettier --write

fix: enhance error logging and ensure consistent import paths across services
  apps/covabot/src/services/personality-notes-service-db.ts
  infrastructure/database/prisma/schema.prisma
  packages/shared/jest.config.js
  packages/shared/src/services/__tests__/discord-gm-service.test.ts
  packages/shared/src/services/__tests__/discord-service.test.ts
  packages/shared/src/services/__tests__/message-filter.test.ts
  packages/shared/src/services/__tests__/personality-service.test.ts
  packages/shared/src/services/observability/__tests__/bot-trigger-integration.test.ts
  packages/shared/src/services/observability/__tests__/unified-metrics-integration.test.ts
  packages/shared/src/testing/discord/__tests__/error-handling.test.ts
  packages/shared/src/testing/discord/__tests__/fake-discord-environment.test.ts
  packages/shared/src/testing/discord/__tests__/integration.test.ts
  packages/shared/src/utils/__tests__/env-validation.test.ts
  packages/shared/tests/debug-configuration-validation.test.ts
  packages/shared/tests/debug-mode-integration.test.ts
Due: eslint --fix, prettier --write

refactor: simplify bot interactions and remove deprecated channel/guild ID files
  .gitignore
  apps/bunkbot/src/reply-bots/bot-bot/index.ts
  apps/bunkbot/src/services/__tests__/service-manager.test.ts
  config/env/.env.example
  config/env/.env.unraid.example
  packages/shared/src/discord/channel-ids.ts
  packages/shared/src/discord/guild-ids.ts
  packages/shared/src/services/__tests__/discord-gm-service.test.ts
  packages/shared/src/services/__tests__/discord-service.test.ts
Due: eslint --fix, prettier --write

refactor: remove deprecated role and user ID files to streamline codebase
  packages/shared/src/discord/role-ids.ts
  packages/shared/src/discord/user-id.ts
  packages/shared/src/services/prisma.ts
Due: eslint --fix, prettier --write

fix: remove unused BOT_BOT_RESPONSE_RATE import to resolve ESLint error
  apps/bunkbot/src/reply-bots/bot-bot/index.ts
Due: eslint --fix, prettier --write

fix: disable command deployment for BunkBot and update CLIENT_ID environment variable references in Docker configurations
  apps/bunkbot/src/index.ts
  infrastructure/docker/docker-compose.example.yml
  infrastructure/docker/docker-compose.yml
Due: eslint --fix, prettier --write

chore(release): v1.10.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20e722edb11ae6336eb466e8b8a81d60e7a810ef
Due: none

fix(bunkbot): clear slash commands instead of deploying them
  apps/bunkbot/src/index.ts
  docker-compose.yml
Due: eslint --fix, prettier --write

fix: address PR review comments
  apps/bunkbot/src/index.ts
  apps/bunkbot/tests/container-health.test.ts
  docker-compose.yml
Due: eslint --fix, prettier --write

refactor: remove MessageFilter from djcova, covabot, and bunkbot interactions
  apps/bunkbot/src/core/interaction-handler.ts
  apps/bunkbot/src/index.ts
  apps/covabot/tests/debug-mode.test.ts
  apps/djcova/src/index.ts
  apps/djcova/tests/debug-mode.test.ts
Due: eslint --fix, prettier --write

refactor: remove docker-compose.yml for deprecated services
  data/stacks/stack-1/docker-compose.yml
Due: prettier --write

refactor: update message filter initialization for local use in BunkBotContainer and ServiceManager
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/service-manager.ts
Due: eslint --fix, prettier --write

refactor: remove MessageFilter from djcova, covabot, and bunkbot interactions (#431)
  apps/bunkbot/src/core/interaction-handler.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/service-manager.ts
  apps/covabot/tests/debug-mode.test.ts
  apps/djcova/src/index.ts
  apps/djcova/tests/debug-mode.test.ts
  data/stacks/stack-1/docker-compose.yml
Due: eslint --fix, prettier --write

feat: Add user service and bot metrics tracking functionality
  apps/bluebot/package.json
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/bunkbot/src/core/database-bot-factory.ts
  apps/bunkbot/src/services/bootstrap.ts
  apps/bunkbot/src/services/configuration-shared/configuration-service.ts
  apps/bunkbot/src/services/configuration-shared/index.ts
  apps/bunkbot/src/services/configuration-shared/types.ts
  apps/bunkbot/src/services/database/configuration-registry.ts
  apps/bunkbot/src/services/database/database-service.ts
  apps/bunkbot/src/services/database/index.ts
  apps/bunkbot/src/services/database/types.ts
  apps/bunkbot/src/services/discord-gm-service.ts
  apps/bunkbot/src/services/discord-service.ts
  apps/bunkbot/src/services/errors/discord-errors.ts
  apps/bunkbot/src/services/message-filter.ts
  apps/bunkbot/src/services/observability/bot-response-logger.ts
  apps/bunkbot/src/services/observability/bot-trigger-integration.ts
  apps/bunkbot/src/services/observability/bot-trigger-metrics-service.ts
  apps/bunkbot/src/services/observability/bunk-bot-metrics.ts
  apps/bunkbot/src/services/observability/container-metrics.ts
  apps/bunkbot/src/services/observability/production-metrics-service.ts
  apps/bunkbot/src/services/observability/redis-bot-metrics-exporter.ts
  apps/bunkbot/src/services/observability/trigger-condition-utils.ts
  apps/bunkbot/src/services/user-service.ts
  apps/bunkbot/src/types/bot-metrics.ts
  apps/bunkbot/src/types/index.ts
  apps/bunkbot/src/utils/error-utils.ts
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: eslint --fix, prettier --write

refactor: move DiscordService and MessageFilter imports to local services
  apps/bunkbot/src/commands/bot-command-handler.ts
  apps/bunkbot/src/core/bot-builder-refactored.ts
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/bot-factory.ts
  apps/bunkbot/src/core/bot-processor.ts
  apps/bunkbot/src/core/get-bot-identity.ts
  apps/bunkbot/src/core/message-processor.ts
  apps/bunkbot/src/core/responses.ts
  apps/bunkbot/src/core/trigger-response.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/reply-bots/e2e-status-bot/index.ts
  apps/bunkbot/src/services/service-manager.ts
  apps/bunkbot/src/test-utils/test-utils.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

refactor: update Discord client initialization to use GatewayIntents and remove deprecated client factory
  apps/bluebot/src/index.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/__tests__/service-manager.test.ts
  apps/bunkbot/src/services/service-manager.ts
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
  packages/shared/src/discord/client-factory.ts
  packages/shared/src/domain/models/index.ts
  packages/shared/src/domain/repositories/index.ts
  packages/shared/src/index.ts
  packages/shared/src/infrastructure/persistence/files/local-file-repository.ts
  packages/shared/src/infrastructure/persistence/repository-factory.ts
  packages/shared/src/infrastructure/persistence/sqlite/repositories/campaign-repository.ts
  packages/shared/src/infrastructure/persistence/sqlite/repositories/message-repository.ts
  packages/shared/src/services/bootstrap.ts
  packages/shared/src/services/discord-gm-service.ts
Due: eslint --fix, prettier --write

refactor: remove BotFrequencyService to streamline bot frequency management
  packages/shared/src/services/bot-frequency-service.ts
Due: eslint --fix, prettier --write

feat(errors): add custom error classes for Discord service handling
  apps/bluebot/src/index.ts
  apps/bluebot/src/services/message-filter.ts
  apps/bluebot/src/services/webhook-manager.ts
  apps/bluebot/src/utils/diagnostics.ts
  apps/bunkbot/src/core/__tests__/bot-builder.test.ts
  apps/bunkbot/src/core/__tests__/responses.test.ts
  apps/bunkbot/src/core/__tests__/trigger-response.test.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/service-manager.ts
  apps/bunkbot/src/services/webhook-manager.ts
  apps/bunkbot/src/utils/diagnostics.ts
  apps/covabot/src/cova-bot/cova-bot.ts
  apps/covabot/src/services/discord-service.ts
  apps/covabot/src/services/errors/discord-errors.ts
  apps/covabot/src/services/identity.ts
  apps/covabot/src/services/message-filter.ts
  apps/covabot/src/services/webhook-manager.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/commands/set-volume.ts
  apps/djcova/src/commands/status.ts
  apps/djcova/src/commands/stop.ts
  apps/djcova/src/utils/discord-utils.ts
  packages/shared/src/discord/utils.ts
  packages/shared/src/index.ts
  packages/shared/src/services/bootstrap.ts
  packages/shared/src/services/services.ts
Due: eslint --fix, prettier --write

Refactor logging and code formatting across multiple files
  apps/bluebot/src/services/redis-configuration-service.ts
  apps/bunkbot/src/core/conditions.ts
  apps/bunkbot/src/services/service-manager.ts
  apps/bunkbot/src/types/index.ts
  apps/covabot/src/cova-bot/cova-bot.ts
  apps/covabot/src/cova-bot/simplified-llm-triggers.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/llm-service.ts
  apps/covabot/src/web/server.ts
  apps/djcova/src/command-handler.ts
  apps/djcova/src/commands/play.ts
  apps/djcova/src/index.ts
  apps/djcova/src/utils/discord-utils.ts
  packages/shared/src/index.ts
  packages/shared/src/services/__tests__/discord-gm-service.test.ts
  packages/shared/src/services/__tests__/discord-service.test.ts
  packages/shared/src/services/__tests__/message-filter.test.ts
  packages/shared/tests/debug-mode-integration.test.ts
Due: eslint --fix, prettier --write

refactor: remove identity service and webhook manager
  apps/bluebot/src/services/webhook-manager.ts
  apps/bunkbot/src/services/webhook-manager.ts
  apps/covabot/src/cova-bot/__tests__/response-decision-logic.test.ts
  apps/covabot/src/cova-bot/cova-bot.ts
  apps/covabot/src/cova-bot/triggers.ts
  apps/covabot/src/services/__tests__/identity-comprehensive.test.ts
  apps/covabot/src/services/identity.ts
  apps/covabot/src/services/webhook-manager.ts
  apps/covabot/src/web/__tests__/server.test.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tests/e2e/covabot-llm.e2e.test.ts
  apps/covabot/tests/e2e/identity-live.e2e.test.ts
  config/env/.env.development
Due: eslint --fix, prettier --write

fix: address CodeRabbit PR review comments
  apps/bluebot/src/services/webhook-manager.ts
  apps/bunkbot/src/services/bootstrap.ts
  apps/bunkbot/src/services/configuration-shared/configuration-service.ts
  apps/bunkbot/src/services/discord-service.ts
  apps/bunkbot/src/services/webhook-manager.ts
  apps/covabot/src/services/discord-service.ts
Due: eslint --fix, prettier --write

refactor: streamline imports and enhance error handling in Discord service and webhook manager
  apps/bluebot/src/services/webhook-manager.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/services/configuration-shared/configuration-service.ts
  apps/bunkbot/src/services/discord-service.ts
  apps/bunkbot/src/services/webhook-manager.ts
  apps/covabot/src/services/discord-service.ts
  packages/shared/src/services/observability/production-metrics-service.ts
Due: eslint --fix, prettier --write

fix: improve error handling in retryBotProfileRefresh method of DiscordService
  apps/bunkbot/src/services/discord-service.ts
  apps/covabot/src/services/discord-service.ts
Due: eslint --fix, prettier --write

fix: enhance database connection validation and improve Discord member cache management
  apps/bunkbot/src/services/bootstrap.ts
  apps/bunkbot/src/services/database/database-service.ts
  apps/bunkbot/src/services/discord-service.ts
  apps/covabot/src/services/discord-service.ts
Due: eslint --fix, prettier --write

Fix Bluebot responding to bot messages including itself (#434)
  apps/bluebot/src/index.ts
  apps/bluebot/tests/bot-message-filter.test.ts
  package-lock.json
Due: eslint --fix, prettier --write

don't lost it this time
  .gitignore
  apps/bunkbot-2/.gitignore
  apps/bunkbot-2/README.md
  apps/bunkbot-2/package.json
  apps/bunkbot-2/src/core/condition-resolver.ts
  apps/bunkbot-2/src/core/conditions.ts
  apps/bunkbot-2/src/core/get-bot-identity.ts
  apps/bunkbot-2/src/core/get-identity-options.ts
  apps/bunkbot-2/src/core/response-resolver.ts
  apps/bunkbot-2/src/core/trigger.ts
  apps/bunkbot-2/src/discord/discord-service.ts
  apps/bunkbot-2/src/discord/webhook-service.ts
  apps/bunkbot-2/src/index.ts
  apps/bunkbot-2/src/reply-bots/bot-discovery-service.ts
  apps/bunkbot-2/src/reply-bots/bot-factory.ts
  apps/bunkbot-2/src/reply-bots/bot-identity.ts
  apps/bunkbot-2/src/reply-bots/bot-registry.ts
  apps/bunkbot-2/src/reply-bots/reply-bot.ts
  apps/bunkbot-2/src/reply-bots/standard-reply-bot.ts
  apps/bunkbot-2/src/serialization/yaml-bot-factory.ts
  apps/bunkbot-2/src/serialization/yaml-bot-parser.ts
  apps/bunkbot-2/tsconfig.docker.json
  apps/bunkbot-2/tsconfig.json
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
  config/tsconfig.json
  package-lock.json
  package.json
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write
