Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

chore: add build-artifacts.tar.gz to .gitignore
  .gitignore
  build-artifacts.tar.gz
Due: none

fix: replace @/ path aliases with relative imports in shared package
  package.json
  src/shared/src/services/llm/embedding-manager.ts
  src/shared/src/services/vector/vector-interest-service.ts
  src/shared/src/services/vector/vector-memory-service.ts
  src/shared/src/services/vector/vector-store.ts
Due: eslint --fix, prettier --write

fix: create /app/src/config directory in covabot Dockerfiles
  package-lock.json
  src/covabot/Dockerfile
  src/covabot/Dockerfile.ci
Due: prettier --write

fix: add CI smoke mode support to covabot
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

chore: add .npmrc to suppress audit warnings for dev-only vulnerabilities
  .npmrc
  package-lock.json
Due: prettier --write

fix: add peer dependencies to various packages in package-lock.json
  package-lock.json
Due: prettier --write

chore: add Snyk Security Extension AI rules instructions to .gitignore
  .gitignore
Due: none

chore: add Snyk policy to ignore bundled dev dependencies
  .snyk
Due: none

fix: update Snyk policy with specific dependency paths
  .snyk
Due: none

chore(release): v1.18.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  72c268acffc82fce7df2e668ea8e55e7e6e2e81b
Due: none

Checkpoint from VS Code for coding agent session
  .vscode/settings.json
  package-lock.json
  src/bluebot/.env.example
  src/bluebot/package.json
  src/bluebot/src/strategy/strategy-router.ts
  src/bluebot/tests/strategies/strategy-router.test.ts
  src/bluebot/tools/README.md
  src/bluebot/tools/demo.sh
  src/bluebot/tools/interactive-tester.ts
  src/bluebot/tools/tester.ts
  src/bluebot/tools/tsconfig.json
Due: eslint --fix, prettier --write

chore: basic style
  src/bluebot/src/strategy/confirm-enemy-strategy.ts
Due: eslint --fix, prettier --write

made enemy name a bit more fuzzy
  package-lock.json
  src/bluebot/package.json
  src/bluebot/src/strategy/nice-enemy-strategy.ts
  src/bluebot/src/utils/string-similarity.ts
  src/bluebot/tests/strategies/nice-enemy-strategy.test.ts
Due: eslint --fix, prettier --write

refactor: update confirm
  src/bluebot/src/strategy/confirm-strategy.ts
  src/bluebot/tests/strategies/confirm-strategy.test.ts
Due: eslint --fix, prettier --write

feat(nice-strategy): enhance response logic to check for enemy names
  src/bluebot/src/strategy/nice-strategy.ts
  src/bluebot/tests/strategies/nice-strategy.test.ts
Due: eslint --fix, prettier --write

feat(confirm-enemy-strategy): add MURDER_RESPONSE and update response logic
  src/bluebot/src/strategy/confirm-enemy-strategy.ts
  src/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
Due: eslint --fix, prettier --write

feat(mock-message): enhance createMockMessage to support unique guild members and add timestamp
  src/bluebot/tests/helpers/mock-message.ts
Due: eslint --fix, prettier --write

feat(blue-reply-strategy): enhance response logic and add time tracking for blue responses
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/confirm-strategy.ts
  src/bluebot/tests/strategies/blue-reply-strategy.test.ts
Due: eslint --fix, prettier --write

feat(discord-service): create BlueBotDiscordService extending shared DiscordService
  src/bluebot/src/discord/discord-service.ts
  src/shared/src/discord/discord-service.ts
Due: eslint --fix, prettier --write

feat(default-strategy): update blueRegex to improve matching for variations of "blue"
  src/bluebot/src/strategy/default-strategy.ts
  src/bluebot/tests/strategies/blue-reply-strategy.test.ts
  src/bluebot/tests/strategies/strategy-router.test.ts
Due: eslint --fix, prettier --write

feat(tests): add end-to-end tests for BlueBot and enhance mock message creation
  src/bluebot/tests/e2e/bluebot-e2e.test.ts
  src/bluebot/tests/e2e/message-flow.test.ts
  src/bluebot/tests/helpers/bluebot-test-harness.ts
  src/bluebot/tests/helpers/mock-message.ts
Due: eslint --fix, prettier --write

refactor(tests): standardize test descriptions for clarity and consistency
  src/bluebot/tests/e2e/bluebot-e2e.test.ts
  src/bluebot/tests/e2e/message-flow.test.ts
  src/bluebot/tests/strategies/blue-reply-strategy.test.ts
  src/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
  src/bluebot/tests/strategies/confirm-strategy.test.ts
  src/bluebot/tests/strategies/default-strategy.test.ts
  src/bluebot/tests/strategies/nice-enemy-strategy.test.ts
  src/bluebot/tests/strategies/nice-strategy.test.ts
  src/bluebot/tests/strategies/strategy-router.test.ts
Due: eslint --fix, prettier --write

refactor(tests): enhance test utilities and improve strategy tests for clarity and consistency
  src/bluebot/tests/helpers/test-utils.ts
  src/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
  src/bluebot/tests/strategies/confirm-strategy.test.ts
  src/bluebot/tests/strategies/default-strategy.test.ts
  src/bluebot/tests/strategies/nice-enemy-strategy.test.ts
Due: eslint --fix, prettier --write

refactor(strategies): restructure and consolidate strategy implementations for improved clarity and maintainability
  src/bluebot/src/strategy/blue-default-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-strategy.ts
  src/bluebot/src/strategy/blue-request-murder-strategy.ts
  src/bluebot/src/strategy/blue-request-nice-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/src/strategy/blue-strategy-impl.ts
  src/bluebot/src/strategy/blue-strategy.ts
  src/bluebot/src/strategy/strategy-router.ts
  src/bluebot/tests/strategies/blue-reply-strategy.test.ts
  src/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
Due: eslint --fix, prettier --write

Refactor BlueBot strategies and tests
  src/bluebot/src/strategy/blue-reply-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-reply-confirm-strategy.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-enemy-strategy.ts
  src/bluebot/src/strategy/blue-request-confirm-strategy.ts
  src/bluebot/src/strategy/blue-request-strategy.ts
  src/bluebot/src/strategy/strategy-router.ts
  src/bluebot/tests/strategies/blue-default-strategy.test.ts
  src/bluebot/tests/strategies/blue-reply-confirm-enemy.test.ts
  src/bluebot/tests/strategies/blue-reply-confirm.test.ts
  src/bluebot/tests/strategies/blue-request-confirm-enemy-strategy.test.ts
  src/bluebot/tests/strategies/blue-request-confirm-strategy.test.ts
  src/bluebot/tests/strategies/blue-strategy.test.ts
  src/bluebot/tests/strategies/strategy-router.test.ts
Due: eslint --fix, prettier --write

refactor(tests): update createMockMessage usage to accept options object for consistency
  src/bluebot/tests/e2e/message-flow.test.ts
  src/bluebot/tests/helpers/bluebot-test-harness.ts
  src/bluebot/tests/helpers/mock-message.ts
  src/bluebot/tests/strategies/blue-request-confirm-strategy.test.ts
  src/bluebot/tests/strategies/strategy-router.test.ts
  src/bluebot/tools/interactive-tester.ts
Due: eslint --fix, prettier --write

refactor(Dockerfile.ci): enhance runtime dependencies installation and rebuild better-sqlite3 for environment compatibility
  package-lock.json
  src/bluebot/Dockerfile.ci
Due: prettier --write

refactor(dependencies): add better-sqlite3 and its type definitions for improved database support
  package-lock.json
  src/shared/package.json
Due: prettier --write

fix: resolve race condition in release pipeline
  .github/workflows/semantic-release.yml
Due: prettier --write

fix: resolve race condition in release pipeline (#461)
  .github/workflows/semantic-release.yml
Due: prettier --write

feat: add force-all mode for manual workflow triggers
  .github/actions/detect-changes/action.yml
  .github/workflows/main-deploy.yml
Due: prettier --write

feat: add force-all mode for manual workflow triggers (#462)
  .github/actions/detect-changes/action.yml
  .github/workflows/main-deploy.yml
Due: prettier --write

refactor(bunkbot): reorganize tests to match bluebot structure
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
  src/bunkbot/tests/reply-bots/conditions/condition-resolver.test.ts
  src/bunkbot/tests/reply-bots/conditions/conditions.test.ts
  src/bunkbot/tests/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/tests/serialization/yaml-bot-parser.test.ts
  src/bunkbot/tsconfig.json
  src/bunkbot/vitest.config.ts
Due: eslint --fix, prettier --write

refactor(bunkbot): rename files to match bluebot kebab-case convention
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/commands/clear-webhooks.ts
  src/bunkbot/src/commands/command-registry.ts
  src/bunkbot/src/index.ts
Due: eslint --fix, prettier --write

refactor(bunkbot): reorganize tests to match bluebot structure (#463)
  src/bunkbot/src/bunk-bot.ts
  src/bunkbot/src/commands/clear-webhooks.ts
  src/bunkbot/src/commands/command-registry.ts
  src/bunkbot/src/index.ts
  src/bunkbot/tests/reply-bots/bot-registry.test.ts
  src/bunkbot/tests/reply-bots/conditions/condition-resolver.test.ts
  src/bunkbot/tests/reply-bots/conditions/conditions.test.ts
  src/bunkbot/tests/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/tests/serialization/yaml-bot-parser.test.ts
  src/bunkbot/tsconfig.json
  src/bunkbot/vitest.config.ts
Due: eslint --fix, prettier --write

chore(release): v1.19.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  21e9c1c559738673b09335036ce2b6017dc8eab6
Due: none
