Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): v1.9.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c97c679d4796abbf3b26dee8e956c900fe0984d
Due: none

fix: remove ANSI escape sequence from GitHub Actions workflow
  .github/workflows/main-deploy.yml
Due: prettier --write

chore(release): v1.9.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae0f32468fb9da0a4139fad0af246e14c22a3b6e
Due: none

Revert "chore(release): v1.9.1 [skip ci]"
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

chore(release): v1.9.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cac4eb74bda78869089d16eed5c312c193043e6f
Due: none

fix: add checkout step to validation jobs
  .github/workflows/main-deploy.yml
Due: prettier --write

fix: add checkout step to validation jobs for local action access
  .github/workflows/main-deploy.yml
Due: prettier --write

fix: Add checkout step to validation jobs for local action access (#409)
  .github/workflows/main-deploy.yml
Due: prettier --write

chore(release): v1.9.3 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8c89cdc686466b88acabc65714fa989811d326e8
Due: none

Remove obsolete Docker Compose files and update main configuration for improved memory management
  BLUEBOT_REDIS_MIGRATION.md
  infrastructure/deployments/qdrant-unraid-deployment.yml
  infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.latest.yml
  infrastructure/docker/docker-compose.local.yml
  infrastructure/docker/docker-compose.observability.yml
  infrastructure/docker/docker-compose.production.yml
  infrastructure/docker/docker-compose.snapshot.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.latest.yml
  infrastructure/podman/podman-compose.snapshot.yml
  infrastructure/podman/podman-compose.test.yml
Due: prettier --write

fix: update health check endpoint and exclude postgres data directory from Docker context
  apps/covabot/Dockerfile
  config/tools/.dockerignore
Due: none

Fix/covabot-crash (#410)
  BLUEBOT_REDIS_MIGRATION.md
  apps/covabot/Dockerfile
  config/tools/.dockerignore
  infrastructure/deployments/qdrant-unraid-deployment.yml
  infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.latest.yml
  infrastructure/docker/docker-compose.local.yml
  infrastructure/docker/docker-compose.observability.yml
  infrastructure/docker/docker-compose.production.yml
  infrastructure/docker/docker-compose.snapshot.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.latest.yml
  infrastructure/podman/podman-compose.snapshot.yml
  infrastructure/podman/podman-compose.test.yml
Due: prettier --write

chore: reorganize repository structure and remove non-critical files
  apps/bluebot/package.json
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  config/VERSION
  config/docker/docker-compose.github-runner.yml
  config/release.config.cjs
  config/testing/jest.config.js
  config/tsconfig.json
  infrastructure/database/init-db/01-init.sql
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/grafana-dashboards/README.md
  infrastructure/monitoring/grafana-dashboards/bunkbot-metrics.json
  infrastructure/monitoring/grafana-dashboards/covabot-metrics.json
  infrastructure/monitoring/grafana-dashboards/dashboards.yml
  infrastructure/monitoring/grafana-dashboards/djcova-metrics.json
  infrastructure/monitoring/grafana-dashboards/json/bunkbot-performance.json
  infrastructure/monitoring/grafana-dashboards/json/covabot-ai.json
  infrastructure/monitoring/grafana-dashboards/json/djcova-music.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-dnd.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-overview.json
  infrastructure/monitoring/grafana-dashboards/json/unified-collector.json
  infrastructure/monitoring/grafana-dashboards/starbunk-dnd-metrics.json
  infrastructure/monitoring/grafana-dashboards/system-overview.json
  infrastructure/monitoring/grafana-datasources.yml
  infrastructure/monitoring/loki-config.yml
  infrastructure/monitoring/promtail-config.yml
  jest.config.js
  monitoring/prometheus.yml
  package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
  release.config.cjs
  scripts/sync-versions.sh
Due: prettier --write

refactor: reorganize repository structure
  .github/workflows/pr-validation.yml
  apps/bluebot/Dockerfile
  apps/bunkbot/Dockerfile.optimized
  apps/bunkbot/Dockerfile.podman
  docs/branch-protection.md
  infrastructure/database/prisma/dev.db
  infrastructure/database/prisma/migrations/20250627185126_init/migration.sql
  infrastructure/database/prisma/migrations/migration_lock.toml
  infrastructure/database/prisma/schema.prisma
  infrastructure/database/prisma/seed.ts
  package.json
  scripts/monitoring/structure-health-check.sh
  scripts/pre-push.sh
  scripts/test-docker-env-precedence.sh
  scripts/validation/check-documentation-structure.sh
  scripts/validation/check-naming-conventions.sh
  scripts/validation/check-root-directory.sh
  scripts/validation/check-temporary-files.sh
  scripts/validation/run-all-validations.sh
  tools/scripts/testing/test-container-logging.js
  tools/scripts/testing/test-line-splitting.js
  tools/scripts/testing/test-logging-behavior.js
  tools/testing/test-path-filters.sh
  tools/testing/workflow-test-simple.js
  utils/testing/ghcr-cleanup-utils.js
  utils/testing/validate-ghcr-cleanup.js
  utils/testing/workflow-test-simple.js
  utils/yaml/check_yaml.py
  utils/yaml/validate_yaml.py
Due: eslint --fix, prettier --write

fix: add peer dependencies to package-lock.json
  package-lock.json
Due: prettier --write

chore: remove unnecessary peer dependencies from package-lock.json
  package-lock.json
Due: prettier --write

fix: configure Prisma schema path and add postinstall hook
  package.json
Due: prettier --write

fix: update CI action to use correct Prisma schema path
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

Simplify CovaBot minimal implementation by removing webhook and identity management
  apps/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts.skip
  apps/covabot/src/cova-bot/__tests__/llm-decision-logic.test.ts
  apps/covabot/src/cova-bot/__tests__/llm-triggers.test.ts
  apps/covabot/src/cova-bot/enhancedLlmTriggers.ts
  apps/covabot/src/cova-bot/index.ts
  apps/covabot/src/cova-bot/llm-triggers.ts
  apps/covabot/src/index-minimal.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/llmService.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tsconfig.json
  package-lock.json
Due: eslint --fix, prettier --write

Update apps/covabot/src/index-minimal.ts
  apps/covabot/src/index-minimal.ts
Due: eslint --fix, prettier --write

Update apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tests/bootstrap.test.ts
Due: eslint --fix, prettier --write

Simplify CovaBot minimal implementation by removing webhook and identity management (#412)
  apps/covabot/src/cova-bot/__tests__/enhanced-llm-triggers.test.ts.skip
  apps/covabot/src/cova-bot/__tests__/llm-decision-logic.test.ts
  apps/covabot/src/cova-bot/__tests__/llm-triggers.test.ts
  apps/covabot/src/cova-bot/enhancedLlmTriggers.ts
  apps/covabot/src/cova-bot/index.ts
  apps/covabot/src/cova-bot/llm-triggers.ts
  apps/covabot/src/index-minimal.ts
  apps/covabot/src/index.ts
  apps/covabot/src/services/llmService.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tsconfig.json
  package-lock.json
Due: eslint --fix, prettier --write

Rename index-minimal.ts to index.ts
  apps/covabot/Dockerfile
  apps/covabot/package.json
  apps/covabot/src/index.ts
Due: eslint --fix, prettier --write

Update apps/covabot/src/index.ts
  apps/covabot/src/index.ts
Due: eslint --fix, prettier --write

Update CovaBot to use the main index file instead of the minimal version
  apps/covabot/src/index-web.ts
  apps/covabot/tests/bootstrap.test.ts
Due: eslint --fix, prettier --write

Rename index-minimal.ts to index.ts for CovaBot (#413)
  apps/covabot/Dockerfile
  apps/covabot/package.json
  apps/covabot/src/index-web.ts
  apps/covabot/src/index.ts
  apps/covabot/tests/bootstrap.test.ts
Due: eslint --fix, prettier --write

Fix Docker builds: Copy Prisma schema before generating client
  apps/bunkbot/Dockerfile
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
Due: none

Standardize all app entry points to use singular index.ts
  apps/bluebot/Dockerfile
  apps/bluebot/package.json
  apps/bluebot/src/index.ts
  apps/bunkbot/src/index-minimal.ts
  apps/bunkbot/src/index-refactored.ts
  apps/bunkbot/tests/bootstrap.test.ts
  apps/covabot/package.json
  apps/covabot/src/index-web.ts
  apps/covabot/src/index.ts
  apps/djcova/src/index-minimal.ts
  apps/djcova/tests/bootstrap.test.ts
  apps/starbunk-dnd/package.json
  apps/starbunk-dnd/src/index-minimal.ts
  apps/starbunk-dnd/tests/bootstrap.test.ts
Due: eslint --fix, prettier --write

Optimize Docker build times with BuildKit cache mounts and improved layer structure (#415)
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  .gitignore
  apps/bluebot/Dockerfile
  apps/bunkbot/Dockerfile
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
  docs/DOCKER_BUILD_OPTIMIZATION.md
Due: prettier --write

Fix covabot health check endpoint to use /health instead of /ready
  apps/covabot/Dockerfile
Due: none

Fix covabot token name and add glibc compatibility
  .github/workflows/pr-validation.yml
  apps/covabot/Dockerfile
  apps/covabot/src/index.ts
  apps/covabot/tests/bootstrap.test.ts
  apps/covabot/tests/e2e/identity-live.e2e.test.ts
  apps/covabot/tests/setup.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
