Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: comprehensive CovaBot production readiness strategy
  containers/covabot/scripts/production-readiness-tests.js
  containers/shared/src/environment.js
  docs/PRODUCTION_DEPLOYMENT_STRATEGY.md
  docs/PRODUCTION_READINESS_SUMMARY.md
  scripts/emergency-rollback.sh
  scripts/ensure-directories.sh
  scripts/production-monitoring.sh
  scripts/setup-git-hooks.sh
  scripts/setup-staging-environment.sh
Due: prettier --write

feat: Add comprehensive production monitoring and remote debugging
  PRODUCTION_MONITORING_GUIDE.md
  containers/covabot/package-lock.json
  containers/covabot/package.json
  containers/covabot/src/index-web.ts
  containers/covabot/src/services/logAggregationService.ts
  containers/covabot/src/services/productionMonitoringService.ts
  containers/covabot/src/web/server.ts
  containers/covabot/src/web/static/app.js
  containers/covabot/src/web/static/index.html
  containers/covabot/tsconfig.json
  containers/shared/src/environment.js
  docker-compose.monitoring.yml
  scripts/validate-monitoring.js
Due: eslint --fix, prettier --write

feat: Add direct Docker logs access via Docker API
  containers/covabot/src/services/logAggregationService.ts
  containers/covabot/src/web/server.ts
  containers/covabot/src/web/static/app.js
  containers/covabot/src/web/static/index.html
Due: eslint --fix, prettier --write

fix: Correct BunkBot health server port configuration
  containers/bunkbot/src/index.ts
Due: eslint --fix, prettier --write

Fix container shared dependency issues and boot loops
  containers/bunkbot/Dockerfile.podman
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/Dockerfile
  docker-compose.no-postgres.yml
Due: prettier --write

Fix Snowbunk Dockerfile to copy correct container directory
  containers/snowbunk/Dockerfile
Due: none

feat: add production monitoring and log aggregation features to CovaBot web interface
  docker-compose.no-postgres.yml
Due: prettier --write

Fix container shared dependency issues and boot loops (#261)
  containers/bunkbot/Dockerfile.podman
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/Dockerfile
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --write

fix: optimize container builds and resolve shared dependency issues
  .gitignore
  containers/bunkbot/Dockerfile
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/Dockerfile
Due: none

Update containers/bunkbot/Dockerfile
  containers/bunkbot/Dockerfile
Due: none

fix: resolve shared dependency issue in BunkBot Dockerfile.podman
  containers/bunkbot/Dockerfile.podman
Due: none

fix: optimize container builds and resolve shared dependency issues (#262)
  .gitignore
  containers/bunkbot/Dockerfile
  containers/bunkbot/Dockerfile.podman
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/snowbunk/Dockerfile
  containers/starbunk-dnd/Dockerfile
Due: none

Fix container shared dependency issues and boot loops
  docker-compose.no-postgres.yml
Due: prettier --write

fix: implement robust CovaBot filtering to prevent reply bot responses
  containers/bunkbot/src/core/__tests__/covabot-filtering.test.ts
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/src/core/conditions.ts
  containers/bunkbot/src/reply-bots/bot-bot/triggers.ts
Due: eslint --fix, prettier --write

feat: add comprehensive container startup validation tests
  containers/bunkbot/jest.config.js
  containers/bunkbot/package.json
  containers/bunkbot/src/__tests__/container-startup.test.ts
  containers/bunkbot/tests/container-health.test.ts
  containers/bunkbot/tests/e2e/container-integration.test.ts
Due: eslint --fix, prettier --write

feat: add GitHub workflow for container startup validation with required checks
  .github/BRANCH_PROTECTION.md
  .github/path-filters.yml
  .github/workflows/container-startup-validation.yml
  .gitignore
Due: prettier --write

fix: resolve YAML syntax error in container startup validation workflow
  .github/workflows/container-startup-validation.yml
Due: prettier --write

docs: add comprehensive container validation workflow documentation
  .github/CONTAINER_VALIDATION_WORKFLOW.md
Due: prettier --write

fix: resolve ESLint unused parameter error in container startup test
  containers/bunkbot/src/__tests__/container-startup.test.ts
Due: eslint --fix, prettier --write

Fix/container shared dependency issues (#263)
  .github/BRANCH_PROTECTION.md
  .github/CONTAINER_VALIDATION_WORKFLOW.md
  .github/path-filters.yml
  .github/workflows/container-startup-validation.yml
  .gitignore
  containers/bunkbot/jest.config.js
  containers/bunkbot/package.json
  containers/bunkbot/src/__tests__/container-startup.test.ts
  containers/bunkbot/src/core/__tests__/covabot-filtering.test.ts
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/src/core/conditions.ts
  containers/bunkbot/src/reply-bots/bot-bot/triggers.ts
  containers/bunkbot/tests/container-health.test.ts
  containers/bunkbot/tests/e2e/container-integration.test.ts
Due: eslint --fix, prettier --write

feat: Add comprehensive BunkBot E2E and unit tests with CovaBot filtering
  containers/bunkbot/package.json
  containers/bunkbot/src/__tests__/bot-trigger-conditions.test.ts
  containers/bunkbot/src/__tests__/bunkbot-e2e.test.ts
  containers/bunkbot/src/__tests__/covabot-filtering-e2e.test.ts
  containers/bunkbot/src/__tests__/debug-mode-behavior.test.ts
  containers/bunkbot/src/__tests__/individual-bot-triggers.test.ts
  containers/bunkbot/src/__tests__/run-all-tests.ts
  containers/bunkbot/src/core/conditions.ts
  containers/bunkbot/src/test-utils/testUtils.ts
Due: eslint --fix, prettier --write

fix: Resolve ESLint unused variable errors in BunkBot tests
  containers/bunkbot/src/__tests__/bot-trigger-conditions.test.ts
  containers/bunkbot/src/__tests__/bunkbot-e2e.test.ts
  containers/bunkbot/src/__tests__/covabot-filtering-e2e.test.ts
  containers/bunkbot/src/__tests__/debug-mode-behavior.test.ts
  containers/bunkbot/src/__tests__/individual-bot-triggers.test.ts
  containers/bunkbot/src/__tests__/run-all-tests.ts
Due: eslint --fix, prettier --write

fix: Resolve test variable reference errors after merge conflict resolution
  containers/bunkbot/src/__tests__/covabot-filtering-e2e.test.ts
Due: eslint --fix, prettier --write

fix: resolve GitHub Actions workflow errors and improve reliability
  .github/workflows/build-metrics.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-startup-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
Due: prettier --write

fix: address RabbitAI code review feedback and improve workflow reliability
  .github/workflows/build-metrics.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/stale-management.yml
  containers/bunkbot/src/__tests__/individual-bot-triggers.test.ts
  containers/bunkbot/src/__tests__/run-all-tests.ts
  containers/bunkbot/src/core/conditions.ts
Due: eslint --fix, prettier --write

fix: address final RabbitAI code review feedback for comprehensive PR completion
  containers/bunkbot/src/__tests__/bot-trigger-conditions.test.ts
  containers/bunkbot/src/core/conditions.ts
Due: eslint --fix, prettier --write

fix: resolve CI/CD workflow failures and missing test dependencies
  .github/workflows/code-quality-gates.yml
  containers/starbunk-dnd/src/commands/__tests__/rpg.test.ts.disabled
  containers/starbunk-dnd/src/snowbunk/snowbunkClient.test.ts.disabled
  containers/starbunk-dnd/src/utils/campaignChecks.ts
Due: eslint --fix, prettier --write

fix: resolve critical CI/CD workflow failures with comprehensive test and security fixes
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-startup-validation.yml
  containers/bunkbot/src/core/__tests__/llm-conditions-basic.test.ts
  containers/bunkbot/src/core/__tests__/response-context.test.ts
  containers/bunkbot/src/core/llm-conditions.test.ts
  containers/bunkbot/tests/container-health.test.ts
  containers/bunkbot/tests/debug-mode.test.ts.disabled
  containers/bunkbot/tests/reply-bots-debug.test.ts.disabled
  containers/bunkbot/tests/reply-bots/bot-bot.test.ts.disabled
Due: eslint --fix, prettier --write

fix: achieve 95% test success rate by disabling flaky infrastructure tests and fixing critical mock issues
  .github/workflows/container-startup-validation.yml
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/responses.test.ts
  containers/bunkbot/src/core/__tests__/trigger-response.test.ts
  containers/bunkbot/src/services/__tests__/botIdentityService.integration.test.ts
  containers/bunkbot/src/test-utils/testUtils.ts
  containers/bunkbot/tests/container-health.test.ts
  containers/bunkbot/tests/e2e/container-integration.test.ts
Due: eslint --fix, prettier --write

fix: resolve critical CI/CD test failures with targeted fixes
  .github/workflows/container-startup-validation.yml
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/trigger-response.test.ts
  containers/bunkbot/src/test-utils/testUtils.ts
Due: eslint --fix, prettier --write

fix: resolve critical CI/CD test failures with comprehensive fixes
  .github/workflows/container-startup-validation.yml
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/conditions.test.ts
  containers/bunkbot/src/core/__tests__/responses.test.ts
Due: eslint --fix, prettier --write

fix: resolve remaining CI/CD test failures with targeted fixes
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/conditions.test.ts
  containers/bunkbot/tests/setup.ts
Due: eslint --fix, prettier --write

fix: resolve critical bot message processing and condition function issues
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/tests/setup.ts
Due: eslint --fix, prettier --write

fix: finalize bot message processing architecture with hybrid approach
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/src/core/bot-factory.ts
Due: eslint --fix, prettier --write

fix: clean up unused imports and webhook code
  containers/bunkbot/src/core/bot-builder.ts
Due: eslint --fix, prettier --write

fix: resolve remaining BunkBot unit test failures with targeted fixes
  containers/bunkbot/jest.config.js
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/conditions.test.ts
  containers/bunkbot/src/core/bot-builder.ts
  containers/bunkbot/src/services/__tests__/configurationService.test.ts
  containers/bunkbot/tests/jest-env-setup.js
Due: eslint --fix, prettier --write

fix: resolve Chad bot chance-based test failure with proper mocking
  containers/bunkbot/tests/jest-env-setup.js
  containers/bunkbot/tests/reply-bots/chad-bot.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
