Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(djcova): await voice subscription and register it for cleanup
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

fix(djcova): move setSubscription to after play() to avoid immediate cleanup
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

fix(djcova): await voice subscription and register it for cleanup (#637)
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

chore(release): v1.31.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ecc73d121401cd95c64b321f32f11640e3c60348
Due: none

fix(djcova): preserve voice subscription across play() calls to fix silent playback
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

chore: fix malformed file names in repo access guidance response
  If you're using **Aider** (which this chat interface looks like it may be), you can add files directly with
  Or add whole directories
  You can dump useful context like
Due: none

chore remove dead files
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  If you're using **Aider** (which this chat interface looks like it may be), you can add files directly with
  Or add whole directories
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

Delete You can dump useful context like
  You can dump useful context like
Due: none

fix(djcova): replace brittle internal subscriber cast with currentSubscription diagnostic
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

fix(djcova): guard play() catch block against concurrent play() race condition
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

refactor(djcova): extract killYtdlpProcess() helper to remove duplication
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

fix(djcova): preserve voice subscription across play() calls to fix silent playback (#638)
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

chore(release): v1.31.2 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  af04ba264fafe8da5ae9fa7778800421504bfb8b
Due: none

fix(djcova): resolve silent playback and reconnection failures
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): resolve silent playback and reconnection failures (#639)
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

chore(release): v1.31.3 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  68c1f6643b8b50618e9ec9eb33bbd040d51a7c5e
Due: none

fix(djcova): replace Promise.race with Promise.any in Disconnected handler
  src/djcova/src/utils/voice-utils.ts
Due: eslint --fix, prettier --write

chore: restore husky pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

test(djcova): update voice-utils mocks with state property; add Disconnected reuse test
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

fix(djcova): truncate yt-dlp error message to 1000 chars for Discord safety
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): log notification callback failures instead of silently swallowing
  src/djcova/src/core/dj-cova.ts
Due: eslint --fix, prettier --write

fix(djcova): treat unexpected signal-based yt-dlp exits as errors
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

fix(djcova): destroy Disconnected connections before retrying voice join
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/utils/voice-utils.ts
Due: eslint --fix, prettier --write

fix(djcova): destroy Disconnected connections before retrying voice join (#640)
  .husky/pre-commit
  .husky/pre-push
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/voice-utils.subscription.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.31.4 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5db809da0ed82821c3dc90a1d8f17c7629d92a80
Due: none

feat(observability): add standardized error codes and djcova play funnel metrics
  src/djcova/src/commands/play.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/errors/codes.ts
  src/djcova/src/errors/index.ts
  src/djcova/src/index.ts
  src/djcova/src/observability/djcova-metrics.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/ytdlp.ts
  src/shared/src/errors/codes.ts
  src/shared/src/errors/ensure-error.ts
  src/shared/src/errors/index.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

test(djcova): extend logger mocks to cover withMetadata chaining
  src/djcova/tests/djcova-idle.test.ts
  src/djcova/tests/music-commands.test.ts
  src/djcova/tests/ytdlp.unit.test.ts
Due: eslint --fix, prettier --write

feat(observability): enforce error_code on all djcova .error() calls
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/index.ts
  src/djcova/src/utils/discord-utils.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
  src/shared/package.json
Due: eslint --fix, prettier --write

feat(observability): replace manual .error() chains with logError() across djcova
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/index.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/services/idle-manager.ts
  src/djcova/src/utils/discord-utils.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/idle-manager.test.ts
  src/shared/src/errors/index.ts
  src/shared/src/errors/log-error.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

fix(djcova): address PR review feedback on error codes and metrics accuracy
  src/djcova/src/commands/play.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/errors/codes.ts
  src/djcova/src/services/dj-cova-service.ts
Due: eslint --fix, prettier --write

feat(observability): standardized error codes and DJCova play funnel metrics (#641)
  src/djcova/src/commands/play.ts
  src/djcova/src/commands/set-volume.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/errors/codes.ts
  src/djcova/src/errors/index.ts
  src/djcova/src/index.ts
  src/djcova/src/observability/djcova-metrics.ts
  src/djcova/src/services/connection-health-monitor.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/services/idle-manager.ts
  src/djcova/src/utils/discord-utils.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
  src/djcova/tests/djcova-idle.test.ts
  src/djcova/tests/idle-manager.test.ts
  src/djcova/tests/music-commands.test.ts
  src/djcova/tests/ytdlp.unit.test.ts
  src/shared/package.json
  src/shared/src/errors/codes.ts
  src/shared/src/errors/ensure-error.ts
  src/shared/src/errors/index.ts
  src/shared/src/errors/log-error.ts
  src/shared/src/index.ts
Due: eslint --fix, prettier --write

chore(release): v1.32.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4024d8e534bffe16a248338db0e37931e2d8dd9d
Due: none

test(e2e): add real Discord E2E test suite for all four bots
  .env.e2e.example
  .github/workflows/e2e.yml
  docker-compose.e2e.yml
  package.json
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/covabot/src/services/response-decision-service.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/e2e/config/e2e-test-bots.template.yml
  src/e2e/package.json
  src/e2e/src/harness/discord-e2e-client.ts
  src/e2e/src/harness/test-env.ts
  src/e2e/src/setup/global-setup.ts
  src/e2e/src/tests/bluebot/bluebot.e2e.test.ts
  src/e2e/src/tests/bunkbot/bunkbot.e2e.test.ts
  src/e2e/src/tests/covabot/covabot.e2e.test.ts
  src/e2e/src/tests/djcova/djcova.e2e.test.ts
  src/e2e/src/tests/infrastructure/smoke.e2e.test.ts
  src/e2e/tsconfig.json
  src/e2e/vitest.config.ts
Due: eslint --fix, prettier --write

fix(e2e): address PR review comments
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/covabot/src/services/response-decision-service.ts
  src/e2e/src/harness/discord-e2e-client.ts
  src/e2e/src/harness/test-env.ts
  src/e2e/src/setup/global-setup.ts
  src/e2e/src/tests/djcova/djcova.e2e.test.ts
  src/e2e/src/tests/infrastructure/smoke.e2e.test.ts
Due: eslint --fix, prettier --write

feat: add E2E test workflow for PRs and a Claude command for PR review management
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  CLAUDE.md
  docker-compose.e2e.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
