Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: Make correlationId optional in handleModelNotFound
  apps/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

fix: Address PR review comments
  apps/covabot/src/services/llmService.ts
  infrastructure/docker/docker-compose.yml
Due: eslint --fix, prettier --write

feat: Add async Ollama model auto-pull with comprehensive metrics (#337)
  apps/covabot/src/services/llmService.ts
  config/env/.env.example
  infrastructure/docker/docker-compose.yml
Due: eslint --fix, prettier --write

Update config/env/.env.example
  config/env/.env.example
Due: none

Add force-validation label to override change detection in PR validation (#341)
  .github/workflows/pr-validation.yml
Due: prettier --write

Clean up .env.example template - replace hardcoded values with localhost defaults (#339)
  config/env/.env.example
Due: none

feat: implement environment variable support for bot configuration and observability
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/conditions.ts
  apps/covabot/src/services/qdrantService.ts
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

fix: resolve PR review comments
  apps/bunkbot/src/core/conditions.ts
  apps/covabot/src/services/qdrantService.ts
Due: eslint --fix, prettier --write

feat: implement environment variable support for bot configuration and observability (#342)
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/conditions.ts
  apps/covabot/src/services/qdrantService.ts
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

refactor: simplify BotBot architecture with declarative configuration
  apps/bunkbot/src/core/__tests__/bot-builder.test.ts
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/conditions.ts
  apps/bunkbot/src/reply-bots/bot-bot/index.ts
  apps/bunkbot/tests/reply-bots/bot-bot-messagefilter.test.ts
  config/env/.env.example
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

fix: update imports and BotConfig interface for type checking
  apps/bunkbot/src/core/bot-factory.ts
  apps/bunkbot/src/core/message-filter-examples.ts
  apps/bunkbot/src/createBot.ts
Due: eslint --fix, prettier --write

fix: lint error - prefix unused message parameter with underscore
  apps/bunkbot/src/core/message-filter-examples.ts
Due: eslint --fix, prettier --write

refactor: simplify BotBot architecture with declarative configuration (#345)
  apps/bunkbot/src/core/__tests__/bot-builder.test.ts
  apps/bunkbot/src/core/bot-builder.ts
  apps/bunkbot/src/core/bot-factory.ts
  apps/bunkbot/src/core/conditions.ts
  apps/bunkbot/src/core/message-filter-examples.ts
  apps/bunkbot/src/createBot.ts
  apps/bunkbot/src/reply-bots/bot-bot/index.ts
  apps/bunkbot/tests/reply-bots/bot-bot-messagefilter.test.ts
  config/env/.env.example
  packages/shared/src/environment.ts
Due: eslint --fix, prettier --write

Update docs/DOCKER_ENV_VARS.md
  docs/DOCKER_ENV_VARS.md
Due: prettier --write

Build Docker images with baked environment variables for all deployment scenarios (excluding secrets) (#344)
  .github/workflows/build-images.yml
  .github/workflows/pr-validation.yml
  .github/workflows/publish-main.yml
  .github/workflows/release.yml
  .gitignore
  apps/bunkbot/Dockerfile
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
  docs/DOCKER_ENV_VARS.md
  scripts/test-docker-env-precedence.sh
Due: prettier --write

fix: Convert Loki timestamps to strings to fix 400 Bad Request errors
  packages/shared/src/services/observability/StructuredLogger.ts
Due: eslint --fix, prettier --write

fix: Convert Loki timestamps to strings to fix 400 Bad Request errors (#346)
  packages/shared/src/services/observability/StructuredLogger.ts
Due: eslint --fix, prettier --write

fix: resolve Loki 400 errors and filter infrastructure logs
  docs/observability/promtail.yml.example
  infrastructure/docker/docker-compose.observability.yml
  packages/shared/src/services/observability/StructuredLogger.ts
  packages/shared/src/services/observability/server:.yml
Due: eslint --fix, prettier --write

fix: Resolve Loki 400 errors and filter infrastructure logs (#347)
  docs/observability/promtail.yml.example
  infrastructure/docker/docker-compose.observability.yml
  packages/shared/src/services/observability/StructuredLogger.ts
  packages/shared/src/services/observability/server:.yml
Due: eslint --fix, prettier --write

feat: Centralize version management with single source of truth
  .github/workflows/semantic-versioning.yml
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  docs/versioning.md
  package-lock.json
  package.json
  packages/shared/package-lock.json
  scripts/sync-versions.sh
Due: prettier --write

feat: Add automatic PR version bumping
  .github/workflows/pr-version-bump.yml
  .github/workflows/semantic-versioning.yml
  docs/versioning.md
Due: prettier --write

fix: Address code review feedback
  .github/workflows/pr-version-bump.yml
  package.json
  scripts/sync-versions.sh
Due: prettier --write

feat: Centralize version management with single source of truth (#348)
  .github/workflows/pr-version-bump.yml
  .github/workflows/semantic-versioning.yml
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  docs/versioning.md
  package-lock.json
  package.json
  packages/shared/package-lock.json
  scripts/sync-versions.sh
Due: prettier --write

chore: Regenerate package-lock files after version sync
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  package-lock.json
Due: prettier --write

Add workflow to tag first commit with latest
  .github/workflows/tag-first-commit.yml
Due: prettier --write

Fix Docker build context in publish-main workflow
  .github/workflows/publish-main.yml
  .github/workflows/tag-first-commit.yml
Due: prettier --write

Add git tag 'latest' after successful deployment to main
  .github/workflows/publish-main.yml
Due: prettier --write

Fix Docker image tagging in publish-main workflow (#349)
  .github/workflows/publish-main.yml
Due: prettier --write

Fix failing workflows and add automatic version tagging
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-version-bump.yml
  .github/workflows/publish-main.yml
  .github/workflows/structure-validation.yml
Due: prettier --write

chore(version): bump to v1.3.2
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
  packages/shared/package.json
Due: prettier --write

Fix failing workflows and add automatic version tagging (#351)
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-version-bump.yml
  .github/workflows/publish-main.yml
  .github/workflows/structure-validation.yml
  apps/bunkbot/package.json
  apps/covabot/package.json
  apps/djcova/package.json
  apps/starbunk-dnd/package.json
  package.json
  packages/shared/package.json
Due: prettier --write

fix: resolve all CI/CD workflow failures
  .github/actions/setup-node-cached/action.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/semantic-versioning.yml
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/starbunk-dnd/package-lock.json
  package-lock.json
  packages/shared/package-lock.json
Due: prettier --write

fix: correct cache verification logic in setup-node-cached action
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

fix: resolve YAML syntax errors in workflow files
  .github/workflows/pr-version-bump.yml
  .github/workflows/structure-validation.yml
Due: prettier --write

[WIP] Tag main branch with latest and version number on merge (#353)
  .github/workflows/publish-main.yml
  apps/bunkbot/package-lock.json
  apps/bunkbot/package.json
  apps/covabot/package-lock.json
  apps/covabot/package.json
  apps/djcova/package-lock.json
  apps/djcova/package.json
  apps/starbunk-dnd/package-lock.json
  apps/starbunk-dnd/package.json
  docs/versioning.md
  package-lock.json
  package.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: prettier --write

fix: move @types/node-fetch to devDependencies in shared package
  package-lock.json
  packages/shared/package.json
Due: prettier --write

fix: improve cache validation to detect partial cache matches
  .github/actions/setup-node-cached/action.yml
Due: prettier --write

fix: resolve port binding conflict and improve error logging
  apps/bunkbot/src/index.ts
  apps/covabot/src/index.ts
  apps/djcova/src/index.ts
  apps/starbunk-dnd/src/index.ts
Due: eslint --fix, prettier --write

fix: update Node.js version to 20 in workflows and package.json
  .github/workflows/pr-cleanup.yml
  .github/workflows/structure-validation.yml
  package-lock.json
  package.json
Due: prettier --write

fix: extract only first number from health score to prevent GitHub Actions output parsing error
  .github/workflows/structure-validation.yml
Due: prettier --write
