Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(repo): update .gitignore for new structure (.workspace, local, config)
  .gitignore
Due: none

feat(repo): move docker-compose files to infrastructure/docker/
  docker-compose.yml
  infrastructure/docker/docker-compose.minimal.yml
  infrastructure/docker/docker-compose.old.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

feat(repo): move progress.txt to .workspace/
  .workspace/progress.txt
Due: none

feat(repo): move agent docs (AGENTS.md, AGENT_WORKFLOW.md) to .workspace/agents/
  .workspace/agents/AGENTS.md
  .workspace/agents/AGENT_WORKFLOW.md
Due: prettier --write

feat(repo): move docs/patterns to .workspace/patterns/
  .workspace/patterns/patterns/pipeline.ts
  .workspace/patterns/patterns/strategy.ts
  .workspace/prds/PRD_574_djcova_resource_lifecycle_tests.md
  .workspace/prds/PRD_DJCOVA_AUDIO_STABILITY.md
Due: eslint --fix, prettier --write

feat(repo): move docs/observability to examples/observability/
  examples/observability/observability/README.md
  examples/observability/observability/alertmanager.yml.example
  examples/observability/observability/grafana-datasources.yml.example
  examples/observability/observability/prometheus.yml.example
  examples/observability/observability/promtail.yml.example
Due: prettier --write

chore(repo): remove deleted TASKS.md from tracking
  docs/TASKS.md
Due: prettier --write

chore: update .gitignore comments for new structure
  .gitignore
Due: none

feat: add config examples and fix .gitignore
  .gitignore
  examples/config/README.md
  examples/config/bluebot/README.md
  examples/config/bunkbot/README.md
  examples/config/bunkbot/personality.yml
  examples/config/covabot/README.md
  examples/config/covabot/example-personality.yml
  examples/config/djcova/README.md
Due: prettier --write

feat: add config setup script, fix scripts .gitignore
  .gitignore
  package.json
  scripts/ai/ralph-fix-errors.sh
  scripts/ai/ralph-pr-comments.sh
  scripts/deployment/deploy.sh
  scripts/deployment/health-check.sh
  scripts/deployment/rollback.sh
  scripts/setup-config.sh
Due: prettier --write

docs: add repository structure section to README
  README.md
Due: prettier --write

docs: update DEPLOYMENT.md and fix docs .gitignore
  .gitignore
  docs/DEPLOYMENT.md
Due: prettier --write

chore: remove obsolete workspace files and documentation
  .env.github-runner.example
  .env.minimal
  .env.observability.example
  .env.production.example
  .workspace/agents/.gitkeep
  .workspace/agents/AGENTS.md
  .workspace/agents/AGENT_WORKFLOW.md
  .workspace/patterns/.gitkeep
  .workspace/patterns/patterns/pipeline.ts
  .workspace/patterns/patterns/strategy.ts
  .workspace/plans/.gitkeep
  .workspace/prds/.gitkeep
  .workspace/prds/PRD_574_djcova_resource_lifecycle_tests.md
  .workspace/prds/PRD_DJCOVA_AUDIO_STABILITY.md
  .workspace/progress.txt
Due: eslint --fix, prettier --write

chore: remove config directory from git tracking
  config/VERSION
  config/bluebot/README.md
  config/bunkbot/README.md
  config/bunkbot/bots.yml
  config/bunkbot/personality.yml
  config/covabot/README.md
  config/covabot/example-personality.yml
  config/djcova/README.md
  config/editor/.editorconfig
  config/env/.env.bluebot.example
  config/env/.env.development
  config/env/.env.djcova.example
  config/env/.env.example
  config/env/.env.unraid.example
  config/examples/docker-compose.example.yml
  config/examples/promtail-config.example.yml
  config/harness/config.yml
  config/harness/harness.yml
  config/package.json
  config/tsconfig.json
Due: prettier --write

chore: add config directory to .gitignore
  .gitignore
Due: none

docs: update DEPLOYMENT.md and docker-compose.yml for improved clarity and security
  docs/DEPLOYMENT.md
  infrastructure/docker/docker-compose.yml
Due: prettier --write

chore: remove obsolete AI scripts and setup configuration script
  scripts/ai/ralph-fix-errors.sh
  scripts/ai/ralph-pr-comments.sh
  scripts/seed-redis-users.ts
  scripts/setup-config.sh
Due: eslint --fix, prettier --write

chore: update package versions to 1.30.1 and refine README scripts
  package-lock.json
  package.json
  src/bunkbot/README.md
Due: prettier --write

Update docs/DEPLOYMENT.md
  docs/DEPLOYMENT.md
Due: prettier --write

refactor: streamline pre-commit and pre-push hooks by removing obsolete version sync and validation scripts
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: exclude yt-dlp integration tests from default test run
  src/djcova/tests/ytdlp.integration.test.ts
  src/djcova/vitest.config.ts
Due: eslint --fix, prettier --write

chore: update package-lock.json to sync with package.json
  package-lock.json
Due: prettier --write

fix: correct docker:build path and update check:all to exclude docker build
  package.json
Due: prettier --write

chore: remove unnecessary peer dependencies from package-lock.json
  package-lock.json
Due: prettier --write

feat: add Ralph command for fixing CircleCI and Snyk errors
  .github/commands/fix-ci-snyk-errors.md
  .gitignore
Due: prettier --write

feat: Add comprehensive command documentation for testing, performance, security, type safety, error fixing, API generation, and code simplification
  .github/commands/analyze-architecture.md
  .github/commands/complete-github-issue.md
  .github/commands/design-migration.md
  .github/commands/design-refactor.md
  .github/commands/design-rollout.md
  .github/commands/design-tests.md
  .github/commands/ensure-tests-pass.md
  .github/commands/find-performance-issues.md
  .github/commands/find-security-issues.md
  .github/commands/find-type-errors.md
  .github/commands/fix-all-errors.md
  .github/commands/generate-api-docs.md
  .github/commands/generate-unit-tests.md
  .github/commands/issue-to-prd.md
  .github/commands/organize-gitignore.md
  .github/commands/ralph.md
  .github/commands/simplify-codebase.md
  .github/commands/strategic-assessment.md
  .github/commands/verify-circleci-checks.md
Due: prettier --write

fix: Remove extra space in expected outcome section of CI & Snyk errors documentation
  .github/commands/fix-ci-snyk-errors.md
Due: prettier --write

fix: Resolve CircleCI lint failure and security issues
  infrastructure/docker/docker-compose.yml
  package-lock.json
  package.json
  scripts/deployment/health-check.sh
Due: prettier --write

chore: update .gitignore with editor artifacts
  .gitignore
Due: none

fix: regenerate package-lock.json to sync with package.json
  package-lock.json
Due: prettier --write

fix: sync package-lock.json peer dependency flag
  package-lock.json
Due: prettier --write

fix: regenerate package-lock.json with npm 10 for Snyk compatibility
  package-lock.json
Due: prettier --write

fix: add .snykignore to exclude data directories from scanning
  .snykignore
  package-lock.json
Due: prettier --write

just delete these
  .github/commands/analyze-architecture.md
  .github/commands/complete-github-issue.md
  .github/commands/design-migration.md
  .github/commands/design-refactor.md
  .github/commands/design-rollout.md
  .github/commands/design-tests.md
  .github/commands/ensure-tests-pass.md
  .github/commands/find-performance-issues.md
  .github/commands/find-security-issues.md
  .github/commands/find-type-errors.md
  .github/commands/fix-all-errors.md
  .github/commands/fix-ci-snyk-errors.md
  .github/commands/generate-api-docs.md
  .github/commands/generate-unit-tests.md
  .github/commands/issue-to-prd.md
  .github/commands/organize-gitignore.md
  .github/commands/ralph.md
  .github/commands/simplify-codebase.md
  .github/commands/strategic-assessment.md
  .github/commands/verify-circleci-checks.md
Due: prettier --write

feat(djcova): add comprehensive debug logging for music service startup
  src/djcova/src/commands/play.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

feat(djcova): Add comprehensive debug logging for music service (#610)
  .gitignore
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  src/djcova/src/commands/play.ts
  src/djcova/src/core/dj-cova.ts
  src/djcova/src/core/djcova-factory.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/voice-utils.ts
  src/djcova/src/utils/ytdlp.ts
Due: eslint --fix, prettier --write

feat(djcova): add integration test infrastructure for voice connection lifecycle
  src/djcova/package.json
  src/djcova/tests/integration/voice-connection.integration.test.ts
  src/djcova/vitest.integration.config.ts
Due: eslint --fix, prettier --write

feat(djcova): expand integration tests with real voice-utils mocking
  src/djcova/tests/integration/voice-connection.integration.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
