Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: correct shared_tests job command to use npm run test:shared
  .circleci/workflows/core-pr-validation.yml
Due: prettier --write

feat: add force-all-checks label support for running all validations
  .circleci/scripts/detect_changes.sh
Due: none

feat: add main-merge workflow with conditional image push to GHCR
  .circleci/config.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add automated deployment job to CircleCI runner
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: trigger deployment workflow on git tags instead of main branch merges
  .circleci/config.yml
Due: prettier --write

refactor: clean up check names and disable GHAS
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/main-merge.yml
  .github/workflows/security-weekly.yml
Due: prettier --write

ci: disable github actions workflows in favor of circleci
  .github/workflows/main-deploy.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/validate-manifests.yml
Due: prettier --write

test: trigger conditional workflow
  src/bunkbot/src/test-trigger.ts
Due: eslint --fix, prettier --write

feat: enhance continuation step with detailed logging and error handling
  .circleci/config.yml
Due: prettier --write

feat: streamline continuation pipeline logic and improve error handling
  .circleci/config.yml
Due: prettier --write

feat: add initial comment to test-trigger file
  src/bunkbot/src/test-trigger.ts
Due: eslint --fix, prettier --write

feat: update workflow filters to ignore all branches
  .circleci/config.yml
Due: prettier --write

feat: migrate CircleCI configuration to use continuation orb and streamline dynamic config generation
  .circleci/config.yml
  .circleci/diff.json
  .circleci/scripts/generate_config.py
Due: prettier --write

feat: add validation step for generated config to ensure valid YAML
  .circleci/config.yml
Due: prettier --write

Revert "feat: add validation step for generated config to ensure valid YAML"
  .circleci/config.yml
Due: prettier --write

feat: update CircleCI workflows and jobs for improved build and test processes
  .circleci/config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

feat: add PyYAML installation step for config validation in CircleCI
  .circleci/config.yml
Due: prettier --write

feat: clean up dynamic config generation output and remove validation step
  .circleci/config.yml
Due: prettier --write

feat: update CircleCI workflow filters to include branch detection
  .circleci/config.yml
Due: prettier --write

feat: upgrade Node.js version in CircleCI configurations and add version display step
  .circleci/config.yml
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/core-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: update CircleCI configurations to ensure Docker CLI availability
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add initial test files for bluebot, bunkbot, covabot, and djcova
  src/bluebot/src/file.ts
  src/bunkbot/src/file.ts
  src/covabot/src/file.ts
  src/djcova/src/file.ts
Due: eslint --fix, prettier --write

fix: exclude dist/ directories from tar archive to prevent missing file errors
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: make message parameter optional in getResponse method for ConfirmEnemyStrategy
  src/bluebot/src/strategy/blue-reply-confirm-enemy-strategy.ts
Due: eslint --fix, prettier --write

feat: include additional dist directories in build artifacts compression
  .circleci/workflows/main-merge.yml
  .github/agents/master-architect.agent.md
Due: prettier --write

feat: improve artifact compression by dynamically including dist directories
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add verification steps for build and extracted artifacts in CI workflow
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: add build dependency to publish image jobs in CI workflow
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: enhance CI workflows to rebuild missing artifacts and improve artifact compression
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

feat: update CI workflows to use node20 executor for Docker builds
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
  .circleci/workflows/main-merge.yml
  .github/agents/master-architect.agent.md
Due: prettier --write

feat: add executable permission for health check script in CI workflows
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

feat: improve health check script in CI workflows with error handling
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

ci: track CircleCI scripts in git and update gitignore exceptions
  .circleci/scripts/container_health_check.sh
  .gitignore
Due: none

feat: skip health check in CI workflows for PR validation when image is not available
  .circleci/workflows/bluebot-pr-validation.yml
  .circleci/workflows/bunkbot-pr-validation.yml
  .circleci/workflows/covabot-pr-validation.yml
  .circleci/workflows/djcova-pr-validation.yml
Due: prettier --write

feat: add npm rebuild step for native dependencies and update path aliases in Vitest config
  .circleci/workflows/covabot-pr-validation.yml
  src/covabot/vitest.config.ts
Due: eslint --fix, prettier --write

feat: add step to build shared package in CI workflow
  .circleci/workflows/covabot-pr-validation.yml
Due: prettier --write

feat: remove unused test files from multiple bot sources
  src/bluebot/src/file.ts
  src/bunkbot/src/file.ts
  src/bunkbot/src/test-trigger.ts
  src/covabot/src/file.ts
  src/djcova/src/file.ts
Due: eslint --fix, prettier --write

fix: trigger deployment workflow when merging to main
  .circleci/config.yml
Due: prettier --write

test: trigger deployment workflow validation
  README.md
Due: prettier --write

test: enable deployment workflow on fix/circleci-main-deployment branch with 'dev' tag
  .circleci/config.yml
  .circleci/workflows/main-merge.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
