Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: upgrade zod from 3.24.2 to 3.24.3
  package-lock.json
  package.json
Due: prettier --write

Refactor bot message handling: default to skipping bot messages, update related tests and documentation
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/createBot.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/reply-bots/baby-bot/index.ts
  src/starbunk/bots/reply-bots/blue-bot/index.ts
  src/starbunk/bots/reply-bots/bot-bot/index.ts
  src/starbunk/bots/reply-bots/chad-bot/index.ts
  src/starbunk/bots/reply-bots/cova-bot/index.ts
  src/starbunk/bots/reply-bots/example-bot/index.ts
Due: eslint --fix, prettier --write

Refactor bot message handling to skip by default (#221)
  src/starbunk/bots/core/__tests__/bot-builder.test.ts
  src/starbunk/bots/core/bot-builder.ts
  src/starbunk/bots/createBot.ts
  src/starbunk/bots/reply-bots/README.md
  src/starbunk/bots/reply-bots/baby-bot/index.ts
  src/starbunk/bots/reply-bots/blue-bot/index.ts
  src/starbunk/bots/reply-bots/bot-bot/index.ts
  src/starbunk/bots/reply-bots/chad-bot/index.ts
  src/starbunk/bots/reply-bots/cova-bot/index.ts
  src/starbunk/bots/reply-bots/example-bot/index.ts
Due: eslint --fix, prettier --write

fix: upgrade discord-api-types from 0.37.120 to 0.38.1
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade discord-api-types from 0.37.120 to 0.38.1 (#222)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade zod from 3.24.2 to 3.24.3 (#220)
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade openai from 4.93.0 to 4.95.1 (#219)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Security upgrade @distube/ytdl-core from 4.16.8 to 4.16.10 (#223)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade discord.js from 14.18.0 to 14.19.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade openai from 4.95.1 to 4.96.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @discordjs/builders from 1.10.1 to 1.11.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade discord-api-types from 0.38.1 to 0.38.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @discordjs/rest from 2.4.3 to 2.5.0
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade @discordjs/rest from 2.4.3 to 2.5.0 (#228)
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Upgrade discord-api-types from 0.38.1 to 0.38.2 (#227)
  package-lock.json
  package.json
Due: prettier --write

feat: update Docker containers to support yt-dlp with Python
  Dockerfile
  Dockerfile.dev
  Dockerfile.prod
  docker-compose.dev.yml
  docker-compose.prod.yml
  package.json
  scripts/test-ytdlp.js
Due: prettier --write

feat: update Docker and VSCode configurations for improved development workflow
  .dockerignore
  .vscode/launch.json
  .vscode/tasks.json
  docker-compose.debug.yml
Due: prettier --write

fix: upgrade discord-api-types from 0.38.2 to 0.38.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @discordjs/builders from 1.10.1 to 1.11.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade zod from 3.24.2 to 3.24.4
  package-lock.json
  package.json
Due: prettier --write

fix: Replace any types with unknown for better type safety
  containers/shared/src/types/index.ts
Due: eslint --fix, prettier --write

Fix CI/CD: Update ESLint config and fix unused variable warnings
  .eslintrc.json
  containers/covabot/src/cova-bot/llm-triggers.ts
  containers/shared/src/services/personalityService.ts
  containers/shared/src/webhooks/webhookService.ts
  containers/starbunk-dnd/src/commands/rpg.ts
  containers/starbunk-dnd/src/services/campaignFileService.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix Docker commands: Update from docker-compose to docker compose
  package.json
Due: prettier --write

Add CI-friendly check script without Docker requirement
  package.json
Due: prettier --write

Fix CI/CD: Install container dependencies before type checking
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

Clean up CI/CD workflows and update .gitignore
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .gitignore
Due: prettier --write

Implement path-based conditional CI/CD execution
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security.yml
Due: prettier --write

Fix path-based CI/CD issues
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

Fix JSON formatting in GitHub Actions matrix generation
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
Due: prettier --write

Fix Docker builds: Properly link shared package in all containers
  containers/covabot/Dockerfile
  containers/djcova/Dockerfile
  containers/starbunk-dnd/Dockerfile
Due: none

fix: github images for pr
  .github/workflows/docker-publish.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
  containers/bunkbot/jest.config.js
  containers/covabot/jest.config.js
  containers/covabot/src/cova-bot/__tests__/llm-triggers.test.ts
  containers/djcova/jest.config.js
  containers/djcova/src/commands/__tests__/play.test.ts
  containers/shared/jest.config.js
  containers/starbunk-dnd/jest.config.js
  containers/starbunk-dnd/src/commands/__tests__/rpg.test.ts
Due: eslint --fix, prettier --write

Fix CI/CD pipeline and resolve dependency issues
  .github/workflows/README.md
  containers/shared/package-lock.json
  containers/shared/package.json
  containers/shared/src/services/__tests__/discordService.test.ts
  containers/shared/src/services/__tests__/personalityService.test.ts
  containers/shared/src/services/personalityService.ts
  docs/CI-CD-SETUP.md
  scripts/validate-workflows.sh
Due: eslint --fix, prettier --write

Temporarily disable container tests to allow CI/CD pipeline push
  package.json
Due: prettier --write

Temporarily disable container tests in CI/CD to fix pipeline
  .github/workflows/ci.yml
  containers/bunkbot/src/core/__tests__/bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/llm-conditions-basic.test.ts
  containers/bunkbot/src/core/__tests__/responses.test.ts
  containers/bunkbot/src/core/__tests__/trigger-response.test.ts
  containers/bunkbot/src/core/__tests__/voice-bot-adapter.test.ts
  containers/bunkbot/src/core/__tests__/voice-bot-builder.test.ts
  containers/bunkbot/src/core/__tests__/voice-conditions.test.ts
  containers/bunkbot/src/core/llm-conditions.test.ts
  containers/starbunk-dnd/src/commands/__tests__/rpg.test.ts
  package.json
  scripts/fix-container-imports.sh
Due: eslint --fix, prettier --write

fix: github images for pr
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/pr-cleanup.yml
Due: prettier --write

fix: github images for pr
  .github/workflows/docker-build-reusable.yml
  .github/workflows/manual-docker-build.yml
Due: prettier --write

fix: github images for pr
  docker-compose.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
