Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix(shared): add explicit exports for observability mixins to fix container module resolution
  src/shared/package.json
Due: prettier --write

fix: address PR review comments
  package-lock.json
  package.json
  src/bluebot/src/index.ts
  src/bunkbot/package.json
  src/shared/src/discord/webhook-service.ts
  src/shared/src/observability/log-layer.ts
  src/shared/src/observability/mixins/discord-context-mixin.ts
  src/shared/tsconfig.json
Due: eslint --fix, prettier --write

chore(release): v1.13.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6ba4e2853a50dbe1e577bf4d75e1264470d322ad
Due: none

feat: standardize config directories for all containers
  config/bluebot/README.md
  config/bunkbot/README.md
  config/bunkbot/bots.yml
  config/covabot/README.md
  config/djcova/README.md
  docker-compose.yml
  src/bunkbot/docker-compose.dev.yml
Due: prettier --write

fix: remove unused *_CONFIG_DIR environment variables
  config/bluebot/README.md
  config/bunkbot/README.md
  config/covabot/README.md
  config/djcova/README.md
  docker-compose.yml
  src/bunkbot/docker-compose.dev.yml
Due: prettier --write

feat: standardize config directories for all containers (#446)
  config/bluebot/README.md
  config/bunkbot/README.md
  config/bunkbot/bots.yml
  config/covabot/README.md
  config/djcova/README.md
  docker-compose.yml
  src/bunkbot/docker-compose.dev.yml
Due: prettier --write

chore(release): v1.14.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1477939d39a5107dc1ecad9d37aaf40dd8edc5e8
Due: none

fix: initialize Discord client in CovaBot container
  src/covabot/src/index.ts
Due: eslint --fix, prettier --write

chore: cleanup docker-compose environment variables
  data/stacks/bunkbot/docker-compose.yml
Due: prettier --write

chore: remove unused redis and postgres services
  data/stacks/bunkbot/docker-compose.yml
Due: prettier --write

feat: add volume mounts for BunkBot, DJCova, CovaBot, and BlueBot services
  data/stacks/bunkbot/docker-compose.yml
Due: prettier --write

Add conditional execution to workflows based on file changes (#449)
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/semantic-release.yml
  .gitignore
Due: prettier --write

chore: cleanup .env.example and standardize volume paths
  config/env/.env.example
Due: none

chore: remove unused and deprecated environment variables from .env.example
  config/env/.env.example
Due: none

feat: standardize change detection in workflows and add detect-changes action
  .github/actions/detect-changes/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  package-lock.json
Due: prettier --write

feat: update job names in PR validation workflow for clarity
  .github/workflows/pr-validation.yml
Due: prettier --write

feat: standardize CI Dockerfiles and enhance build workflows with artifact management
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  docker-compose.yml
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: prettier --write

chore: update package-lock.json and package.json dependencies
  .github/actions/setup-node-cached/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  package-lock.json
  package.json
  src/bluebot/Dockerfile.ci
  src/bluebot/tsconfig.json
  src/bunkbot/Dockerfile.ci
  src/bunkbot/tsconfig.json
  src/covabot/Dockerfile.ci
  src/covabot/tsconfig.json
  src/djcova/tsconfig.json
  src/shared/tsconfig.json
Due: prettier --write

feat: update tsBuildInfoFile paths to use dist directory for improved caching
  .github/actions/setup-node-cached/action.yml
  src/bluebot/tsconfig.json
  src/bunkbot/tsconfig.json
  src/covabot/tsconfig.json
  src/djcova/tsconfig.json
  src/djcova/tsconfig.test.json
  src/shared/tsconfig.json
Due: prettier --write

fix: resolve TypeScript path aliases with tsc-alias in build
  package.json
Due: prettier --write

fix(djcova): remove tsconfig.test.json reference to fix observability module compilation
  src/djcova/tsconfig.json
Due: prettier --write

fix: address PR review comments
  .github/workflows/pr-validation.yml
  config/env/.env.example
  data/stacks/bunkbot/docker-compose.yml
  docker-compose.yml
  src/bluebot/Dockerfile
  src/bluebot/Dockerfile.ci
  src/bunkbot/Dockerfile.ci
  src/covabot/Dockerfile.ci
  src/djcova/Dockerfile.ci
Due: prettier --write

chore: cleanup docker-compose environment variables and remove unused services (#447)
  .github/actions/detect-changes/action.yml
  .github/actions/setup-node-cached/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  config/env/.env.example
  data/stacks/bunkbot/docker-compose.yml
  docker-compose.yml
  package-lock.json
  package.json
  src/bluebot/Dockerfile.ci
  src/bluebot/tsconfig.json
  src/bunkbot/Dockerfile.ci
  src/bunkbot/tsconfig.json
  src/covabot/Dockerfile.ci
  src/covabot/src/index.ts
  src/covabot/tsconfig.json
  src/djcova/Dockerfile.ci
  src/djcova/tsconfig.json
  src/djcova/tsconfig.test.json
  src/shared/tsconfig.json
Due: eslint --fix, prettier --write

fix: add health server initialization to all bots
  src/bluebot/src/index.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
Due: eslint --fix, prettier --write

Fix/health server (#450)
  src/bluebot/src/index.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
Due: eslint --fix, prettier --write

chore: update package-lock.json after merge
  package-lock.json
Due: prettier --write

test: trigger CI build to verify deployment process
  src/bluebot/src/index.ts
Due: eslint --fix, prettier --write

debug: add verbose flag to tsc-alias for bluebot to debug CI issue
  package.json
Due: prettier --write

fix: run tsc-alias from bluebot directory to correctly resolve path aliases
  package.json
Due: prettier --write

debug: add directory listing to debug tsc-alias issue
  package.json
Due: prettier --write

debug: add clean build step for bluebot
  package.json
Due: prettier --write

debug: list source files before building
  package.json
Due: prettier --write

chore: remove debug commands and clean up code
  package.json
  src/bluebot/src/index.ts
Due: eslint --fix, prettier --write

Test: Verify deployment build process (#452)
  package-lock.json
  package.json
Due: prettier --write

feat: add dynamic character repetition placeholder for bot responses
  config/bunkbot/bots.yml
  src/bunkbot/src/reply-bots/responses/response-resolver.test.ts
  src/bunkbot/src/reply-bots/responses/response-resolver.ts
Due: eslint --fix, prettier --write

debug: add verification step to check dist files before Docker build
  .github/workflows/pr-validation.yml
Due: prettier --write
