Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

docs: add CI/CD completion guidelines to CLAUDE.md and implement PR review automation command
  CLAUDE.md
  package-lock.json
Due: prettier --write

fix(ci): fix djcova TS build error, add missing e2e build step, and split e2e into per-app checks
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  src/djcova/src/utils/voice-utils.ts
  src/shared/src/services/database/postgres-service.ts
Due: eslint --fix, prettier --write

fix(e2e): replace broken Qdrant health check with bash TCP check
  docker-compose.e2e.yml
Due: prettier --write

fix(ci): add secrets preflight, CircleCI config, and security dependency upgrades
  .circleci/config.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  package-lock.json
  package.json
Due: prettier --write

test(e2e): add real Discord E2E test suite for all four bots (#642)
  .circleci/config.yml
  .env.e2e.example
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  CLAUDE.md
  docker-compose.e2e.yml
  package-lock.json
  package.json
  src/bluebot/src/blue-bot.ts
  src/bluebot/src/strategy/blue-reply-strategy.ts
  src/bunkbot/src/reply-bots/bot-registry.ts
  src/covabot/src/services/response-decision-service.ts
  src/djcova/src/index.ts
  src/djcova/src/services/dj-cova-service.ts
  src/djcova/src/utils/voice-utils.ts
  src/e2e/config/e2e-test-bots.template.yml
  src/e2e/package.json
  src/e2e/src/harness/discord-e2e-client.ts
  src/e2e/src/harness/test-env.ts
  src/e2e/src/setup/global-setup.ts
  src/e2e/src/tests/bluebot/bluebot.e2e.test.ts
  src/e2e/src/tests/bunkbot/bunkbot.e2e.test.ts
  src/e2e/src/tests/covabot/covabot.e2e.test.ts
  src/e2e/src/tests/djcova/djcova.e2e.test.ts
  src/e2e/src/tests/infrastructure/smoke.e2e.test.ts
  src/e2e/tsconfig.json
  src/e2e/vitest.config.ts
  src/shared/src/services/database/postgres-service.ts
Due: eslint --fix, prettier --write

feat(covabot): organic engagement + personality discipline
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
  src/covabot/CLAUDE.md
  src/covabot/config/personalities/cova.yml
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-schema.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/handlers/message-handler.test.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/database-service.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/llm-service.test.ts
  src/shared/src/services/llm/llm-provider-manager.ts
Due: eslint --fix, prettier --write

feat(covabot): organic engagement + personality discipline (#643)
  infrastructure/docker/.env.example
  infrastructure/docker/docker-compose.yml
  src/covabot/CLAUDE.md
  src/covabot/config/personalities/cova.yml
  src/covabot/package.json
  src/covabot/src/cova-bot.ts
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-schema.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/handlers/message-handler.test.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/services/database-service.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/llm-service.test.ts
  src/shared/src/services/llm/llm-provider-manager.ts
Due: eslint --fix, prettier --write

chore(release): move VERSION file to repo root
  VERSION
  release.config.cjs
  scripts/sync-versions.sh
Due: none

chore(infra): remove orphaned infrastructure files
  infrastructure/docker/docker-compose.github-runner.yml
  infrastructure/docker/docker-compose.old.yml
  infrastructure/monitoring/grafana/bunkbot-dashboard.json
  infrastructure/monitoring/grafana/djcova-dashboard.json
  infrastructure/monitoring/grafana/starbunk-discord-bots-overview.json
  infrastructure/monitoring/prometheus/starbunk-discord-bots.yml
  infrastructure/podman/podman-compose.yml
Due: prettier --write

chore(release): move VERSION file to repo root (#644)
  VERSION
  release.config.cjs
  scripts/sync-versions.sh
Due: none

fix(covabot): replace trigger system with LLM-based engagement + fix e2e tests
  .gitignore
  src/covabot/config/personalities/cova.yml
  src/covabot/config/personalities/cova/beliefs.md
  src/covabot/config/personalities/cova/core.md
  src/covabot/config/personalities/cova/dislikes.md
  src/covabot/config/personalities/cova/likes.md
  src/covabot/config/personalities/cova/opinions.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/config/personalities/cova/speech.md
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/normalizers.ts
  src/covabot/src/serialization/personality-manager.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/serialization/personality-schema.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/handlers/message-handler.test.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/serialization/normalizers.test.ts
  src/covabot/tests/serialization/personality-manager.refresh.test.ts
  src/covabot/tests/serialization/personality-manager.test.ts
  src/covabot/tests/serialization/personality-mapper.test.ts
  src/covabot/tests/serialization/personality-parser.test.ts
  src/covabot/tests/serialization/personality-schema.test.ts
  src/covabot/tests/serialization/personality-validator.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/llm-service.test.ts
  src/e2e/src/tests/covabot/covabot.e2e.test.ts
Due: eslint --fix, prettier --write

fix(covabot): replace trigger system with LLM-based engagement + fix e2e tests (#646)
  .gitignore
  src/covabot/config/personalities/cova.yml
  src/covabot/config/personalities/cova/beliefs.md
  src/covabot/config/personalities/cova/core.md
  src/covabot/config/personalities/cova/dislikes.md
  src/covabot/config/personalities/cova/likes.md
  src/covabot/config/personalities/cova/opinions.md
  src/covabot/config/personalities/cova/profile.yml
  src/covabot/config/personalities/cova/speech.md
  src/covabot/src/handlers/message-handler.ts
  src/covabot/src/models/memory-types.ts
  src/covabot/src/serialization/file-reader.ts
  src/covabot/src/serialization/normalizers.ts
  src/covabot/src/serialization/personality-manager.ts
  src/covabot/src/serialization/personality-mapper.ts
  src/covabot/src/serialization/personality-parser.ts
  src/covabot/src/serialization/personality-schema.ts
  src/covabot/src/services/llm-service.ts
  src/covabot/src/services/response-decision-service.ts
  src/covabot/tests/core/cova-bot.test.ts
  src/covabot/tests/handlers/message-handler.test.ts
  src/covabot/tests/integration/message-flow.test.ts
  src/covabot/tests/serialization/normalizers.test.ts
  src/covabot/tests/serialization/personality-manager.refresh.test.ts
  src/covabot/tests/serialization/personality-manager.test.ts
  src/covabot/tests/serialization/personality-mapper.test.ts
  src/covabot/tests/serialization/personality-parser.test.ts
  src/covabot/tests/serialization/personality-schema.test.ts
  src/covabot/tests/serialization/personality-validator.test.ts
  src/covabot/tests/services/interest-service.test.ts
  src/covabot/tests/services/llm-service.test.ts
  src/e2e/src/tests/covabot/covabot.e2e.test.ts
Due: eslint --fix, prettier --write

fix(e2e): gracefully skip suite when Discord env vars are absent
  src/e2e/src/harness/test-env.ts
  src/e2e/src/setup/global-setup.ts
  src/e2e/vitest.config.ts
Due: eslint --fix, prettier --write

fix(e2e): gracefully skip suite when Discord env vars are absent (#647)
  src/e2e/src/harness/test-env.ts
  src/e2e/src/setup/global-setup.ts
  src/e2e/vitest.config.ts
Due: eslint --fix, prettier --write

chore(release): v1.33.0 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d70ef95db41949e960a41a48a76641b8ffb75cbb
Due: none

fix(cd): configure git identity before creating build tag
  .github/workflows/main.yml
Due: prettier --write

fix(cd): configure git identity before creating build tag (#648)
  .github/workflows/main.yml
Due: prettier --write

chore(release): v1.33.1 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56118a782fe8afdbc35920f8ea89303d3f386b7b
Due: none

chore(infra): remove orphaned infrastructure files (#645)
  infrastructure/docker/docker-compose.github-runner.yml
  infrastructure/docker/docker-compose.old.yml
  infrastructure/monitoring/grafana/bunkbot-dashboard.json
  infrastructure/monitoring/grafana/djcova-dashboard.json
  infrastructure/monitoring/grafana/starbunk-discord-bots-overview.json
  infrastructure/monitoring/prometheus/starbunk-discord-bots.yml
  infrastructure/podman/podman-compose.yml
Due: prettier --write

fix(deploy): add Tailscale connection for LAN server access
  .github/workflows/deploy.yml
Due: prettier --write

Update .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix(deploy): add Tailscale for LAN production server access (#649)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.33.2 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cf4fb7d076471fb63af5e79b46e03f0d2e8e14aa
Due: none

fix(deploy): fix race condition and use production environment secrets
  .github/workflows/deploy.yml
Due: prettier --write

fix(deploy): fix race condition and use production environment secrets (#650)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.33.3 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ad4fe0fd95e286c808d7a66251fea454b69937a
Due: none

fix(deploy): use vars.* for environment variables vs secrets.*
  .github/workflows/deploy.yml
Due: prettier --write

fix(deploy): correct Tailscale action input name oauth-secret
  .github/workflows/deploy.yml
Due: prettier --write

fix(deploy): correct vars.* references and Tailscale input name (#651)
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): v1.33.4 [skip ci]
  VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  edf4e398411731b4c8cd49f7895e3ead2a510a8e
Due: none

fix(deploy): remove postgres host port exposure
  docker-compose.yml
Due: prettier --write

fix(deploy): remove postgres host port exposure (#652)
  docker-compose.yml
Due: prettier --write
