Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

refactor: Update metrics and logger service instantiation for improved clarity and consistency
  apps/bluebot/src/observability/health-server.ts
  apps/bluebot/src/observability/logger.ts
  apps/bluebot/src/observability/metrics-service.ts
  apps/bluebot/tests/metrics-service.test.ts
Due: eslint --fix, prettier --write

refactor: Replace singleton pattern with direct instantiation for BlueBotService
  apps/bluebot/src/index.ts
  apps/bluebot/src/services/bluebot-service.ts
  apps/bluebot/tests/bluebot-service-vibe.test.ts
Due: eslint --fix, prettier --write

refactor: Replace singleton pattern with direct instantiation for BlueBotLLMService
  apps/bluebot/src/index.ts
  apps/bluebot/src/llm/blubot-llm-service.ts
Due: eslint --fix, prettier --write

refactor: Introduce factory function for BlueBotService creation to streamline dependency management
  apps/bluebot/src/index.ts
  apps/bluebot/src/services/bluebot-factory.ts
Due: eslint --fix, prettier --write

feat: Implement enemy user handling and personality differentiation for BlueBot responses
  apps/bluebot/.env.example
  apps/bluebot/src/llm/prompts/blue-vibe-check.ts
  apps/bluebot/src/services/bluebot-service.ts
  apps/bluebot/src/utils/enemy-users.ts
  apps/bluebot/tests/blue-vibe-check-prompt.test.ts
  apps/bluebot/tests/bluebot-service-vibe.test.ts
  apps/bluebot/tests/enemy-users.test.ts
Due: eslint --fix, prettier --write

feat: Add dependency check scripts and update import paths to use aliases
  apps/bluebot/package.json
  apps/bluebot/scripts/check-unused-deps.js
  apps/bluebot/src/blue-bot.ts
  apps/bluebot/src/index.ts
  apps/bluebot/src/observability/health-server.ts
  apps/bluebot/src/strategy/confirm-enemy-strategy.ts
  apps/bluebot/src/strategy/confirm-strategy.ts
  apps/bluebot/src/strategy/default-strategy.ts
  apps/bluebot/src/strategy/nice-enemy-strategy.ts
  apps/bluebot/src/strategy/nice-strategy.ts
  apps/bluebot/src/strategy/strategy-router.ts
  apps/bluebot/src/utils/enemy-users.ts
  apps/bluebot/src/utils/smoke-test.ts
Due: eslint --fix, prettier --write

refactor: Remove unused dependencies from package.json and package-lock.json
  apps/bluebot/package.json
  package-lock.json
Due: prettier --write

Refactor code structure for improved readability and maintainability
  apps/bluebot/Dockerfile
  apps/bluebot/package-lock.json
Due: prettier --write

Checkpoint from VS Code for coding agent session
  apps/bluebot/src/strategy/blue-reply-strategy.ts
Due: eslint --fix, prettier --write

feat: Refactor strategies to improve response handling and add new BlueRequestStrategy
  apps/bluebot/Dockerfile
  apps/bluebot/src/strategy/blue-reply-strategy.ts
  apps/bluebot/src/strategy/blue-request-strategy.ts
  apps/bluebot/src/strategy/confirm-enemy-strategy.ts
  apps/bluebot/src/strategy/confirm-strategy.ts
  apps/bluebot/src/strategy/nice-enemy-strategy.ts
  apps/bluebot/src/strategy/nice-strategy.ts
  apps/bluebot/src/strategy/strategy-router.ts
  apps/bluebot/tests/helpers/mock-message.ts
  apps/bluebot/tests/strategies/blue-reply-strategy.test.ts
  apps/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
  apps/bluebot/tests/strategies/confirm-strategy.test.ts
  apps/bluebot/tests/strategies/nice-enemy-strategy.test.ts
  apps/bluebot/tests/strategies/nice-strategy.test.ts
  package-lock.json
Due: eslint --fix, prettier --write

refactor: Simplify time window checks in BlueReplyStrategy and update related tests
  apps/bluebot/src/strategy/blue-reply-strategy.ts
  apps/bluebot/tests/strategies/blue-reply-strategy.test.ts
Due: eslint --fix, prettier --write

test: Add end-to-end tests for message flow and response handling
  apps/bluebot/tests/e2e/message-flow.test.ts
Due: eslint --fix, prettier --write

Implement 5-minute time window check in BlueReplyStrategy (#439)
  apps/bluebot/Dockerfile
  apps/bluebot/src/strategy/blue-reply-strategy.ts
  apps/bluebot/src/strategy/blue-request-strategy.ts
  apps/bluebot/src/strategy/confirm-enemy-strategy.ts
  apps/bluebot/src/strategy/confirm-strategy.ts
  apps/bluebot/src/strategy/nice-enemy-strategy.ts
  apps/bluebot/src/strategy/nice-strategy.ts
  apps/bluebot/src/strategy/strategy-router.ts
  apps/bluebot/tests/e2e/message-flow.test.ts
  apps/bluebot/tests/helpers/mock-message.ts
  apps/bluebot/tests/strategies/blue-reply-strategy.test.ts
  apps/bluebot/tests/strategies/confirm-enemy-strategy.test.ts
  apps/bluebot/tests/strategies/confirm-strategy.test.ts
  apps/bluebot/tests/strategies/nice-enemy-strategy.test.ts
  apps/bluebot/tests/strategies/nice-strategy.test.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat: Update Dockerfile and docker-compose for BlueBot deployment and configuration
  apps/bluebot/Dockerfile
  apps/bluebot/docker-compose.yml
  docker-compose.yml
Due: prettier --write

feat(bunkbot): implement core bot functionality and command handling
  apps/bunkbot/package.json
  apps/bunkbot/src/bunkbot.ts
  apps/bunkbot/src/commands/command-registry.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/smoke-mode.ts
  apps/bunkbot/src/startup/health-server-init.ts
  docs/DOCKER_BUILD_OPTIMIZATION.md
  docs/DOCKER_ENV_VARS.md
  package-lock.json
Due: eslint --fix, prettier --write

refactor: update TypeScript configuration for Docker and main project
  apps/bunkbot/tsconfig.docker.json
  apps/bunkbot/tsconfig.json
Due: prettier --write

refactor: standardize import paths and add ESLint configuration for Bluebot and Bunkbot
  apps/bluebot/.eslintrc.json
  apps/bunkbot/.eslintrc.json
  apps/bunkbot/src/bunkbot.ts
  apps/bunkbot/src/commands/command-registry.ts
  apps/bunkbot/src/discord/discord-service.ts
  apps/bunkbot/src/index.ts
  apps/bunkbot/src/observability/health-server.ts
  apps/bunkbot/src/reply-bots/bot-registry.test.ts
  apps/bunkbot/src/reply-bots/bot-registry.ts
  apps/bunkbot/src/reply-bots/conditions/condition-resolver.test.ts
  apps/bunkbot/src/reply-bots/conditions/condition-resolver.ts
  apps/bunkbot/src/reply-bots/conditions/conditions.test.ts
  apps/bunkbot/src/reply-bots/identity/get-bot-identity.ts
  apps/bunkbot/src/reply-bots/models/reply-bot.ts
  apps/bunkbot/src/reply-bots/models/standard-reply-bot.ts
  apps/bunkbot/src/serialization/yaml-bot-parser.test.ts
  apps/bunkbot/src/smoke-mode.ts
  apps/bunkbot/src/startup/health-server-init.ts
  packages/shared/src/services/services.ts
Due: eslint --fix, prettier --write

refactor: add excludedFiles to ESLint configuration for Bluebot and Bunkbot
  apps/bluebot/.eslintrc.json
  apps/bunkbot/.eslintrc.json
Due: prettier --write

chore: remove deprecated database initialization and migration files
  infrastructure/database/init-db/01-init.sql
  infrastructure/database/prisma/dev.db
  infrastructure/database/prisma/migrations/20250627185126_init/migration.sql
  infrastructure/database/prisma/migrations/migration_lock.toml
  infrastructure/database/prisma/schema.prisma
  infrastructure/database/prisma/seed.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: clean up package.json by removing unused test scripts and setup commands
  package.json
Due: prettier --write

chore: update dependencies in package-lock.json
  apps/bunkbot/package-lock.json
Due: prettier --write

chore: fix build script for shared package in package.json
  package-lock.json
  package.json
Due: prettier --write

chore: update TypeScript paths in tsconfig and adjust types entry in shared package.json
  apps/djcova/tsconfig.json
  package-lock.json
  packages/shared/package.json
Due: prettier --write

chore: clean up TypeScript configuration by removing deprecated options and updating package overrides
  apps/bluebot/tsconfig.json
  apps/bunkbot/tsconfig.json
  apps/covabot/tsconfig.json
  apps/djcova/tsconfig.json
  package-lock.json
  package.json
  packages/shared/tsconfig.json
Due: prettier --write

fix: remove invalid ignoreDeprecations value and fix shared package types path
  apps/bluebot/tsconfig.json
  apps/bunkbot/tsconfig.json
  apps/covabot/tsconfig.json
  apps/djcova/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
Due: prettier --write

refactor: remove Prisma client and configuration service
  apps/covabot/src/services/personality-notes-service-db.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/services/configuration/configuration-service.ts
  packages/shared/src/services/configuration/index.ts
  packages/shared/src/services/configuration/types.ts
  packages/shared/src/services/database/configuration-registry.ts
  packages/shared/src/services/database/database-service.ts
  packages/shared/src/services/database/index.ts
  packages/shared/src/services/user-service.ts
Due: eslint --fix, prettier --write

chore: remove Prisma client and related generation steps from Dockerfiles
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
Due: none

chore(release): v1.11.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0e07a161c31fddb6f0fb6b8ba0491a6c9cce32fb
Due: none

refactor: update paths from 'apps' to 'src' for consistency across workflows and Dockerfiles
  .github/actions/setup-node-cached/action.yml
  .github/workflows/main-deploy.yml
  .github/workflows/pr-validation.yml
  README.md
  config/tsconfig.json
  docker-compose.yml
  docs/versioning.md
  src/bluebot/Dockerfile
  src/bunkbot/Dockerfile
  src/bunkbot/README.md
  src/bunkbot/docker-compose.dev.yml
  src/covabot/Dockerfile
  src/djcova/Dockerfile
Due: prettier --write

fix: remove -p flag from tsc --build in docker build scripts
  src/bluebot/package.json
  src/bunkbot/package.json
  src/covabot/package.json
  src/djcova/package.json
Due: prettier --write

fix: remove declaration: false from composite tsconfig.docker.json files
  src/bluebot/tsconfig.docker.json
  src/bunkbot/tsconfig.docker.json
Due: prettier --write

fix: correct all tsconfig.docker.json files for composite projects
  src/bunkbot/tsconfig.docker.json
  src/covabot/tsconfig.docker.json
  src/djcova/tsconfig.docker.json
Due: prettier --write

fix: disable composite mode for covabot and djcova docker builds
  src/covabot/tsconfig.docker.json
  src/djcova/tsconfig.docker.json
Due: prettier --write

fix: remove rootDir constraint for covabot and djcova docker builds
  src/covabot/tsconfig.docker.json
  src/djcova/tsconfig.docker.json
Due: prettier --write

fix: build shared package before apps in Docker
  src/covabot/Dockerfile
  src/covabot/tsconfig.docker.json
  src/djcova/Dockerfile
  src/djcova/tsconfig.docker.json
Due: prettier --write
