Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(husky): remove deprecated shim lines; prepare for Husky v10
  .husky/pre-push
Due: none

chore: organize docker files
  .github/path-filters.yml
  .github/workflows/README.md
  .github/workflows/build-metrics.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/publish-bunkbot-on-main.yml
  .github/workflows/publish-covabot-on-main.yml
  .github/workflows/publish-djcova-on-main.yml
  .github/workflows/publish-snowbunk-on-main.yml
  .github/workflows/publish-starbunk-dnd-on-main.yml
  .github/workflows/semantic-versioning.yml
  README.md
  docker/.dockerignore
  docker/docker-compose.dev.yml
  docker/docker-compose.latest.yml
  docker/docker-compose.local.yml
  docker/docker-compose.production.yml
  docker/docker-compose.snapshot.yml
  docker/docker-compose.yml
  docker/podman-compose.latest.yml
  docker/podman-compose.snapshot.yml
  docker/podman-compose.test.yml
  docker/podman-compose.yml
  docker/qdrant-unraid-deployment.yml
  docker/test-docker-compose.sh
  package.json
  scripts/pre-push.sh
Due: prettier --write

Update docker/docker-compose.dev.yml
  docker/docker-compose.dev.yml
Due: prettier --write

chore: organize docker files
  .github/workflows/README.md
  docker/docker-compose.dev.yml
  docker/test-docker-compose.sh
Due: prettier --write

ci(github-actions): add workflows for GHCR publish and PR snapshots
  .husky/pre-push
Due: none

chore: remove extraneous docs and scripts (#292)
  .github/workflows/README.md
  docker/test-docker-compose.sh
  scripts/pre-push.sh
Due: prettier --write

ci(actions): add path-filtered container CI
  .github/workflows/ci-path-filtered.yml
Due: prettier --write

ci(actions): fix TS path mappings to shared and build context for Dockerfiles; unblock path-filtered CI
  .github/workflows/ci-path-filtered.yml
  containers/bunkbot/tsconfig.json
  containers/covabot/tsconfig.json
  containers/djcova/tsconfig.json
  containers/starbunk-dnd/tsconfig.json
Due: prettier --write

ci(actions): build shared before container type-check to satisfy TS project references
  .github/workflows/ci-path-filtered.yml
Due: prettier --write

ci(actions): extend path-based filtering across workflows; disable Husky in CI via HUSKY=0; fix startup-validation shared path; simplify reusable docker build
  .github/workflows/ci-path-filtered.yml
  .github/workflows/container-build-test-publish.yml
  .github/workflows/container-startup-validation.yml
  .github/workflows/containers-ci.yml
  .github/workflows/docker-build-reusable.yml
  .github/workflows/security.yml
Due: prettier --write

husky: enforce local quality gates (pre-push runs check:ci; pre-commit lint-staged); docs(readme): add Local Quality Gates section
  .husky/pre-commit
  .husky/pre-push
  README.md
Due: prettier --write

feat: implement comprehensive observability stack with Grafana integration
   && (cd  && npm ci) done printf 'STEP: run check:ci\n' npm run check:ci
  .env.example
  containers/bunkbot/src/core/MessageProcessor.ts
  containers/bunkbot/src/index.ts
  containers/covabot/src/cova-bot/covaBot.ts
  containers/covabot/src/index.ts
  containers/djcova/src/djCova.ts
  containers/djcova/src/index.ts
  containers/shared/package-lock.json
  containers/shared/package.json
  containers/shared/src/index.ts
  containers/shared/src/services/observability/BunkBotMetrics.ts
  containers/shared/src/services/observability/ContainerMetrics.ts
  containers/shared/src/services/observability/CovaBotMetrics.ts
  containers/shared/src/services/observability/DJCovaMetrics.ts
  containers/shared/src/services/observability/HttpEndpointsService.ts
  containers/shared/src/services/observability/MetricsService.ts
  containers/shared/src/services/observability/ProductionMetricsService.ts
  containers/shared/src/services/observability/StarbunkDNDMetrics.ts
  containers/shared/src/services/observability/__tests__/metrics-integration.test.ts
  containers/shared/src/services/observability/index.ts
  containers/shared/src/utils/envValidation.ts
  containers/starbunk-dnd/src/index.ts
  docker-compose.observability.yml
  docker-compose.yml
  grafana-dashboards/README.md
  grafana-dashboards/bunkbot-metrics.json
  grafana-dashboards/covabot-metrics.json
  grafana-dashboards/djcova-metrics.json
  grafana-dashboards/starbunk-dnd-metrics.json
  grafana-dashboards/system-overview.json
  monitoring/alertmanager.yml
  monitoring/grafana-datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in container metrics interfaces
  containers/covabot/src/index.ts
  containers/djcova/src/index.ts
  containers/shared/src/services/observability/ContainerMetrics.ts
  containers/starbunk-dnd/src/index.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive observability stack with Grafana integration (#294)
  containers/covabot/src/index.ts
  containers/djcova/src/index.ts
  containers/shared/src/services/observability/ContainerMetrics.ts
  containers/starbunk-dnd/src/index.ts
Due: eslint --fix, prettier --write

Remove unnecessary output from npm ci command
   && (cd  && npm ci) done printf 'STEP: run check:ci\n' npm run check:ci
  && (cd  && npm ci)  done  printf 'STEP: run check:ci\n'  npm run check:ci
Due: none

Delete && (cd && npm ci) done printf 'STEP: run check:ci\n' npm run check:ci
  && (cd  && npm ci)  done  printf 'STEP: run check:ci\n'  npm run check:ci
Due: none

feat: deploy unified PR validation workflow to replace scattered workflows
  .github/ghcr-cleanup-config.yml
  .github/workflows/pr-validation.yml
  containers/bunkbot/Dockerfile.optimized
Due: prettier --write

feat: deploy unified main branch deployment workflow
  .github/path-filters-optimized.yml
  .github/workflows/publish-bunkbot-on-main.yml.disabled
  .github/workflows/publish-covabot-on-main.yml.disabled
  .github/workflows/publish-djcova-on-main.yml.disabled
  .github/workflows/publish-main.yml
  .github/workflows/publish-snowbunk-on-main.yml.disabled
  .github/workflows/publish-starbunk-dnd-on-main.yml.disabled
Due: prettier --write

feat: comprehensive CI/CD pipeline overhaul with intelligent automation
  .github/actions/setup-node-cached/action.yml
  .github/path-filters.yml
  .github/scripts/ghcr-cleanup-utils.js
  .github/scripts/validate-workflows.sh
  .github/workflows/build-metrics.yml
  .github/workflows/cleanup-old-images.yml.disabled
  .github/workflows/container-build-test-publish.yml.disabled
  .github/workflows/container-registry-cleanup.yml.disabled
  .github/workflows/containers-ci.yml.disabled
  .github/workflows/ghcr-lifecycle-management.yml
  .github/workflows/ghcr-monitoring.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/semantic-versioning.yml
  check_consistency.sh
  check_yaml.py
  scripts/pre-push.sh
  security_review.sh
  test_path_filters.sh
  validate_yaml.py
Due: prettier --write

fix: resolve publishing failures and add manual snapshot workflow
  .github/ghcr-cleanup-config.yml
  .github/path-filters-optimized.yml
  .github/path-filters.yml
  .github/scripts/validate-ghcr-cleanup.js
  .github/workflows/automated-label-management.yml
  .github/workflows/build-metrics.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/cleanup-old-images.yml.disabled
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-build-test-publish.yml.disabled
  .github/workflows/container-dependency-analysis.yml
  .github/workflows/container-registry-cleanup.yml.disabled
  .github/workflows/container-startup-validation.yml
  .github/workflows/containers-ci.yml.disabled
  .github/workflows/docker-build-reusable.yml
  .github/workflows/ghcr-lifecycle-management.yml
  .github/workflows/ghcr-monitoring.yml
  .github/workflows/manual-docker-build.yml
  .github/workflows/manual-snapshot-publisher.yml
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-validation.yml
  .github/workflows/publish-bunkbot-on-main.yml.disabled
  .github/workflows/publish-covabot-on-main.yml.disabled
  .github/workflows/publish-djcova-on-main.yml.disabled
  .github/workflows/publish-snowbunk-on-main.yml.disabled
  .github/workflows/publish-starbunk-dnd-on-main.yml.disabled
  .github/workflows/selective-pr-validation.yml
  .github/workflows/semantic-versioning.yml
  .github/workflows/unified-container-ci.yml
  containers/snowbunk/.dockerignore
  containers/snowbunk/Dockerfile
  workflow-test-simple.js
Due: prettier --write

fix: add explicit status check creation for required branch protection checks
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: resolve pre-push hook container parsing and linting issues
  scripts/pre-push.sh
Due: none

fix: resolve multiple workflow validation failures
  .github/workflows/path-filter-validation.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: add statuses write permission for commit status creation
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: use correct commit SHA for PR status check creation
  .github/workflows/pr-validation.yml
Due: prettier --write

debug: add SHA logging to troubleshoot status check creation
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: use PR head commit SHA for status check creation
  .github/workflows/pr-validation.yml
Due: prettier --write

fix: resolve workflow failures and code quality issues
  .github/workflows/selective-pr-validation.yml
  .github/workflows/unified-container-ci.yml
  containers/bunkbot/src/index.ts
  containers/starbunk-dnd/src/index-minimal.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation and ESLint errors in BunkBot and Starbunk-DND
  containers/bunkbot/src/index.ts
  containers/starbunk-dnd/src/index-minimal.ts
Due: eslint --fix, prettier --write

fix: resolve critical TypeScript any types in minimal bootstrap files
  containers/bunkbot/src/index-minimal.ts
  containers/djcova/src/index-minimal.ts
  containers/shared/src/index-minimal.ts
Due: eslint --fix, prettier --write

fix: resolve final ESLint errors in BunkBot reply bots
  containers/bunkbot/src/reply-bots/baby-bot/index.ts
  containers/bunkbot/src/reply-bots/homonym-bot/triggers.ts
Due: eslint --fix, prettier --write

fix: resolve Discord.js namespace conflict in DJCova typings
  containers/djcova/src/typings.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
