Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

linter
  src/discord/services/botRegistry.ts
  src/discord/services/fileLoader.ts
  src/discord/services/serviceContainer.ts
Due: eslint --fix, prettier --write

refactor: migrate reply bots to new base class
  src/discord/bots/replyBot.ts
  src/discord/bots/types.ts
  src/discord/services/voiceStateManager.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/botBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/soggyBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/replyBot.ts
  src/starbunk/bots/voiceBot.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

refactor: migrate to new bot architecture
  src/discord/bots/voiceBot.ts
  src/discord/services/fileLoader.ts
  src/discord/services/serviceContainer.ts
  src/discord/services/voiceStateManager.ts
  src/starbunk/bots/reply-bots/botBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
Due: eslint --fix, prettier --write

refactor: migrate to new bot architecture
  src/discord/bots/baseBot.ts
  src/discord/bots/replyBot.ts
  src/discord/bots/types.ts
  src/discord/services/botRegistry.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/soggyBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/voiceBot.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

chore: configure eslint and prettier with consistent formatting rules
  .eslintrc.js
  .gitignore
  .prettierrc.js
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

chore: configure eslint and prettier with consistent formatting rules (#104)
  .eslintrc.js
  .gitignore
  .prettierrc.js
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

feat: Add comprehensive logging system
  .eslintrc.json
  package.json
  src/config.ts
  src/services/Logger.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/voice-bots/GuyChannelBot.ts
  src/starbunk/commands/play.ts
  src/starbunk/dJCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

feat: Add comprehensive logging system (#105)
  .eslintrc.json
  package.json
  src/config.ts
  src/services/Logger.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/voice-bots/GuyChannelBot.ts
  src/starbunk/commands/play.ts
  src/starbunk/dJCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

refactor: make logger injectable and improve types
  package-lock.json
  package.json
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/voice-bots/GuyChannelBot.ts
  src/starbunk/commands/play.ts
  src/starbunk/dJCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

refactor: make logger injectable and improve types (#106)
  package-lock.json
  package.json
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/voice-bots/GuyChannelBot.ts
  src/starbunk/commands/play.ts
  src/starbunk/dJCova.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

updated eslint and jest
  .eslintrc.js
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

created mocks
  src/discord/services/audioService.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/test/mocks/discordMocks.ts
  src/test/mocks/serviceMocks.ts
Due: eslint --fix, prettier --write

tested babybot
  src/starbunk/bots/reply-bots/__tests__/babyBot.test.ts
Due: eslint --fix, prettier --write

improved di on bots
  settings.json
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/botBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/soggyBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/replyBot.ts
  tsconfig.json
Due: eslint --fix, prettier --write

started tests
  .eslintrc.js
  src/starbunk/bots/reply-bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/reply-bots/__tests__/holdBot.test.ts
  src/starbunk/bots/reply-bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/reply-bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/reply-bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/test/mocks/discordMocks.ts
Due: eslint --fix, prettier --write

refactor(blueBot): improve test readability and type safety
  src/starbunk/bots/reply-bots/__tests__/blueBot.test.ts
  src/starbunk/bots/reply-bots/blueBot.ts
Due: eslint --fix, prettier --write

docs(gundamBot): add test file comments
  src/starbunk/bots/reply-bots/__tests__/gundamBot.test.ts
Due: eslint --fix, prettier --write

docs(botBot): improve test documentation
  src/starbunk/bots/reply-bots/__tests__/botBot.test.ts
Due: eslint --fix, prettier --write

docs(checkBot): improve implementation documentation
  src/starbunk/bots/reply-bots/checkBot.ts
Due: eslint --fix, prettier --write

docs(vennBot): improve test and implementation documentation
  src/starbunk/bots/reply-bots/__tests__/vennBot.test.ts
  src/starbunk/bots/reply-bots/vennBot.ts
Due: eslint --fix, prettier --write

docs(chaosBot): improve test and implementation documentation
  src/starbunk/bots/reply-bots/__tests__/chaosBot.test.ts
Due: eslint --fix, prettier --write

test(CheckBot): Add comprehensive test suite
  src/starbunk/bots/reply-bots/__tests__/checkBot.test.ts
Due: eslint --fix, prettier --write

test(EzioBot): Add test suite for Assassin's Creed responses
  src/starbunk/bots/reply-bots/__tests__/ezioBot.test.ts
Due: eslint --fix, prettier --write

test(GuyBot): Add test suite for Guy Fieri responses
  src/starbunk/bots/reply-bots/__tests__/guyBot.test.ts
Due: eslint --fix, prettier --write

test(NiceBot): Add test suite for 'nice' number responses
  src/starbunk/bots/reply-bots/__tests__/niceBot.test.ts
Due: eslint --fix, prettier --write

test(PickleBot): Add test suite for gremlin responses
  src/starbunk/bots/reply-bots/__tests__/pickleBot.test.ts
Due: eslint --fix, prettier --write

test(SoggyBot): Add test suite for wet bread role responses
  src/starbunk/bots/reply-bots/__tests__/soggyBot.test.ts
Due: eslint --fix, prettier --write

test(SpiderBot): Add test suite for Spider-Man hyphen corrections
  src/starbunk/bots/reply-bots/__tests__/spiderBot.test.ts
Due: eslint --fix, prettier --write

test(SheeshBot): Add test suite for sheesh variations
  src/starbunk/bots/reply-bots/__tests__/sheeshBot.test.ts
Due: eslint --fix, prettier --write

feat: improve Docker and CI/CD setup
  .dockerignore
  .github/workflows/pr-checks.yml
  .github/workflows/pr-merge.yml
  Dockerfile
  Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

pr checks
  .github/workflows/pr-checks.yml
  .github/workflows/pr-cleanup.yml
Due: prettier --write

merge
  .github/workflows/pr-merge.yml
Due: prettier --write

deplotments
  .github/workflows/ci.yml
  .github/workflows/create-snapshot.yml
  .github/workflows/deploy.yml
Due: prettier --write

update 1
  .github/workflows/ci.yml
Due: prettier --write

npm
  .github/workflows/ci.yml
  Dockerfile
Due: prettier --write

npm
  Dockerfile
Due: none

yarn b gone
  .github/workflows/pr-checks.yml
  Dockerfile.dev
  docker-compose.dev.yml
  package.json
Due: prettier --write
