Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

fix: exclude problematic TypeScript files from DJCova validation
  containers/djcova/tsconfig.json
Due: prettier --write

fix: resolve Docker build failures by correcting TypeScript paths
  containers/bunkbot/tsconfig.json
  containers/covabot/tsconfig.json
  containers/djcova/tsconfig.json
  containers/shared/package.json
  containers/shared/src/services/llm/providers/ollamaProvider.ts
  containers/shared/src/services/observability/BunkBotMetrics.ts
  containers/starbunk-dnd/tsconfig.json
Due: eslint --fix, prettier --write

fix: correct tsconfig.docker.json paths for Docker build context
  containers/bunkbot/tsconfig.docker.json
  containers/covabot/tsconfig.docker.json
  containers/djcova/tsconfig.docker.json
  containers/starbunk-dnd/tsconfig.docker.json
Due: prettier --write

fix: resolve Build & Publish pipeline failures across all containers
  .github/workflows/pr-validation.yml
  containers/bunkbot/Dockerfile
Due: prettier --write

fix: resolve critical test suite skipping by removing label requirement
  .github/path-filters-optimized.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-startup-validation.yml
Due: prettier --write

fix: resolve npm audit security vulnerabilities
  package-lock.json
Due: prettier --write

fix: resolve BunkBot build failures and TypeScript errors
  containers/bunkbot/Dockerfile
  containers/bunkbot/tests/jest-env-setup.js
  containers/bunkbot/tests/jest-test-environment.js
  containers/shared/package.json
  containers/shared/src/index.ts
  containers/shared/src/services/observability/BunkBotMetrics.ts
  containers/shared/src/services/observability/ChannelActivityTracker.ts
  containers/shared/src/services/observability/ContainerMetrics.ts
  containers/shared/src/services/observability/CovaBotMetrics.ts
  containers/shared/src/services/observability/DJCovaMetrics.ts
  containers/shared/src/services/observability/HttpEndpointsService.ts
  containers/shared/src/services/observability/MetricsService.ts
  containers/shared/src/services/observability/ProductionMetricsService.ts
  containers/shared/src/services/observability/StarbunkDNDMetrics.ts
  containers/shared/src/services/observability/StructuredLogger.ts
  containers/shared/src/services/observability/__tests__/metrics-integration.test.ts
  containers/shared/src/services/observability/index.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript syntax errors in observability metrics
  containers/shared/src/services/observability/CovaBotMetrics.ts
Due: eslint --fix, prettier --write

fix: resolve ESLint unused variable warnings in observability services
  containers/shared/src/services/observability/DJCovaMetrics.ts
  containers/shared/src/services/observability/ProductionMetricsService.ts
  containers/shared/src/services/observability/StarbunkDNDMetrics.ts
Due: eslint --fix, prettier --write

fix: update pre-push script for new directory structure
  scripts/pre-push.sh
Due: none

fix: update Jest moduleNameMapper for packages/shared path
  apps/bunkbot/jest.config.js
  apps/covabot/jest.config.js
  apps/djcova/jest.config.js
  apps/starbunk-dnd/jest.config.js
Due: none

fix: resolve YAML syntax error in build-metrics workflow
  .github/workflows/build-metrics.yml
Due: prettier --write

fix: correct GitHub Actions expression syntax in build-metrics workflow
  .github/workflows/build-metrics.yml
Due: prettier --write

fix: resolve GitHub Actions workflow issues after repository reorganization
  .github/workflows/docker-build-reusable.yml
  .github/workflows/manual-snapshot-publisher.yml
Due: prettier --write

fix: resolve workflow secret passing issues between reusable workflows
  .github/workflows/docker-build-reusable.yml
Due: prettier --write

fix: prevent reusable workflows from running on push events
  .github/workflows/docker-build-reusable.yml
  .github/workflows/manual-snapshot-publisher.yml
Due: prettier --write

fix: remove input references from workflow parsing contexts
  .github/workflows/docker-build-reusable.yml
Due: prettier --write

fix: add fallback values for all workflow inputs to prevent parsing errors
  .github/workflows/docker-build-reusable.yml
Due: prettier --write

fix: temporarily disable problematic reusable workflows causing CI failures
  .github/workflows/docker-build-reusable.yml.disabled
  .github/workflows/manual-snapshot-publisher.yml.disabled
Due: none

fix: correct Jest moduleNameMapper path for covabot tests
  apps/covabot/jest.config.js
Due: none

fix: update all Dockerfiles to use new apps/packages directory structure
  apps/bunkbot/Dockerfile
  apps/bunkbot/Dockerfile.optimized
  apps/bunkbot/Dockerfile.podman
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
Due: none

fix: regenerate package-lock.json files for new directory structure
  apps/bunkbot/package-lock.json
  apps/covabot/package-lock.json
  apps/djcova/package-lock.json
  apps/starbunk-dnd/package-lock.json
  packages/shared/package-lock.json
Due: prettier --write

fix: include package-lock.json files in Docker COPY commands
  apps/bunkbot/Dockerfile
  apps/bunkbot/Dockerfile.optimized
  apps/bunkbot/Dockerfile.podman
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
Due: none

fix: use explicit package file names in Docker COPY commands
  apps/bunkbot/Dockerfile
  apps/bunkbot/Dockerfile.optimized
  apps/bunkbot/Dockerfile.podman
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
Due: none

debug: add ls commands to see Docker build context
  apps/djcova/Dockerfile
Due: none

debug: add more verbose logging to Docker build
  apps/djcova/Dockerfile
Due: none

fix: resolve Security Analysis and Docker build failures
  .github/workflows/code-quality-gates.yml
  apps/djcova/Dockerfile
Due: prettier --write

fix: resolve remaining test failures and Docker build issues
  apps/bunkbot/Dockerfile
  apps/bunkbot/Dockerfile.optimized
  apps/bunkbot/Dockerfile.podman
  apps/covabot/Dockerfile
  apps/covabot/src/web/__tests__/chat-comprehensive.test.ts
  apps/starbunk-dnd/Dockerfile
Due: eslint --fix, prettier --write

fix: resolve Docker build failures after repository reorganization
  apps/bunkbot/Dockerfile
  apps/bunkbot/package-lock.json
  apps/covabot/Dockerfile
  apps/covabot/package-lock.json
  apps/djcova/Dockerfile
  apps/djcova/package-lock.json
  apps/starbunk-dnd/Dockerfile
  apps/starbunk-dnd/package-lock.json
Due: prettier --write

fix: resolve final Docker build failures in Alpine containers
  apps/bunkbot/Dockerfile
  apps/covabot/Dockerfile
  apps/djcova/Dockerfile
  apps/starbunk-dnd/Dockerfile
Due: none

fix: remove emoji from GitHub status check contexts
  .github/workflows/pr-validation.yml
Due: prettier --write

fix(djcova): resolve command registration issues preventing /play from appearing
  apps/djcova/src/commands/play.ts
  apps/djcova/src/commands/setVolume.ts
  apps/djcova/src/commands/status.ts
  apps/djcova/src/commands/stop.ts
  apps/djcova/tsconfig.json
Due: eslint --fix, prettier --write

fix(djcova): resolve command registration issues preventing /play from appearing (#298)
  apps/djcova/src/commands/play.ts
  apps/djcova/src/commands/setVolume.ts
  apps/djcova/src/commands/status.ts
  apps/djcova/src/commands/stop.ts
  apps/djcova/tsconfig.json
Due: eslint --fix, prettier --write

refactor: reorganize configuration files to config/ directory
  .coderabbit.yml
  .dockerignore
  .editorconfig
  .eslintignore
  .eslintrc.json
  .prettierrc
  .prettierrc.json
  config/editor/.editorconfig
  config/env/.env.development
  config/env/.env.example
  config/env/.env.unraid.example
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/testing/jest.config.js
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  jest.config.js
Due: prettier --write

refactor: move infrastructure files to infrastructure/ directory
  docker-compose.yml
  infrastructure/deployments/qdrant-unraid-deployment.yml
  infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.latest.yml
  infrastructure/docker/docker-compose.local.yml
  infrastructure/docker/docker-compose.observability.yml
  infrastructure/docker/docker-compose.production.yml
  infrastructure/docker/docker-compose.snapshot.yml
  infrastructure/docker/docker-compose.yml
  infrastructure/podman/podman-compose.latest.yml
  infrastructure/podman/podman-compose.snapshot.yml
  infrastructure/podman/podman-compose.test.yml
  infrastructure/podman/podman-compose.yml
  package.json
Due: prettier --write

refactor: consolidate scripts and utilities into organized structure
  .github/scripts/validate-workflows.sh
  check_consistency.sh
  scripts/pre-push.sh
  security_review.sh
  test_path_filters.sh
  utils/testing/ghcr-cleanup-utils.js
  utils/testing/validate-ghcr-cleanup.js
  utils/testing/workflow-test-simple.js
  utils/yaml/check_yaml.py
  utils/yaml/validate_yaml.py
Due: none

feat: complete repository reorganization to modern Node.js standards
  .github/workflows/structure-validation.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  package.json
  tools/scripts/monitoring/structure-health-check.sh
  tools/scripts/validation/check-documentation-structure.sh
  tools/scripts/validation/check-naming-conventions.sh
  tools/scripts/validation/check-root-directory.sh
  tools/scripts/validation/check-temporary-files.sh
  tools/scripts/validation/run-all-validations.sh
Due: prettier --write
