Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

chore: remove infrastructure/monitoring and update configs
  config/VERSION
  config/env/.env.example
  docker-compose.yml
  docs/CHANGELOG.md
  infrastructure/docker/docker-compose.yml
Due: prettier --write

Fix/what is this (#479)
  config/VERSION
  docker-compose.yml
  docs/CHANGELOG.md
  infrastructure/docker/docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/tempo-config.yml
  package.json
Due: prettier --write

Something new (#478)
  infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/grafana-dashboards/README.md
  infrastructure/monitoring/grafana-dashboards/bunkbot-metrics.json
  infrastructure/monitoring/grafana-dashboards/covabot-metrics.json
  infrastructure/monitoring/grafana-dashboards/dashboards.yml
  infrastructure/monitoring/grafana-dashboards/djcova-metrics.json
  infrastructure/monitoring/grafana-dashboards/json/bunkbot-performance.json
  infrastructure/monitoring/grafana-dashboards/json/covabot-ai.json
  infrastructure/monitoring/grafana-dashboards/json/djcova-music.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-dnd.json
  infrastructure/monitoring/grafana-dashboards/json/starbunk-overview.json
  infrastructure/monitoring/grafana-dashboards/json/unified-collector.json
  infrastructure/monitoring/grafana-dashboards/starbunk-dnd-metrics.json
  infrastructure/monitoring/grafana-dashboards/system-overview.json
  infrastructure/monitoring/grafana-datasources.yml
  infrastructure/monitoring/loki-config.yml
  infrastructure/podman/podman-compose.yml
Due: prettier --write

fix: ensure logs reach OTEL collector and flush on shutdown
  docker-compose.yml
  src/bluebot/src/index.ts
  src/bunkbot/src/bunk-bot.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
  src/shared/src/observability/logs-service.ts
  src/shared/src/observability/pino-otlp-transport.ts
  src/shared/src/observability/shutdown.ts
Due: eslint --fix, prettier --write

fix: use correct LoggerProvider API for adding processors
  src/shared/src/observability/logs-service.ts
Due: eslint --fix, prettier --write

fix: address PR review comments
  src/bluebot/src/index.ts
  src/bunkbot/src/bunk-bot.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
  src/shared/src/observability/pino-otlp-transport.ts
  src/shared/src/observability/shutdown.ts
Due: eslint --fix, prettier --write

Delete docs/DOCKER_COMPOSE_AUDIT.md
  docs/DOCKER_COMPOSE_AUDIT.md
Due: prettier --write

[WIP] Clarify necessity of build field in BunkBot service (#481)
  .gitignore
  docker-compose.yml
Due: prettier --write

fix: ensure logs reach OTEL collector and flush on shutdown (#480)
  docker-compose.yml
  src/bluebot/src/index.ts
  src/bunkbot/src/bunk-bot.ts
  src/covabot/src/index.ts
  src/djcova/src/index.ts
  src/shared/src/observability/logs-service.ts
  src/shared/src/observability/pino-otlp-transport.ts
  src/shared/src/observability/shutdown.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e848fa7ffe2d852bb7f9e3f806b4dbebc921bce9
Due: none

chore(release): v1.21.1 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Remove env_file from services in docker-compose
  docker-compose.yml
Due: prettier --write

Remove env_file from services in docker-compose (#482)
  docker-compose.yml
Due: prettier --write

feat: organize and expand docker-compose environment variables
  docker-compose.yml
Due: prettier --write

feat: Organize and expand docker-compose environment variables (#483)
  docker-compose.yml
Due: prettier --write

chore(release): v1.22.0 [skip ci]
  config/VERSION
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4fb1a5d804614a631becc099a4f1672f36748f4
Due: none

chore: update OTLP collector ports for external access
  docker-compose.yml
Due: prettier --write

chore: update OTLP collector ports for external access (#484)
  docker-compose.yml
Due: prettier --write

chore: update volume paths for OTLP collector and Prometheus in docker-compose
  docker-compose.yml
Due: prettier --write

Chore/update compose again (#485)
  docker-compose.yml
Due: prettier --write

chore: update volume paths in docker-compose for consistency and clarity
  docker-compose.yml
Due: prettier --write

chore: update volume paths in docker-compose to use HOST_WORKDIR for consistency
  docker-compose.yml
Due: prettier --write

Chore/update compose again 2 (#486)
  docker-compose.yml
Due: prettier --write

chore: update volume paths for covabot and bluebot in docker-compose for consistency
  docker-compose.yml
Due: prettier --write

Fix/i forgor (#487)
  docker-compose.yml
Due: prettier --write

chore: update OpenTelemetry configuration and environment variables for improved observability stack integration
  .env.observability.example
  docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/tempo-config.yml
Due: prettier --write

chore: add database services configuration for PostgreSQL, Redis, and Qdrant in docker-compose
  .env.observability.example
  docker-compose.yml
Due: prettier --write

chore: update OpenTelemetry configuration for internal access and adjust container names in docker-compose
  .env.observability.example
  docker-compose.yml
Due: prettier --write

chore: update container names and add database services configuration in environment files
  .env.observability.example
  config/env/.env.example
Due: none

chore: add minimal environment configuration and docker-compose setup for Starbunk bot stack
  .env.minimal
  docker-compose.minimal.yml
Due: prettier --write

Update .env.observability.example
  .env.observability.example
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: prettier --write

chore: consolidate observability configuration by replacing individual service hosts with a single OBSERVABILITY_HOST variable
  .env.minimal
  .env.observability.example
  config/env/.env.example
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
Due: prettier --write

Chore/update compose again 2 (#488)
  .env.minimal
  .env.observability.example
  config/env/.env.example
  docker-compose.minimal.yml
  docker-compose.yml
  infrastructure/monitoring/otel-collector-config.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/tempo-config.yml
Due: prettier --write

chore: consolidate nested config folders into cleaner structure
  .coderabbit.yml
  .dockerignore
  .eslintignore
  .eslintrc.json
  .prettierrc
  .prettierrc.json
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/release.config.cjs
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  config/tsconfig.json
  infrastructure/docker/docker-compose.github-runner.yml
  infrastructure/monitoring/grafana/bunkbot-dashboard.json
  infrastructure/monitoring/grafana/djcova-dashboard.json
  infrastructure/monitoring/grafana/starbunk-discord-bots-overview.json
  infrastructure/monitoring/prometheus/starbunk-discord-bots.yml
Due: prettier --write

chore: consolidate nested config folders into cleaner structure (#489)
  .coderabbit.yml
  .dockerignore
  .eslintignore
  .eslintrc.json
  .prettierrc
  .prettierrc.json
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/release.config.cjs
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  config/tsconfig.json
  infrastructure/docker/docker-compose.github-runner.yml
  infrastructure/monitoring/grafana/bunkbot-dashboard.json
  infrastructure/monitoring/grafana/djcova-dashboard.json
  infrastructure/monitoring/grafana/starbunk-discord-bots-overview.json
  infrastructure/monitoring/prometheus/starbunk-discord-bots.yml
Due: prettier --write

Revert "chore: consolidate nested config folders into cleaner structure (#489)"
  .coderabbit.yml
  .dockerignore
  .eslintignore
  .eslintrc.json
  .prettierrc
  .prettierrc.json
  config/docker/docker-compose.github-runner.yml
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/grafana/bunkbot-dashboard.json
  config/grafana/djcova-dashboard.json
  config/grafana/starbunk-discord-bots-overview.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/prometheus/starbunk-discord-bots.yml
  config/release.config.cjs
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  config/tsconfig.json
Due: prettier --write

Revert "chore: consolidate nested config folders into cleaner structure" (#490)
  .coderabbit.yml
  .dockerignore
  .eslintignore
  .eslintrc.json
  .prettierrc
  .prettierrc.json
  config/docker/docker-compose.github-runner.yml
  config/eslint/.eslintignore
  config/eslint/.eslintrc.json
  config/grafana/bunkbot-dashboard.json
  config/grafana/djcova-dashboard.json
  config/grafana/starbunk-discord-bots-overview.json
  config/prettier/.prettierrc
  config/prettier/.prettierrc.json
  config/prometheus/starbunk-discord-bots.yml
  config/release.config.cjs
  config/tools/.coderabbit.yml
  config/tools/.dockerignore
  config/tsconfig.json
Due: prettier --write
