Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,yml,yaml,md}": ["prettier --write"]
}

Update containers/shared/src/environment.ts
  containers/shared/src/environment.ts
Due: eslint --fix, prettier --write

Update containers/bunkbot/src/config/validation.ts
  containers/bunkbot/src/config/validation.ts
Due: eslint --fix, prettier --write

feat: add new GuyBot responses
  containers/bunkbot/src/reply-bots/guy-bot/constants.ts
Due: eslint --fix, prettier --write

feat(djcova): add attachment support to play command
  containers/djcova/src/commands/__tests__/play.test.ts
  containers/djcova/src/commands/play.ts
  containers/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

Update containers/djcova/src/commands/play.ts
  containers/djcova/src/commands/play.ts
Due: eslint --fix, prettier --write

chore(djcova): use node test runner
  containers/djcova/package.json
  containers/djcova/src/commands/__tests__/play.test.ts
  containers/djcova/src/commands/play.ts
  containers/djcova/src/djCova.ts
  containers/djcova/src/typings.d.ts
  containers/djcova/tsconfig.json
Due: eslint --fix, prettier --write

feat(djcova): add attachment support to play command (#285)
  containers/djcova/package.json
  containers/djcova/src/commands/__tests__/play.test.ts
  containers/djcova/src/commands/play.ts
  containers/djcova/src/djCova.ts
  containers/djcova/src/typings.d.ts
  containers/djcova/tsconfig.json
Due: eslint --fix, prettier --write

feat(djcova): support direct audio URLs
  containers/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

Update containers/djcova/src/djCova.ts
  containers/djcova/src/djCova.ts
Due: eslint --fix, prettier --write

feat(djcova): enhance audio resource handling in start method
  .vscode/settings.json
  containers/bunkbot/tsconfig.json
  containers/covabot/package-lock.json
  containers/djcova/package-lock.json
  containers/djcova/src/commands/play.ts
  containers/djcova/src/commands/setVolume.ts
  containers/djcova/src/commands/status.ts
  containers/djcova/src/commands/stop.ts
  containers/djcova/src/djCova.ts
  containers/djcova/src/typings.d.ts
  containers/djcova/tsconfig.json
  containers/shared/tsconfig.json
  containers/starbunk-dnd/package-lock.json
  package-lock.json
Due: eslint --fix, prettier --write

fix: upgrade tsx from 4.20.3 to 4.20.4
  package-lock.json
  package.json
Due: prettier --write

Apply suggestion from @Copilot
  containers/bunkbot/src/reply-bots/guy-bot/constants.ts
Due: eslint --fix, prettier --write

feat(covabot): implement Ollama LLM integration
  containers/bunkbot/tsconfig.json
  containers/covabot/package-lock.json
  containers/covabot/src/cova-bot/constants.ts
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/index.ts
  containers/covabot/src/services/llmService.ts
  containers/covabot/tsconfig.json
  containers/djcova/package-lock.json
  containers/djcova/tsconfig.json
  containers/starbunk-dnd/package-lock.json
  containers/starbunk-dnd/tsconfig.json
  package-lock.json
  packages/shared/tsconfig.json
Due: eslint --fix, prettier --write

fix(covabot): add type assertion for Ollama API response
  containers/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

feat(covabot): implement pure LLM-driven responses with no fallbacks
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/services/llmService.ts
Due: eslint --fix, prettier --write

ci(containers): Phase 1 path-filtered CI per container (Node 18); enable covabot tests+build; bunkbot tests-only
  .github/workflows/containers-ci.yml
  containers/covabot/package.json
  containers/covabot/src/cova-bot/llm-triggers.ts
  containers/covabot/src/cova-bot/simplifiedLlmTriggers.ts
  containers/covabot/src/services/llmService.ts
  containers/covabot/src/services/qdrantService.ts
  containers/shared/src/environment.ts
Due: eslint --fix, prettier --write

ci(workflow): build shared before covabot/bunkbot tests to fix CI module resolution failures
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(workflows): add path-based triggers
  .github/workflows/build-metrics.yml
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(workflows): gate reusable docker workflow behind path filter and workflow_call; prevent unrelated failures
  .github/workflows/docker-build-reusable.yml
Due: prettier --write

ci(containers-ci): add DJCova job; make container jobs always present with step-level path gating for required checks
  .github/workflows/containers-ci.yml
Due: prettier --write

chore: squash TS+CI fixes across containers
  .github/path-filters.yml
  .github/workflows/code-quality-gates.yml
  .github/workflows/container-startup-validation.yml
  .husky/pre-commit
  containers/bunkbot/src/botRegistry-refactored.ts
  containers/bunkbot/src/commandHandler.ts
  containers/bunkbot/src/commands/botCommandHandler.ts
  containers/bunkbot/src/core/BotDiscovery.ts
  containers/bunkbot/src/core/InteractionHandler.ts
  containers/bunkbot/src/core/conditions-refactored.ts
  containers/bunkbot/src/core/database-bot-factory.ts
  containers/bunkbot/src/core/llm-conditions.test.ts
  containers/bunkbot/src/core/llm-conditions.ts
  containers/bunkbot/src/index-refactored.ts
  containers/bunkbot/src/services/ServiceManager.ts
  containers/bunkbot/src/test-utils/testUtils.ts
  containers/djcova/package-lock.json
  containers/djcova/package.json
  containers/djcova/src/commandHandler.ts
  containers/djcova/src/commands/play.ts
  containers/djcova/src/commands/setVolume.ts
  containers/djcova/src/commands/status.ts
  containers/djcova/src/commands/stop.ts
  containers/djcova/src/djCova.ts
  containers/djcova/src/index.ts
  containers/djcova/src/utils/voiceUtils.ts
  containers/starbunk-dnd/src/commandHandler.ts
  containers/starbunk-dnd/src/commands/rpg.ts
  containers/starbunk-dnd/src/index.ts
  containers/starbunk-dnd/src/services/campaignService.ts
  containers/starbunk-dnd/src/services/fileStorageAdapter.ts
  containers/starbunk-dnd/src/services/llmService.ts
  containers/starbunk-dnd/src/services/noteService.ts
  containers/starbunk-dnd/src/services/storageService.ts
  containers/starbunk-dnd/tsconfig.json
Due: eslint --fix, prettier --write

fix(djcova,starbunk-dnd): add structural typing for chat input interactions and type guards; narrow InteractionCreate handler to unknown + guard
  containers/djcova/src/index.ts
  containers/starbunk-dnd/src/index.ts
Due: eslint --fix, prettier --write

bunkbot: stabilize live E2E and unit tests; reduce flakes, fix NiceBot name
  containers/bunkbot/src/reply-bots/banana-bot/triggers.ts
  containers/bunkbot/src/reply-bots/blue-bot/triggers.ts
  containers/bunkbot/src/reply-bots/chad-bot/triggers.ts
  containers/bunkbot/src/reply-bots/check-bot/constants.ts
  containers/bunkbot/src/reply-bots/e2e-status-bot/constants.ts
  containers/bunkbot/src/reply-bots/e2e-status-bot/index.ts
  containers/bunkbot/src/reply-bots/guy-bot/triggers.ts
  containers/bunkbot/src/reply-bots/nice-bot/constants.ts
  containers/bunkbot/src/reply-bots/sig-great-bot/triggers.ts
  containers/bunkbot/src/reply-bots/venn-bot/triggers.ts
  containers/bunkbot/tests/e2e/live-e2e.ts
  containers/bunkbot/tests/reply-bots/e2e-status-bot.test.ts
  containers/bunkbot/tests/reply-bots/nice-bot.test.ts
Due: eslint --fix, prettier --write

djcova: expose play command instantly in debug via per-guild registration; keep global registration in production
  containers/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

chore(djcova): fix TS types in guild registration error handling for CI
  containers/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

DJCova: expose play command instantly in debug (guild-scoped); keep global in production (#289)
  containers/djcova/src/commandHandler.ts
Due: eslint --fix, prettier --write

build(containers): use tsconfig.docker + build:docker; align Prisma CLI in bunkbot for CI container builds
  containers/bunkbot/Dockerfile
  containers/bunkbot/package.json
  containers/bunkbot/tsconfig.docker.json
  containers/covabot/Dockerfile
  containers/covabot/package.json
  containers/covabot/tsconfig.docker.json
  containers/djcova/Dockerfile
  containers/djcova/package.json
  containers/djcova/tsconfig.docker.json
  containers/starbunk-dnd/Dockerfile
  containers/starbunk-dnd/package.json
  containers/starbunk-dnd/tsconfig.docker.json
Due: prettier --write

ci(pre-push): add fast repo checks + targeted container builds to prevent CI regressions
  .gitignore
  .husky/pre-push
  scripts/pre-push.sh
Due: none

ci: sync package-lock for npm ci; tighten Containers CI path filtering (base/ref + job-level guards)
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): ensure full git history for paths-filter by setting fetch-depth: 0 in changes job (prevents false positives)
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): use root npm ci for workspaces; remove per-workspace npm ci to fix lockfile mismatch in BunkBot job
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): fix shared path to packages/shared and include triggers; unblock Build (shared) step in container jobs
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): point shared to containers/shared (not packages); fix Build (shared) working-dirs and triggers
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): install shared deps before building shared in container jobs; avoid module resolution failures
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): install container-local deps before tests; use build:docker for djcova/covabot to fix path/tsconfig issues
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(containers-ci): use normal build for covabot/djcova in CI; docker tsconfig not applicable in repo context
  .github/workflows/containers-ci.yml
Due: prettier --write

ci(pre-push): add fast repo checks + targeted container builds to prevent CI regressions (#291)
  .github/workflows/containers-ci.yml
  .gitignore
  .husky/pre-push
  containers/bunkbot/Dockerfile
  containers/bunkbot/package.json
  containers/bunkbot/tsconfig.docker.json
  containers/covabot/Dockerfile
  containers/covabot/package.json
  containers/covabot/tsconfig.docker.json
  containers/djcova/Dockerfile
  containers/djcova/package.json
  containers/djcova/tsconfig.docker.json
  containers/starbunk-dnd/Dockerfile
  containers/starbunk-dnd/package.json
  containers/starbunk-dnd/tsconfig.docker.json
  scripts/pre-push.sh
Due: prettier --write

ci(containers-ci): remove duplicate containers/shared path entries in triggers and filters
  .github/workflows/containers-ci.yml
Due: prettier --write
