Repository andrewgari/starbunk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add ffmpeg to Docker container for music bot functionality
  Dockerfile
Due: none

Add ffmpeg to Docker container for music bot (#148)
  Dockerfile
Due: none

update/debug-user-id
  src/config.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/starbunk/bots/voice-bots/guyChannelBot.ts
  src/starbunk/commands/raidWhen.ts
Due: eslint --fix, prettier --write

Update guild and channel references to use CovaDaxServer
  src/discord/guildIds.ts
  src/starbunk/bots/voice-bots/guyChannelBot.ts
  src/starbunk/commands/stop.ts
  src/webhooks/webhookService.ts
Due: eslint --fix, prettier --write

Update channelIds.ts structure
  src/discord/channelIds.ts
Due: eslint --fix, prettier --write

Make percentChance always return true in debug mode
  src/utils/random.ts
Due: eslint --fix, prettier --write

Add enhanced debug utilities and functionality
  src/services/logger.ts
  src/services/loggerAdapter.ts
  src/services/mockLogger.ts
  src/starbunk/commands/debug.ts
  src/utils/debug.ts
Due: eslint --fix, prettier --write

Add comprehensive debug utilities for bot responses, voice channels, API calls, events, and automated testing
  src/utils/apiDebug.ts
  src/utils/debugVisualization.ts
  src/utils/eventDebug.ts
  src/utils/testingSupport.ts
  src/utils/voiceDebug.ts
Due: eslint --fix, prettier --write

fixed logger
  src/starbunk/bots/__tests__/testUtils.ts
Due: eslint --fix, prettier --write

refactor: simplify bot import strategy - Remove dual URL/traditional import approach - Use direct import() with file paths - Clean up import logging - Fix TypeScript file imports in development mode
  package-lock.json
  package.json
  src/bunkbot.ts
  src/starbunk/starbunkClient.ts
Due: eslint --fix, prettier --write

refactor: consolidate logging system and fix type issues
  src/config.ts
  src/services/bootstrap.ts
  src/services/logger.ts
  src/services/loggerAdapter.ts
  src/services/loggerFactory.ts
  src/services/mockLogger.ts
  src/services/serviceRegistry.ts
  src/snowbunk/snowbunkClient.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/replyBot.ts
  src/starbunk/bots/voice-bots/guyChannelBot.ts
  src/starbunk/bots/voiceBot.ts
  src/starbunk/commands/debug.ts
  src/starbunk/commands/monkeySay.ts
  src/starbunk/commands/play.ts
  src/starbunk/djCova.ts
  src/starbunk/starbunkClient.ts
  src/utils/apiDebug.ts
  src/utils/debug.ts
  src/utils/eventDebug.ts
  src/utils/testingSupport.ts
  src/utils/voiceDebug.ts
  src/webhooks/webhookService.ts
Due: eslint --fix, prettier --write

fixed
  package.json
  scripts/claude-fix.sh
  scripts/fix-bot-tests.sh
  scripts/fix-tests.sh
  scripts/fix-unused-imports.sh
  scripts/update-bot-tests.sh
  scripts/update-tests.sh
Due: prettier --write

Reduce logging noise and implement granular log levels
  README.md
  package.json
  src/config.ts
  src/services/logger.ts
Due: eslint --fix, prettier --write

fix: resolve test issues and fix check:all failures
  jest.config.js
  scripts/claude-fix.sh
  scripts/test-passing.sh
  src/services/bootstrap.ts
  src/services/logger.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  test-fix-summary.md
Due: eslint --fix, prettier --write

did it
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-push
  .githooks/pre-rebase
  hook-setup.sh
  package-lock.json
  package.json
Due: prettier --write

fix: service registration and test improvements
  .cursor/rules/error-handling.mdc
  .cursor/rules/performance.mdc
  .eslintrc.json
  src/openai/openaiClient.ts
  src/services/bootstrap.ts
  src/services/logger.ts
  src/services/serviceRegistrar.ts
  src/services/serviceRegistry.ts
  src/services/services.ts
  src/snowbunk/snowbunkClient.test.ts
  src/starbunk/bots/__tests__/attitudeBot.test.ts
  src/starbunk/bots/__tests__/babyBot.test.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/botBot.test.ts
  src/starbunk/bots/__tests__/chaosBot.test.ts
  src/starbunk/bots/__tests__/checkBot.test.ts
  src/starbunk/bots/__tests__/ezioBot.test.ts
  src/starbunk/bots/__tests__/gundamBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
  src/starbunk/bots/__tests__/holdBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/musicCorrectBot.test.ts
  src/starbunk/bots/__tests__/niceBot.test.ts
  src/starbunk/bots/__tests__/pickleBot.test.ts
  src/starbunk/bots/__tests__/replyBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/sigGreatBot.test.ts
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/replyBot.ts
  src/webhooks/types.ts
  src/webhooks/webhookService.ts
Due: eslint --fix, prettier --write

fix: shell script issues
  scripts/fix-bot-tests.sh
  scripts/fix-tests.sh
  scripts/test-passing.sh
Due: none

fix: remaining shell script issues
  scripts/fix-bot-tests.sh
  scripts/fix-tests.sh
Due: none

fix: final shell script cleanup
  scripts/fix-tests.sh
Due: none

fix(tests): fix TypeScript errors in test files
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/guyBot.test.ts
Due: eslint --fix, prettier --write

fix(tests): fix TypeScript errors in test files
  src/services/services.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/webhooks/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(tests): i fixed the rest of the tests
  src/services/services.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/reply-bots/attitudeBot.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
Due: eslint --fix, prettier --write

feat(spider-bot): add positive response for correct hyphen usage
  src/starbunk/bots/__tests__/spiderBot.test.ts
  src/starbunk/bots/config/spiderBotConfig.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
Due: eslint --fix, prettier --write

docs: cursor rules and old scripts
  .cursor/rules/style.mdc
  .cursor/rules/typescript.mdc
  scripts/claude-fix.sh
  scripts/fix-bot-tests.sh
  scripts/fix-tests.sh
  scripts/fix-unused-imports.sh
  scripts/update-bot-tests.sh
  scripts/update-tests.sh
Due: none

refactor: replybot
  src/services/services.ts
  src/starbunk/bots/replyBot.ts
Due: eslint --fix, prettier --write

update: reply-bots updated
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/replyBot.test.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  src/starbunk/bots/config/bananaBotConfig.ts
  src/starbunk/bots/reply-bots/attitudeBot.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/botBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/sigGreatBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
Due: eslint --fix, prettier --write

fix: seemingly working
  process-env.d.ts
  src/bunkbot.ts
  src/config.ts
  src/services/bootstrap.ts
  src/services/logger.ts
  src/services/services.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/replyBot.ts
  src/types/module-alias.d.ts
Due: eslint --fix, prettier --write

fix: openai
  .cursor/rules/architecture.mdc
  .cursor/rules/discord.mdc
  .cursor/rules/error-handling.mdc
  .cursor/rules/performance.mdc
  .cursor/rules/spot-check.mdc
  .cursor/rules/style.mdc
  .cursor/rules/typescript.mdc
  fix-imports.js
  package-lock.json
  package.json
  src/bunkbot.ts
  src/openai/openaiClient.ts
  src/services/bootstrap.ts
  src/services/container.ts
  src/services/logger.ts
  src/services/openai.ts
  src/services/services.ts
  src/starbunk/bots/reply-bots/attitudeBot.ts
  src/starbunk/bots/reply-bots/babyBot.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
  src/types/module-alias.d.ts
  src/webhooks/webhookService.ts
  tsconfig-check.json
  update-bots.js
  update-bots.sh
Due: eslint --fix, prettier --write

fix: linted and testd
  src/openai/openaiClient.ts
  src/starbunk/bots/__tests__/bananaBot.test.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/__tests__/macaroniBot.test.ts
  src/starbunk/bots/__tests__/sheeshBot.test.ts
  src/starbunk/bots/__tests__/testUtils.ts
  src/starbunk/bots/__tests__/vennBot.test.ts
  src/starbunk/bots/config/spiderBotConfig.ts
  src/starbunk/bots/reply-bots/blueBot.ts
  src/starbunk/bots/reply-bots/chaosBot.ts
  src/starbunk/bots/reply-bots/checkBot.ts
  src/starbunk/bots/reply-bots/ezioBot.ts
  src/starbunk/bots/reply-bots/gundamBot.ts
  src/starbunk/bots/reply-bots/holdBot.ts
  src/starbunk/bots/reply-bots/macaroniBot.ts
  src/starbunk/bots/reply-bots/musicCorrectBot.ts
  src/starbunk/bots/reply-bots/niceBot.ts
  src/starbunk/bots/reply-bots/sheeshBot.ts
  src/starbunk/bots/reply-bots/spiderBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
Due: eslint --fix, prettier --write

fix: lint
  src/services/container.ts
  src/services/openai.ts
  src/services/services.ts
Due: eslint --fix, prettier --write

fix: old scripts
  fix-imports.js
  scripts/test-passing.sh
  update-bots.js
  update-bots.sh
Due: none

fix: openai
  package-lock.json
  src/starbunk/bots/reply-bots/blueBot.ts
Due: eslint --fix, prettier --write

fix: openai api works now
  .vscode/launch.json
  package-lock.json
  package.json
  src/bunkbot.ts
  src/config.ts
  src/openai/openaiClient.ts
  src/services/container.ts
  src/services/openai.ts
  src/services/services.ts
  src/starbunk/bots/__tests__/blueBot.test.ts
  src/starbunk/bots/reply-bots/blueBot.ts
Due: eslint --fix, prettier --write

feat(bots): add InterruptBot implementation and fix tests
  jest.config.js
  src/starbunk/bots/__tests__/interruptBot.test.ts
  src/starbunk/bots/config/interruptBotConfig.ts
  src/starbunk/bots/reply-bots/interruptBot.ts
Due: eslint --fix, prettier --write

fix(discord): update Logger import in discordGuildMemberHelper
  src/discord/discordGuildMemberHelper.ts
Due: eslint --fix, prettier --write

fix: update InterruptBot logic and fix guild IDs
  src/discord/guildIds.ts
  src/starbunk/bots/reply-bots/bananaBot.ts
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/pickleBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
Due: eslint --fix, prettier --write

fix: bluebot was searching for a shoddy list of blue words
  src/starbunk/bots/reply-bots/blueBot.ts
Due: eslint --fix, prettier --write

fix: doesn't trigger on guy all the time.
  src/starbunk/bots/reply-bots/guyBot.ts
  src/starbunk/bots/reply-bots/vennBot.ts
Due: eslint --fix, prettier --write

fix: whitespace
  src/starbunk/bots/reply-bots/guyBot.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,yaml,md})
